{% block choice_widget_expanded %}
{% spaceless %}
   <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        {% if multiple %}
       <div class="checkbox">                 
        {% else %}           
        <div class="radio">              
        {% endif %}
        {{ form_widget(child) }}
        </div>
    {% endfor %}
       </div>
    
{% endspaceless %}
{% endblock choice_widget_expanded %}

{#{% block checkbox_widget %}
{% spaceless %}
{% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
    <label  for="{{ id }}">
        <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}
    </label>
{% endspaceless %}
{% endblock checkbox_widget %}#}

{% extends 'form_div_layout.html.twig' %}
{% block form_label %}
    {{ parent() }}

    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
     {% if help is defined %}
        <span style="">{{ help }}</span>
    {% endif %}
{% endblock %}

{% block radio_widget %}
{% spaceless %}
{% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
    <label  class="radio" for="{{ id }}">
        <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />{{ label|trans({}, translation_domain) }}
    </label>
{% endspaceless %}
{% endblock radio_widget %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
        <ul>
            {% for error in errors %}
                <li class="error-message">{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
