{% extends 'TraceBundle::layout.html.twig' %}

{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}

{% block stylesheets %} 
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <h3>Congradulations!</h3>
            <br>
            You have successfully answered all questions.
            <br>
            However make sure to upload all the requested documents before last date ({{expiry|localizeddate('medium', 'none')}})
        </div>
    </div>
{% endblock %}      

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}