{% extends 'TraceBundle::layout.html.twig' %}

{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}

{% block stylesheets %} 
    {{ parent() }} 
    <style>
        .flash {
            border-top: 1px solid;
            margin: 0 0 10px 0;
            padding: 10px 0px;

            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
        }

        .flash-success {
            background-color: #9AE711;
            font-weight: bold;
            text-align: center;
            padding: 5px;
            margin: 15px;
        }

        .flash-warning {
            color: #FFF;
            background-color: #fac32c;
        }

        .flash-error {
            color: #FFF;
            background-color: #f7541c;
            font-weight: bold;
            text-align: center;
            padding: 5px;
            margin: 15px;
        }
        .navbar-default .navbar-nav > li > a {
           color:#337ab7;
        }
    </style>
{% endblock %}  

{% block content %}
        <nav id="topnav" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#"><img id="brand-logo" src="{{ asset('bundles/trace/img/logo-epita.png') }}" width="50" height="50" alt="easyRECrue" title="easyRECrue" /></a>
            </div>

            <div id="navbar-links-collapse" class="collapse navbar-collapse text-center">
                <ul class="nav navbar-nav navbar-center">
                    <li>
                        <a>Step 4/4: Documents</a>
                    </li>  
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>{{campaign.campaigntitle}}</a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
    {% for flashMessage in app.session.flashbag.get('uploadsuccess') %}        
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('documentfailure') %}        
        <div class="flash-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}        
        <div class="flash-error">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <br>
    {{ form_start(form, {'method': 'post', 'action': path('startinterviewpage', {'uniquecode': uniquecode}), 'attr': {'class': '','novalidate': 'novalidate'}}) }}
        <div class="row">  
            <div class="col-sm-2">{{ form_label(form.filename) }}</div>
            <div class="col-sm-2">{{ form_widget(form.filename) }}</div>
            <div class="col-sm-4">{{ form_errors(form.filename) }}</div> 
        </div>
        <br>
        <div class="row">  
            <div class="col-sm-2">{{ form_label(form.attachment) }}</div>
            <div class="col-sm-2">{{ form_widget(form.attachment) }}</div>
            <div class="col-sm-4">{{ form_errors(form.attachment) }}</div> 
        </div>
        <br>
        <div class="row">  
            <div class="col-sm-offset-2 col-sm-2">
                <input class="btn btn-primary" type="submit" value="Upload Document" id="submit">
            </div>
        </div>
    {{ form_end(form) }}
    <br>
    <br>
    <h3>Uploaded documents</h3>
    {% for flashMessage in app.session.flashbag.get('removesuccess') %}        
        <div class="flash-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {{ form_start(form1, {'method': 'post', 'action': path('startinterviewpage', {'uniquecode': uniquecode}), 'attr': {'class': '','novalidate': 'novalidate'}}) }}
    {% for file in form1.filename.children %}
        <div class="row">
            <a href="{{ asset("campaign/") ~ campaign.id ~ "/applicant/" ~ applicant.id ~ "/" ~ file.vars.label  }}" target="_blank">
            <div class="col-sm-offset-2 col-sm-2">
                {{ form_widget(file) }}
            </div>
            </a>
        </div>
    {% endfor %}
        <div class="row">  
            <div class="col-sm-offset-2 col-sm-2">
                <input class="btn btn-primary" type="submit" value="Delete Document" id="submit">
            </div>
        </div>    
        <br>
        <br>
        <div class="row">  
            <div class="col-sm-2">
                <a href="{{path('pendingdocumentspage', {'uniquecode': uniquecode})}}">Submit my documents later...</a>
            </div>
            <div class="col-sm-2">
                <input class="btn btn-success" type="submit" value="Submit-Application" name="doc">
            </div>
        </div>
    {{ form_end(form1) }}
    </div>
{% endblock %}    

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}