{% extends 'TraceBundle::layout.html.twig' %}

{% block stylesheets %}   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css"> 
<link href="{{ asset('bundles/trace/css/recruiter.css') }}" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link href="{{ asset('bundles/trace/css/bootstrap-autosave.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{% block content %}
{% include 'TraceBundle:Home:headerpage.html.twig' %} 
<br>
<div class="container">  
{% include 'TraceBundle:Campaign:addcampaignheaderlive.html.twig' %}
<br>
<br>
<div class="campaign" data-campaign-id="{{ campaign.id }}">
<div class="row">
{{ tinymce_init() }}     
<div class="col-sm-6">
    <a class="btn btn-xs btn-default pull-right" href="" target="_blank">
        <span class="glyphicon glyphicon-search"></span>
    </a>
    <label class="control-label">Home page <span class="mandatory">*</span></label>
    <span class="glyphicon glyphicon-question-sign" data-original-title="Introduction shown to the applicant before the interview" data-placement="right" data-toggle="tooltip"></span>

    <textarea class="ajax-form form-control tiny-content" name="live_txt_intro" rows="5" >
    </textarea>
</div>
<div class="col-sm-6">
    <label class="control-label">Thank-you page <span class="mandatory">*</span></label>
    <span class="glyphicon glyphicon-question-sign" data-original-title="Thanks displayed to the applicant at the end of the interview" data-placement="right" data-toggle="tooltip"></span>

    <textarea class="ajax-form form-control tiny-content" name="live_txt_outro" rows="5" >
    </textarea>
</div>
</div>
</div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {#<script src="{{ asset('bundles/trace/js/dropzone.js') }}"></script>#}
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.4/jquery.tinymce.min.js"></script> 
{#    <script src="{{ asset('bundles/trace/js/jquery.datetimepicker.full.min.js') }}"></script> #}
    <script src="{{ asset('bundles/trace/js/bootstrap-autosave.js') }}"></script>
    <script src="{{ asset('bundles/trace/js/live.js') }}"></script>
{% endblock %}    