{% extends 'TraceBundle::layout.html.twig' %}

{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}

{% block stylesheets %} 
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('bundles/trace/css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/trace/css/common.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/trace/css/recruiter.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/trace/css/star-rating-svg.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
        <div id="applicant" data-applicant-id="{{applicant.id}}">
        <div class="row text-center">
            Welcome to live interview
        </div>
        <div class="row text-center">
            <div class="col-sm-offset-2">
            <div id="otEmbedContainer" style="width:800px; height:640px"></div>
              <script src="{{'https://tokbox.com/embed/embed/ot-embed.js?embedId=473a6b7a-c592-453a-ba47-4596ef988083&room='~uniquecode}}"></script>
            </div>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="col-sm-offset-2">    
            <div class="candidate-evaluation">
                <div id="stars">
                    <div class="col col-md-6 mb-1">
                        <h5 class="bold">Interview evaluation</h5>
                    </div>
                    <div class="col col-md-6 mb-1">
                        <h5 class="bold">
                            Average grade: <span id="average-rating">0.0</span> / 5
                        </h5>
                    </div>

                    {% for criterion in campaign.evaluationcriteria %}
                    <div class="col col-md-6 eval-block stars">
                        <div class="evaluation-criteria">
                            <p>{{criterion.criterion}}</p>
                            &nbsp;
                            <div data-criterion-id="{{criterion.id}}" class="{{'my-rating criterion'~criterion.id}}"></div>
                        </div>
                    </div>
                    {% endfor %}             

                </div>
            </div>
        </div>
        <div id="candidate-bottom-zone" class="row">
            <div id="candidate-comments" class="col-md-9 p-2">
                <div class="px-1 mb-2">
                    <h5 class="inline text-uppercase"><b>Opinion and comments</b></h5>
                </div>

                <div class="row">
                    <textarea id="comment" class="form-control mb-2" name="content" rows="4"></textarea>
                    <br>
                    <button id="publish-comment" class="btn btn-success pull-right px-3">Publish</button>
                </div>
                <br>
                <ul id="comment-list">
                    {% for comment in applicant.comments %}
                        <div class="{{'row'~comment.id}}">
                            <div class="col-md-10">    
                                <li class="comments" data-comment-id="{{comment.id}}">{{comment.value}}</li>
                            </div>
                            <div class="col-md-2">
                                <span id="{{comment.id}}" class="remove-comment glyphicon glyphicon-remove"></span>
                            </div>
                        </div>
                    {% endfor %}        
                </ul>            
            </div>
            <br>
            <div id="candidate-actions" class="col-md-3 p-2">                            
                <a class="btn btn-lg btn-success" href="{{path('shortlistpage',{'applicantid': applicant.id})}}">    
                    <span class="glyphicon glyphicon-ok"></span> <span id="folder-shortlist-btn"> Shortlist</span>
                </a>
                <a class="btn btn-lg btn-danger" href="{{path('rejectedpage',{'applicantid': applicant.id})}}">    
                    <span class="glyphicon glyphicon-remove"></span> <span id="folder-shortlist-btn"> Reject</span>
                </a>
                <br>
                <br>
                <a class="btn btn-lg btn-default" href="{{path('pendingevaluationpage',{'applicantid': applicant.id})}}">    
                    <span class="glyphicon glyphicon-folder-open"></span> <span id="folder-shortlist-btn"> Evaluate later</span>
                </a>
                <br>    
                <br>    
                <a class="btn btn-lg btn-warning" href="{{path('archivepage',{'applicantid': applicant.id})}}">
                    <span class="glyphicon glyphicon-folder-close"></span> <span id="folder-archive-btn"> Suspend application</span>
                </a>    
                <hr>

               {# <a class="btn btn-default btn-block mb-1 invite-live " href="/live/scheduler?application_id=591555" data-toggle="ajax-modal">
                    <span class="glyphicon glyphicon-flash"></span> Invite to a live				</a>
                <a class="btn btn-default btn-block mb-1 share-candidate" data-toggle="ajax-modal" href="/share/new?ids[]=591555">
                    <span class="glyphicon glyphicon-share-alt"></span> Share this application            </a>
                <a class="btn btn-default btn-block mb-1 share-link" data-toggle="ajax-modal" href="/share/link?ids[]=591555">
                    <span class="glyphicon glyphicon-link"></span> Obtain a link                </a>
                <a class="btn btn-default btn-block mb-1 write-email" data-toggle="ajax-modal" href="/mail/new?campaign_id=21065&amp;to%5B0%5D=591555">
                    <span class="glyphicon glyphicon-envelope"></span> Write an e-mail		</a>#}
            </div>
        </div>
        {% else %}
            <br>
            <br>
            <div class="row">
                <div class="col-sm-offset-5 col-sm-2 text-center">
                    <a class="btn btn-lg btn-primary" href="#">Exit</a>
                </div>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}      

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/trace/js/jquery.star-rating-svg.js') }}"></script>
    <script>
    $(document).ready(function () {    
        var applicantid = $('#applicant').attr('data-applicant-id');
        var criterionelements = document.getElementsByClassName("my-rating");
        //loop through the collection
        for (var i = 0; i < criterionelements.length; i++) {
            (function (i) {
                var criterionid = criterionelements[i].getAttribute('data-criterion-id');
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('ratingpage'),
                    contentType: 'application/x-www-form-urlencoded',
                    data: {applicant_id: applicantid, criterion_id: criterionid, flag: 'loadrating'},
                    success: function (result, status, xhr) {
                        res = JSON.parse(result);
                        $('#average-rating').text(res['average']);
                        $('.criterion'+criterionid).starRating('setRating', res['rating']);
                    },
                    error: function (xhr, status, error) {
                        console.log(status);
                    }
                });
            })(i);
        }
        
        $(document).on('click', "#publish-comment", function (e) {
            e.preventDefault();
            var value = $('#comment').val();
            $.ajax({
                type: 'POST',
                url: Routing.generate('commentpage',{applicantid: applicantid}),
                contentType: 'application/x-www-form-urlencoded',
                data: {value: value, flag: 'addcomment'},
                success: function (result, status, xhr) {
                    res = JSON.parse(result);
                    $('#comment-list').append(res);
                    $('#comment').val('');
                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
            });
        });
        
        $(document).on('click', '.remove-comment', function (e) {
            e.preventDefault();
            var commentid = $(this).attr("id");
            $.ajax({
                type: 'POST',
                url: Routing.generate('commentpage',{applicantid: applicantid}),
                contentType: 'application/x-www-form-urlencoded',
                data: {comment_id: commentid, flag: 'deletecomment'},
                success: function (result, status, xhr) {
                    res = JSON.parse(result);
                    if (res == 'success') {
                        $("#comment-list .row" + commentid).remove();
                    }
                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
            });
        });
        
        $(document).on('click', '.comments', function (e) {
            e.preventDefault();
            var commentid = $(this).attr("data-comment-id");
            $("#comment-list .row" + commentid).children().hide();
            $("#comment-list .row" + commentid).append('<div id="edit"><div class="editable-input"><textarea id="edit-comment" class="form-control input-large" rows="5"></textarea></div><br><div class="editable-buttons editable-buttons-bottom pull-right"><button type="submit" class="btn btn-primary btn-sm editable-submit"><i class="glyphicon glyphicon-ok"></i></button>&nbsp;&nbsp;<button type="button" class="btn btn-default btn-sm editable-cancel"><i class="glyphicon glyphicon-remove"></i></button></div></div><br><br>');
            $('#edit-comment').val($(this).text());
            
            $(document).on('click', '.editable-cancel', function (e) {
                e.preventDefault();
                $('#edit').remove();
                $("#comment-list .row" + commentid).children().show();
            });
            
            $(document).on('click', '.editable-submit', function (e) {
                e.preventDefault();
                var value = $('#edit-comment').val();
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('commentpage',{applicantid: applicantid}),
                    contentType: 'application/x-www-form-urlencoded',
                    data: {comment_id: commentid, value: value, flag: 'editcomment'},
                    success: function (result, status, xhr) {
                        res = JSON.parse(result);
                        $("#comment-list .row" + commentid).children().remove();
                        $("#comment-list .row" + commentid).append(res);
                        $('#edit').remove();
                    },
                    error: function (xhr, status, error) {
                        console.log(status);
                    }
                });
            });            
        });
        
        $(".my-rating").starRating({
            starSize: 25,
            disableAfterRate: false,
            callback: function(currentRating, $el){
                var criterionid = $el.attr('data-criterion-id');
                
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('ratingpage'),
                    contentType: 'application/x-www-form-urlencoded',
                    data: {criterion_id: criterionid, applicant_id: applicantid, rating_value: currentRating, flag: 'editrating'},
                    success: function (result, status, xhr) {
                        res = JSON.parse(result);
                        $('#average-rating').text(res);
                    },
                    error: function (xhr, status, error) {
                        console.log(status);
                    }
                });
            }
        });
    });
    </script>
{% endblock %}