{% extends 'TraceBundle::layout.html.twig' %}
{#{% trans_default_domain 'FOSUserBundle' %}#}

{% block stylesheets %}   
 {{parent()}}
 <link href="{{ asset('bundles/trace/css/adminregistration.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %} 
    <div class="container">
        
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">
                <h1> {{'profile.title'|trans}}</h1> </legend>
        <div class="row">
            <div class="col-sm-12">    
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                {#{{ 'welcome'|trans }}#}
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p> 
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            </div>
        </div>
        </fieldset>        
    </div>
{% endblock %} 

{% block javascripts %}

{% endblock %}      