{% extends 'TraceBundle::layout.html.twig' %}
{% block stylesheets %} 
    {{ parent() }} 
    <link href="{{ asset('bundles/trace/css/adminregistration.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}     

{% block content %}       
    {% include 'TraceBundle:Home:headerpage.html.twig' %}    
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
            <h2>{{ campaign.campaigntitle }}</h2>
            <p>#{{ campaign.id }} created by {{campaign.client.firstname}} {{campaign.client.lastname}}</p>
            </div>
            <div style="padding-top: 20px" class="col-sm-4">
                <a class="btn btn-lg btn-default" href="{{path('loadgeneralpage',{'campaign_id': campaign.id})}}">Edit</a>
                <a class="btn btn-lg btn-warning" href="{{path('deletecampaign',{'campaign_id': campaign.id})}}">Delete</a>
                <a class="btn btn-lg btn-primary" href="{{path('duplicatecampaign',{'campaign_id': campaign.id})}}">Duplicate</a>
            </div>    
        </div>
        <br>
        <div class="row">
            <a class="btn btn-lg btn-primary" href="{{path('addapplicantpage',{'campaign_id': campaign.id})}}">Add Applicant</a>
            &nbsp;
            &nbsp;
            <a class="btn btn-lg btn-primary" href="{{path('extensionrequestlistpage')}}">Extension requests</a>
        </div>    
        <br><br>
        <div class="row">
            <ul class="nav nav-tabs">
              <li {% if status == 'ongoing' %}class="active"{% endif %}><a href="{{path('applicantlistpage',{'campaignid': campaign.id,'status':'ongoing'})}}">In Progress</a></li>
              <li {% if status == 'shortlisted' %}class="active"{% endif %}><a href="{{path('applicantlistpage',{'campaignid': campaign.id,'status':'shortlisted'})}}">Shortlist</a></li>
              <li {% if status == 'archived' %}class="active"{% endif %}><a href="{{path('applicantlistpage',{'campaignid': campaign.id,'status':'archived'})}}">Archived</a></li>
            </ul>
        </div>
        <br>    
        <div class="row text-center">
            <div class="col-sm-3"> 
                <h4>Candidate</h4>   
            </div>
            <div class="col-sm-3"> 
                <h4>Interview</h4>   
            </div>
            <div class="col-sm-3"> 
                <h4>Comments</h4>   
            </div>
        </div>    
        <hr>
        {% for pagination in pagination %}   
            <div class="row text-center">
                <div class="col-sm-3"> 
                    <h5>{{ pagination.firstname }}&nbsp;{{ pagination.lastname }}</h5>
                    {{ pagination.email }}   
                </div>
                <div class="col-sm-3"> 
                    {% if pagination.applicantstatus.id == 7 or pagination.applicantstatus.id == 9 or pagination.applicantstatus.id == 10 %}
                        <b>Finished</b>
                        <br>
                        Finished
                        <br>
                        on&nbsp;{{pagination.invitedate|localizeddate('medium', 'none')}}
                    {% else %}
                        <b>Pending</b>
                        <br>
                        Invitation
                        <br>
                        on&nbsp;{{pagination.invitedate|localizeddate('medium', 'none')}} 
                    {% endif %}   
                </div>
                <div class="col-sm-3"> 
                    {% if pagination.comments is empty %}
                    No Comments
                    {% else %}
                    <ul>
                    {% for comment in pagination.comments %}
                        <li>{{comment.value}}</li>
                    {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                <div class="col-sm-3">
                    <a class="btn btn-primary" href="{{path('viewinterviewpage',{'applicantid': pagination.id})}}"><span class="glyphicon glyphicon-menu-right"></span> View</a>
                </div>
            </div>        
        {% endfor %}
        <div class="row">
            <div class="navigation" align="center"> 
                {{ knp_pagination_render(pagination) }}                         
            </div>  
        </div>     
    </div>    
{% endblock %} 
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
{% endblock %}

