{% extends 'TraceBundle::layout.html.twig' %}
{% block stylesheets %} 
    {{ parent() }} 
    <link href="{{ asset('bundles/trace/css/adminregistration.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}     

{% block content %}       
    <div class="container">
    {{ form_start(form, {'method': 'post', 'action': path('publiclinkpage',{'campaignid': campaign.id}), 'attr': {'class': 'publiclinkpage','novalidate': 'novalidate'}}) }} 
        <fieldset class="scheduler-border">
        <div class="row text-center">
                <h4>Registration</h4>
        </div>
        <div class="row">           
            <div class="col-sm-12"> 
                {% for message in app.flashes('notice') %}
                    <div role="alert" class="alert alert-danger">
                                              <center><b> {{ message }} </b></center> 
                    </div>
                {% endfor %}
            </div> 
        </div>    
        <div class="row">
            <div class="col-sm-offset-3 col-sm-2">{{ form_label(form.firstname) }}</div>
            <div class="col-sm-3">{{ form_widget(form.firstname) }}</div>
            <div class="col-sm-3">{{ form_errors(form.firstname) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-3 col-sm-2">{{ form_label(form.lastname) }}</div>
            <div class="col-sm-3">{{ form_widget(form.lastname) }}</div>
            <div class="col-sm-3">{{ form_errors(form.lastname) }}</div>
        </div>
        <br>
        <div class="row">     
            <div class="col-sm-offset-3 col-sm-2">{{ form_label(form.email) }}</div>
            <div class="col-sm-3">{{ form_widget(form.email) }}</div>
            <div class="col-sm-3">{{ form_errors(form.email) }}</div>
        </div>
        <br>
        <div class="row">  
            <div class="col-sm-offset-3 col-sm-2">{{ form_label(form.phonenumber) }}</div>
            <div class="col-sm-3">{{ form_widget(form.phonenumber) }}</div>  
            <div class="col-sm-3">{{ form_errors(form.phonenumber) }}</div>
        </div> 
        <br>
{#        <input type="hidden" name="campaignid" value="{{campaign.id}}">#}
        <div class="row">
            <div class="col-sm-offset-5 col-sm-2"><button type="submit" class="btn btn-success" value="Submit">Invite to pre-recorded</button></div>      
        </div>
        </fieldset>
    {{ form_end(form) }}    
    </div>    
{% endblock %} 
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
{% endblock %}

