{% extends 'TraceBundle::layout.html.twig' %}

{% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}        
        
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/trace/js/jquery.star-rating-svg.js') }}"></script>
    <script>
    $(document).ready(function () {    
        var applicantid = $('#applicant').attr('data-applicant-id');
        var criterionelements = document.getElementsByClassName("my-rating");
        //loop through the collection
        for (var i = 0; i < criterionelements.length; i++) {
            (function (i) {
                var criterionid = criterionelements[i].getAttribute('data-criterion-id');
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('ratingpage'),
                    contentType: 'application/x-www-form-urlencoded',
                    data: {applicant_id: applicantid, criterion_id: criterionid, flag: 'loadrating'},
                    success: function (result, status, xhr) {
                        res = JSON.parse(result);
                        $('#average-rating').text(res['average']);
                        $('.criterion'+criterionid).starRating('setRating', res['rating']);
                    },
                    error: function (xhr, status, error) {
                        console.log(status);
                    }
                });
            })(i);
        }
        
        $(document).on('click', "#publish-comment", function (e) {
            e.preventDefault();
            var value = $('#comment').val();
            $.ajax({
                type: 'POST',
                url: Routing.generate('commentpage',{applicantid: applicantid}),
                contentType: 'application/x-www-form-urlencoded',
                data: {value: value, flag: 'addcomment'},
                success: function (result, status, xhr) {
                    res = JSON.parse(result);
                    $('#comment-list').append(res);
                    $('#comment').val('');
                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
            });
        });
        
        $(document).on('click', '.remove-comment', function (e) {
            e.preventDefault();
            var commentid = $(this).attr("id");
            $.ajax({
                type: 'POST',
                url: Routing.generate('commentpage',{applicantid: applicantid}),
                contentType: 'application/x-www-form-urlencoded',
                data: {comment_id: commentid, flag: 'deletecomment'},
                success: function (result, status, xhr) {
                    res = JSON.parse(result);
                    if (res == 'success') {
                        $("#comment-list .row" + commentid).remove();
                    }
                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
            });
        });
        
        $(document).on('click', '.comments', function (e) {
            e.preventDefault();
            var commentid = $(this).attr("data-comment-id");
            $("#comment-list .row" + commentid).children().hide();
            $("#comment-list .row" + commentid).append('<div id="edit"><div class="editable-input"><textarea id="edit-comment" class="form-control input-large" rows="5"></textarea></div><br><div class="editable-buttons editable-buttons-bottom pull-right"><button type="submit" class="btn btn-primary btn-sm editable-submit"><i class="glyphicon glyphicon-ok"></i></button>&nbsp;&nbsp;<button type="button" class="btn btn-default btn-sm editable-cancel"><i class="glyphicon glyphicon-remove"></i></button></div></div><br><br>');
            $('#edit-comment').val($(this).text());
            
            $(document).on('click', '.editable-cancel', function (e) {
                e.preventDefault();
                $('#edit').remove();
                $("#comment-list .row" + commentid).children().show();
            });
            
            $(document).on('click', '.editable-submit', function (e) {
                e.preventDefault();
                var value = $('#edit-comment').val();
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('commentpage',{applicantid: applicantid}),
                    contentType: 'application/x-www-form-urlencoded',
                    data: {comment_id: commentid, value: value, flag: 'editcomment'},
                    success: function (result, status, xhr) {
                        res = JSON.parse(result);
                        $("#comment-list .row" + commentid).children().remove();
                        $("#comment-list .row" + commentid).append(res);
                        $('#edit').remove();
                    },
                    error: function (xhr, status, error) {
                        console.log(status);
                    }
                });
            });            
        });
        
        $(".my-rating").starRating({
            starSize: 25,
            disableAfterRate: false,
            callback: function(currentRating, $el){
                var criterionid = $el.attr('data-criterion-id');
                
                $.ajax({
                    type: 'POST',
                    url: Routing.generate('ratingpage'),
                    contentType: 'application/x-www-form-urlencoded',
                    data: {criterion_id: criterionid, applicant_id: applicantid, rating_value: currentRating, flag: 'editrating'},
                    success: function (result, status, xhr) {
                        res = JSON.parse(result);
                        $('#average-rating').text(res);
                    },
                    error: function (xhr, status, error) {
                        console.log(status);
                    }
                });
            }
        });
    });
    </script>
{% endblock %}

{% block content %}       
    {% include 'TraceBundle:Home:headerpage.html.twig' %}  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('bundles/trace/css/main.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/trace/css/common.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/trace/css/recruiter.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('bundles/trace/css/star-rating-svg.css') }}" type="text/css" rel="stylesheet" />

    <div id="content-container" class="container">
            <div id="applicant" data-applicant-id="{{applicant.id}}">
                <div class="hidden nav-title" data-active-navlink="campaign"></div>
                <div class="row box" id="candidate-nav">
                    <div id="candidate-nav-title" class="col-md-2">
                        <a href="{{path('applicantlistpage',{'campaignid': campaign.id})}}" id="candidate-return-btn">
                            <span class="glyphicon glyphicon-menu-left"></span> Back to the list        </a>
                    </div>
                </div>
                            
                <div class="box box-sub clearboth">
                    <div id="profil">
                        <div class="row">
                            <div class="col-md-2">
                                <img alt="{{applicant.firstname}} {{applicant.lastname}}" id="profil-picture" src="#" class="img-thumbnail" title="Profile photo">
                            </div>

                            <div id="profil-info" class="col-md-10">
                                <div>
                                    <h1 class="editable pull-left editable-click" data-name="name" data-pk="580808" data-type="text" data-title="Edit">{{applicant.firstname}}&nbsp;{{applicant.lastname}}</h1>&nbsp;<small class="glyphicon glyphicon-pencil editable-marker hidden"></small>

                                    <div class="clearboth"></div>
                                </div>

                                <div class="mt-2 mb-1">
                                    <span class="glyphicon glyphicon-envelope profil-icon"></span>
                                    <span class="icon-separator">{{ applicant.email }}</span>
                                    &nbsp;
                                    <span class="glyphicon glyphicon-phone profil-icon"></span>
                                    <span class="icon-separator">{{ applicant.phonenumber }}</span>
                                </div>

                                <hr>

                                <table id="candidate-table">
                                    <thead>
                                        <tr class="text-uppercase">
                                            <th>Position</th>
                                            <th>Status</th>
                                            <th>Latest action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{campaign.campaigntitle}}</td>
                                            <td>{{applicant.applicantstatus.value}}</td>
                                            <td>{{applicant.statusupdatedon|localizeddate('medium', 'short')}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                            
                                <hr>
                                
                                <div class="row">
                                    <div class="col-sm-12">
                                        <b>Uploaded Documents</b>
                                        <br>
                                        <br>
                                        {% for cdr in applicant.campaigndocumentresponses %}
                                            <div class="row">
                                                {#<div class="col-sm-2">
                                                    {% set array = cdr.value|split('.') %} 
                                                    {% if array[1] == 'pdf' %}
                                                    <embed src="{{ asset("campaign/")~ campaign.id ~ "/applicant/" ~ applicant.id ~ "/" ~ cdr.value  }}" alt="{{ cdr.value }}" class="img-thumbnail" width="90" height="66" />      
                                                    {% else %}
                                                    <img src="{{ asset("campaign/")~ campaign.id ~ "/applicant/" ~ applicant.id ~ "/" ~ cdr.value  }}" alt="{{ cdr.value }}" class="img-thumbnail" width="100%" height="150px" />  
                                                    {% endif %}
                                                </div>#}
                                                <div class="col-sm-2">
                                                    <a href="{{ asset("campaign/")~ campaign.id ~ "/applicant/" ~ applicant.id ~ "/" ~ cdr.value  }}" target="_blank">{{ cdr.value }}</a>
                                                </div> 
                                                <div class="col-sm-1">  
                                                    <a class="btn-link" style="text-decoration: none" href="{{ path('deletecdrpage', {'id': cdr.id }) }}"><span class="remove-comment glyphicon glyphicon-remove"></span></a>    
                                                </div>
                                            </div>
                                            <br>
                                        {% endfor %}
                                    </div>
                                </div>    
                                
                                <hr>
                                
                            </div>
                        </div>

                        <div class="row" id="profil-tabs">
                            <ul class="nav nav-pills col-md-4">
                                <li class="active"><a class="text-uppercase" href="{{path('viewinterviewpage',{'applicantid': applicant.id})}}">Pre-recorded</a></li><li class="disabled"><a class="text-uppercase">Live</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="box box-sub">
                    <div class="row">
                        <div id="candidate-left-zone" class="col-md-6 table-container">
                            <div id="clz-up-arrow" class="text-center hidden" style="display: block;"><span class="glyphicon glyphicon-menu-up py-1"></span></div>
                            <div id="js-list-container">
                                <div id="clz-list" style="max-height: 700px;">
                                    {% for cqr in cqrs %}
                                    <div id="{{cqr.question.id}}" class="clz-item video-item question-video selected">
                                        <h5 class="text-uppercase">Question no.{{cqr.question.sortorder}}</h5>
                                        <span class="icon-separator">
                                            Response&nbsp;
                                            {% if cqr.question.responsetype == 1 %}
                                            Text
                                            {% elseif cqr.question.responsetype == 2 %}
                                            Date
                                            {% elseif cqr.question.responsetype == 3 %}
                                            Video
                                            {% elseif cqr.question.responsetype == 4 %}
                                            Choice
                                            {% endif %}
                                        </span>
                                        <p>{{cqr.question.question}}</p>
                                        <p class="answer text-muted" dir="auto">{{cqr.value}}</p>
                                    </div>
                                    <hr>
                                    {% endfor %}
                                </div>
                            </div>
                            <div id="clz-down-arrow" class="text-center"><span class="glyphicon glyphicon-menu-down py-1"></span></div>
                        </div>
                                
                        <div class="col-md-6 p-0">
                            <div class="candidate-scoring">
                                <div id="video-area">

                                    <div id="video-answer" class="text-center" style="width: 549px; height: 320px;">
                                        <div class="videoplayer-wrapper" style="max-width: 550px;">
                                            <div preload="none" class="video-js vjs-default-skin vjs-big-play-centered vjs-paused vjs-controls-enabled vjs-user-inactive" id="videoplayer-5b851dd521a27" style="width: 549px; height: 319.418px;">
                                                <video id="videoplayer-5b851dd521a27_html5_api" class="vjs-tech" preload="auto" src="https://static.easyrecrue.com/clients/570_ba190de56c2c58765bad8c2d86f3259c/campaigns/23046_286bdcff6ff8957b89416758ef6fcf53/candidates/556655_0dc00c913fd61e262231f0ed9997f235/videos/556655-173936.mp4?t=1535450581">

                                                </video>
                                                <div></div>
                                                <div class="vjs-poster vjs-hidden" tabindex="-1">

                                                </div>
                                                <div class="vjs-loading-spinner">

                                                </div><div class="vjs-text-track-display vjs-hidden"></div>
                                                <div class="vjs-big-play-button" role="button" aria-live="polite" tabindex="0" aria-label="play video">
                                                    <span aria-hidden="true">

                                                    </span>
                                                </div>
                                                <div class="vjs-control-bar">




                                                    <div class="vjs-progress-control vjs-control">
                                                        <div role="slider" aria-valuenow="NaN" aria-valuemin="0" aria-valuemax="100" tabindex="0" class="vjs-progress-holder vjs-slider" aria-label="video progress bar" aria-valuetext="0:00">
                                                            <div class="vjs-load-progress" style="width: 100%;">

                                                            </div>


                                                        </div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>     

                                    </div>

                                </div>
                            </div>
                            <br>  
                            <div class="candidate-evaluation">
                                <div id="stars">
                                    <div class="col col-md-6 mb-1">
                                        <h5 class="bold">Interview evaluation</h5>
                                    </div>
                                    <div class="col col-md-6 mb-1">
                                        <h5 class="bold">
                                            Average grade: <span id="average-rating">0.0</span> / 5
                                        </h5>
                                    </div>
                                    
                                    {% for criterion in campaign.evaluationcriteria %}
                                    <div class="col col-md-6 eval-block stars">
                                        <div class="evaluation-criteria">
                                            <p>{{criterion.criterion}}</p>
                                            &nbsp;
                                            <div data-criterion-id="{{criterion.id}}" class="{{'my-rating criterion'~criterion.id}}"></div>
                                        </div>
                                    </div>
                                    {% endfor %}             

                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="candidate-bottom-zone" class="row">
                        <div id="candidate-comments" class="col-md-9 p-2">
                            <div class="px-1 mb-2">
                                <h5 class="inline text-uppercase"><b>Opinion and comments</b></h5>
                            </div>

                            <div class="row">
                                <textarea id="comment" class="form-control mb-2" name="content" rows="4"></textarea>
                                <br>
                                <button id="publish-comment" class="btn btn-success pull-right px-3">Publish</button>
                            </div>
                            <br>
                            <ul id="comment-list">
                                {% for comment in applicant.comments %}
                                    <div class="{{'row'~comment.id}}">
                                        <div class="col-md-10">    
                                            <li class="comments" data-comment-id="{{comment.id}}">{{comment.value}}</li>
                                        </div>
                                        <div class="col-md-2">
                                            <span id="{{comment.id}}" class="remove-comment glyphicon glyphicon-remove"></span>
                                        </div>
                                    </div>
                                {% endfor %}        
                            </ul>            
                        </div>
                        <br>
                        <div id="candidate-actions" class="col-md-3 p-2">                            
                            <a class="btn btn-lg btn-warning" href="{{path('archivepage',{'applicantid': applicant.id})}}">
                                <span class="glyphicon glyphicon-folder-close"></span> <span id="folder-archive-btn"> Archive</span>
                            </a>
                            <a class="btn btn-lg btn-success" href="{{path('shortlistpage',{'applicantid': applicant.id})}}">    
                                <span class="glyphicon glyphicon-ok"></span> <span id="folder-shortlist-btn"> Shortlist</span>
                            </a>
                            <hr>

                           {# <a class="btn btn-default btn-block mb-1 invite-live " href="/live/scheduler?application_id=591555" data-toggle="ajax-modal">
                                <span class="glyphicon glyphicon-flash"></span> Invite to a live				</a>
                            <a class="btn btn-default btn-block mb-1 share-candidate" data-toggle="ajax-modal" href="/share/new?ids[]=591555">
                                <span class="glyphicon glyphicon-share-alt"></span> Share this application            </a>
                            <a class="btn btn-default btn-block mb-1 share-link" data-toggle="ajax-modal" href="/share/link?ids[]=591555">
                                <span class="glyphicon glyphicon-link"></span> Obtain a link                </a>
                            <a class="btn btn-default btn-block mb-1 write-email" data-toggle="ajax-modal" href="/mail/new?campaign_id=21065&amp;to%5B0%5D=591555">
                                <span class="glyphicon glyphicon-envelope"></span> Write an e-mail		</a>#}
                        </div>
                    </div>
                </div>
            </div>
</div>                 
                
{% endblock %} 


