{% extends 'TraceBundle::layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }}   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{{ asset('bundles/trace/css/recruiter.css') }}" type="text/css" rel="stylesheet" /> 
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/trace/css/dropzone.css') }}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
<link href="{{ asset('bundles/trace/css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ asset('bundles/trace/css/bootstrap-autosave.css') }}" type="text/css" rel="stylesheet" />
<style>
    /* Style tab links */
.tablink {
    background-color: white;
    color: #AFB1B2;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: none;
    padding: 100px 20px;
    height: 100%;
}
</style>
{% endblock %}

{% block content %}
    {% include 'TraceBundle:Home:headerpage.html.twig' %}
    <br>
<div class="container">
    {% include 'TraceBundle:Campaign:addcampaignheaderprerecorded.html.twig' %}
    <br>
    <br>
    <div class="campaign" data-campaign-id="{{ campaign.id }}">
    
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <button class="tablink questionaire-btn" onclick="openPage('Questionaire', this)" id="defaultOpen">Questionaire</button>
        <button class="tablink eval-btn" onclick="openPage('Evaluation-criteria', this)">Evaluation criteria</button>
        <button class="tablink invit-btn" onclick="openPage('Invitation-and-welcome', this)">Invitation and welcome</button>
    </div>
</div>
<div id="Questionaire" class="tabcontent">
<form name="campaign_pre_rec_question" method="post" action="" class="prerecordedcampaign" novalidate="novalidate">    
<div id="dynamic_field">  
{% for question in questions %}  
<div data-question-id="{{question.id}}" class="{{'questn row'~question.id}}">			
<div class="questions-bloc bloc-differed active">
    <div id="questions" class="ui-sortable">
        <div class="question-wrap question-base show-edition-mode">
            <div class="row">
                <div class="text-right">
                        <a href="#" name="removequestion" id="{{question.id}}" class="btn_remove">X</a>
                    </div>
                </div>
                <div class="row">
                    <div class="question-index"></div>
                    <a href="#" class="random-btn" data-id="{{question.id}}">
                        <img src="{{ asset('bundles/trace/img/random.png') }}" alt="Random mode" width="12" height="9">
                    </a>                          
                </div>

                <div class="row">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="questions-content">
                            <div class="question question-wrap">
                                <div class="row">
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="parent">
                                            <div class="col-md-perso-1">
                                                <img class="question-grip handle" src="{{ asset('bundles/trace/img/grip.png') }}" alt="Drag - drop" title="Drag - drop" width="10" height="34">
                                                <span class="{{'glyphicon glyphicon-remove remove-media-video edition-mode removevideo'~question.id}}" data-document-id="" style="display: none;"></span>
                                                <a href="#" class="{{'media-video show-edition-mode videolinkcustom videolink'~question.id}}" data-question-id="{{question.id}}" data-document-id="">
                                                    <img src="{{ asset('bundles/trace/img/play.png') }}" alt="Watch the video" title="Watch the video" width="20" height="20" style="top: 17px;"> 
                                                </a>
                                            </div>
                                            <div class="col-md-perso-11 no-margin no-padding">
                                                <textarea rows="2" name="questionname[]" data-id="{{question.id}}" class="form-control question_name show-edition-mode" placeholder="Enter your question here…"></textarea>
                                                {#<div class="pull-right">
                                                    <span class="glyphicon glyphicon-remove remove-media-image edition-mode" data-document-id="3690" style="display: none;"></span>
                                                    <a href="/document/see?id=3690" class="media-image show-edition-mode" data-toggle="ajax-modal">
                                                        <img src="{{ asset('bundles/trace/img/media-image.png') }}" alt="View image" title="View image" width="17" height="17" style="top: 13px;">
                                                    </a>
                                                    <span class="glyphicon glyphicon-remove question-del-btn edition-mode" style="display: none;"></span>
                                                </div>#}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="answer-type-list">
                                                <div class="row">
                                                    <div class="col-sm-6"> 
                                                        <select class="responsetype" data-id="{{question.id}}" name="responsetype[]">
                                                            <option value="1">Text</option>
                                                            <option value="2">Date</option>
                                                            <option value="3">Video</option>
                                                            <option value="4">Choice</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 maxtakewidget">

                                                    </div>
                                                </div>           
                                            </div>
                                        </div>            

                                        <div class="col-lg-6 col-md-12 col-sm-12 no-margin no-padding">
                                            <div class="show">
                                                <div class="time row text-right">
                                                    <div class="col-sm-offset-1 col-sm-2">
                                                        <select class="thinktime" data-id="{{question.id}}" name="thinktime[]">
                                                            <option value="0">0</option>
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="60">60</option>
                                                        </select>
                                                    </div>                                                    
                                                    <div class="col-sm-1"><img class="show-edition-mode" src="{{ asset('bundles/trace/img/time-active.png') }}" alt="Duration" title="Duration" width="14" height="14"></div>
                                                    <div class="col-sm-1"><input data-id="{{question.id}}" type="text" id="minduration" name="minduration[]" maxlength="3" style="width: 30px;"/></div>
                                                    <div class="col-sm-5"><div id="slider-range"></div></div> 
                                                    <div class="col-sm-1"><input data-id="{{question.id}}" type="text" id="maxduration" name="maxduration[]" maxlength="3" style="width: 30px;"/></div> 
                                                </div>          
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="choicewidget"></div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-modal" data-question-id="{{question.id}}">

    </div>                                                
    <div class="custom-video-play" data-question-id="{{question.id}}">

    </div>                                                
</div>
{% endfor %}
</div>
<br>
<br>
<div class="row">
<div class="col-sm-2">
    <button type="button" name="add" id="add" class="btn btn-success">Add Question</button>
</div>
</div>
</form>               
</div>

<div id="Evaluation-criteria" class="tabcontent">
<div class="criterias-bloc bloc-differed active">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="row criterias">
                {% for criterion in criterions %}
                    <div class="{{'row criteria row'~criterion.id}}" data-criterion-id="{{criterion.id}}">
                        <label class="col-md-3 control-label" for="{{'criterion-'~criterion.id}}">{{'Criterion n°'~criterion.id}}</label>
                        <div class="col-md-9">
                            <span id="{{criterion.id}}" class="remove_criterion glyphicon glyphicon-remove delete-criteria pull-right pointer"></span>
                            <input type="text" data-criterion-id="{{criterion.id}}" id="{{'criterion-'~criterion.id}}" maxlength="200" value="{{criterion.criterion}}" class="form-control criteria-label to_disable_if_active" placeholder="Your criterion">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row ">
                <div class="col-md-offset-3 col-md-9">
                    <button type="button" class="btn btn-block btn-default add-criteria">
                        <span class="glyphicon glyphicon-plus"></span>
                        Add a criterion                        
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div id="Invitation-and-welcome" class="tabcontent">
<div class="container">   
     {{ tinymce_init() }}
<div class="row">
<div class="col-sm-3">
    <label class="control-label">
        Deadline to answer             
        <span class="glyphicon glyphicon-question-sign" data-original-title="Time given to applicant to record their interview (in number of days or deadline)" data-placement="right" data-toggle="tooltip"></span>
    </label>
    <select name="answer_period" id="answer_period" class="form-control ajax-form input-md">
        <option value="2" >2 days</option>
        <option value="3">3 days</option>
        <option value="5" >5 days</option>
        <option value="7" >7 days</option>
        <option value="10" >10 days</option>
        <option value="15" >15 days</option>
        <option value="20" >20 days</option>
        <option value="25" >25 days</option>
        <option value="30" >30 days</option>
    </select>
</div>
<div class="col-sm-3">
    <label>&nbsp;</label>
    <input class="input-md form-control hidden" size="15" type="text" name="answer_date" id="answer_date" value="" >
</div>
<div class="col-sm-6">
    <label class="control-label">
        Is Public campaign                
        <span class="glyphicon glyphicon-question-sign" data-original-title="Link for recording an interview without having received an invitation" data-placement="right" data-toggle="tooltip"></span>
    </label>
    <br>
    <input type="checkbox" id="ispublic" name="ispublic">
</div>
</div>
<br>
<div class="row">
<div class="col-sm-6">
    <a class="btn btn-xs btn-default pull-right" href="" target="_blank">
        <span class="glyphicon glyphicon-search"></span>
    </a>
    <label class="control-label">Home page <span class="mandatory">*</span></label>
    <span class="glyphicon glyphicon-question-sign" data-original-title="Introduction shown to the applicant before the interview" data-placement="right" data-toggle="tooltip"></span>

    <textarea class="ajax-form form-control tiny-content" name="txt_intro" rows="5" >
    </textarea>
</div>
<div class="col-sm-6">
    <label class="control-label">Thank-you page <span class="mandatory">*</span></label>
    <span class="glyphicon glyphicon-question-sign" data-original-title="Thanks displayed to the applicant at the end of the interview" data-placement="right" data-toggle="tooltip"></span>

    <textarea class="ajax-form form-control tiny-content" name="txt_outro" rows="5" >
    </textarea>
</div>
</div>
</div>             
</div>
</div>                                
</div>                                
{% endblock %}

{% block javascripts %} 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.jquery.min.js"></script> 
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="{{ asset('bundles/trace/js/dropzone.js') }}"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.7.4/jquery.tinymce.min.js"></script> 
<script src="{{ asset('bundles/trace/js/jquery.datetimepicker.full.min.js') }}"></script> 
<script src="{{ asset('bundles/trace/js/bootstrap-autosave.js') }}"></script>
<script src="{{ asset('bundles/trace/js/prerecorded.js') }}"></script>   
{% endblock %}
