{% extends 'TraceBundle::layout.html.twig' %}

{% block title %}traceRECrue{% endblock %}    

{% block stylesheets %} 
   {{parent()}}
 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>   
 <link href="{{ asset('bundles/trace/css/addcolleague.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}     

{% block content %}
{% include 'TraceBundle:Home:headerpage.html.twig' %}    
<div id="content-container" class="container">   
    <div class="row">     
            <div class="col-sm-12"> 
                {% for message in app.flashes('notice') %}
                    <div class="flash-notice" style="background-color: red; color:white;">
                        <center><b> {{ message }} </b></center>   
                    </div>  
                {% endfor %}
            </div> 
        </div> 
<div class="row"> 
    <div class="col-sm-12">   
    <h1 class="nav-title" data-active-navlink="recruiter">
    Colleagues<br>
    <span class="intro">Manage all your colleagues here</span>
    </h1>  
    </div> 
</div>       
    <div id="add-form" class="row">
        <div class="col-sm-12">
            <div class="well">
                <h3>  Add a colleague </h3>  
                {{ form_start(form, {'method': 'post', 'action': path('addcolleaguepage'), 'attr': {'class': 'form-inline campaign-access-recruiter','novalidate': 'novalidate'}}) }}    
                    <div class="row">
                    <div class="col-xs-3">
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                        {{ form_errors(form.firstname) }}
                    </div>                         
                    <div class="col-xs-3">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                        {{ form_errors(form.lastname) }}
                    </div>  
                    </div> <br> <br> 
                    <div class="row">
                    <div class="col-xs-3"> 
                        {{ form_label(form.email) }}<br>
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                    </div>  
                    </div>            
                <br>               
                <div class="row" id="accordion">
                   <div class="panel-group col-sm-5" id="accordion1">
                    <!-- First Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseOne">
                                Password
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse">
                            <div class="panel-body">
                                <div class="radio">
                                    <label><input type="radio" name="optradio" checked="checked">Auto-generate password</label>
                                </div>  
                            </div>              
                        </div>
                    </div>
                   </div>
                </div>   
                <br>
                <div class="row" id="accordion">  
                   <div class="panel-group col-sm-5" id="accordion2">
                    <!-- First Panel -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title" data-toggle="collapse" data-target="#collapseTwo">
                                {{ form_label(form.role) }}
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse">
                            <div class="panel-body">                                                       
                            <div class="col-sm-4">{{ form_widget(form.role) }}</div>
                            <div class="col-sm-6">{{ form_errors(form.role) }}</div>                     
                            </div>              
                        </div>              
                    </div>
                   </div>
                </div>     
                <br>  
                    <input type="submit" class="btn btn-success" value="Submit" />     
              {{ form_end(form) }}  
            </div>      
        </div>          
    </div>    
<div class="table-responsive">       
    <table class="table table-striped sortable">
        <thead>
            <tr>
                <th class="sorting">Identity</th>
                <th class="sorting">Email</th>
                <th class="sorting hidden-xs">Connection</th>
                <th class="sorting hidden-xs">Access</th>
                <th class="sorttable_nosort"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="recruiter-9309">
                <td sorttable_customkey="chatelet">
                    <a name="recruiter-9309" id="recruiter-9309"></a>
                    <strong><a href="#">Stephanie Chatelet</a></strong>
                </td>
                <td sorttable_customkey="stephanie.chatelet@epita.fr">
                    stephanie.chatelet@epita.fr	</td>

                <td class="hidden-xs" sorttable_customkey="-00011130000000">
                    <em>never</em>
                </td>

                <td class="hidden-xs" sorttable_customkey="collaborator">
                    <span class="label label-info">colleague</span>      
                </td>
                <td>
                    <a class="action-collaborator-link" href="#">
                        <span data-toggle="tooltip" data-title="Edit" class="action-collaborator glyphicon glyphicon-edit"></span>
                    </a>

                    <a class="action-collaborator-link" data-toggle="ajax-modal" href="#">  
                        <span data-toggle="tooltip" data-title="Delete account" class="action-collaborator glyphicon glyphicon-remove"></span>
                    </a>
                </td>
            </tr>
            <tr class="recruiter-9261">
                <td sorttable_customkey="kifouche">
                    <a name="recruiter-9261" id="recruiter-9261"></a>
                    <strong><a href="#">Sadia Kifouche</a></strong>
                </td>
                <td sorttable_customkey="sadia.kifouche@epita.fr">
                    sadia.kifouche@epita.fr	</td>

                <td class="hidden-xs" sorttable_customkey="20180122152151">
                    on 22/01/2018 at 4:21 pm			</td>

                <td class="hidden-xs" sorttable_customkey="recruiter">
                    <span class="label label-info">recruiter</span>
                </td>
                <td>
                    <a class="action-collaborator-link" href="/recruiter/edit/9261">
                        <span data-toggle="tooltip" data-title="Edit" class="action-collaborator glyphicon glyphicon-edit"></span>
                    </a>
                    <span class="action-collaborator disable text-danger glyphicon glyphicon-remove" data-toggle="tooltip" data-title="You cannot delete accounts of type recruiter"></span>
                </td>
            </tr>
            <tr class="recruiter-9260">
                <td sorttable_customkey="haddad">
                    <a name="recruiter-9260" id="recruiter-9260"></a>
                    <strong>Rabih Haddad</strong> (you)
                </td>
                <td sorttable_customkey="rabih.haddad@epita.fr">
                    rabih.haddad@epita.fr
                </td>
                <td class="hidden-xs" sorttable_customkey="20180123050537">
                    on 23/01/2018 at 6:05 am	
                </td>
                <td class="hidden-xs" sorttable_customkey="administrator">
                    <span class="label label-info">administrator</span>
                </td>
                <td>
                </td>
            </tr>		
        </tbody>
    </table>
</div>	
</div>  
{% endblock %} 
{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script>
   $(document).ready(function() {
	$('#search-run').click(function () {
		$('#bar-search').trigger('submit');
	});

	$('#account-link').click(function () {
		$(this).off('click');

		$.get('/recruiter/swings', function (swings) {
			$('#account-last-divider').before(swings);
		});		
	});
	
    var activeNavLink = $('.nav-title').data('active-navlink');

    if (activeNavLink != '') {
        $('nav.navbar-default li[data-navlink="' + activeNavLink + '"]').addClass('active');
    }
});         
  </script>    
  {#<script>
      $(document).ready(function() {
var acc = document.getElementsByClassName("panel-group");
var i;
for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = document.getElementById("accordion").nextElementSibling; 
        
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
});
</script>#}
{% endblock %}     