{% extends 'TraceBundle::layout.html.twig' %}
{% block stylesheets %} 
    {{ parent() }} 
{% endblock %}     

{% block content %}       
    {% include 'TraceBundle:Home:headerpage.html.twig' %}    
    <div id="content-container" class="container">
        <div class="row"> 
            <div class="col-sm-10">      								
                <h1 class="nav-title" data-active-navlink="campaign">
                    Campaigns<br>
                    <span class="intro">Access all your recruitment campaigns here</span>
                </h1>
            </div> 
            <div class="col-sm-1">
                <a href="{{path('createcampaign')}}" class="btn btn-lg btn-primary">New Campaign</a>
            </div>    
        </div>
        <div class="row">
            <div class="col-sm-2">  
                <select onChange="window.location.href=this.value;">
                    <option {% if status == 1 %}selected{% endif %} value="{{path('campaignspage', {'value':1})}}">Active</option>
                    <option {% if status == 2 %}selected{% endif %} value="{{path('campaignspage', {'value':2})}}">Archived</option>
                    <option {% if status == 3 %}selected{% endif %} value="{{path('campaignspage', {'value':3})}}">Drafts</option>
                </select> 
            </div>
        </div>
        <br><br>        
        <br>
        {% for pagination in pagination %}   
            <div class="row">
                <div class="col-sm-8"> 
                    {% if pagination.campaignstatus.id == 1 %}<a href="{{path('applicantlistpage',{'campaignid': pagination.id})}}">{% else %}<a href="{{path('loadgeneralpage',{'campaign_id': pagination.id})}}">{% endif %}
                        <h4>{{ pagination.campaigntitle }}</h4>
                    </a>
                    <small>#{{ pagination.id }} created by {{pagination.client.firstname}} {{pagination.client.lastname}}</small>
                </div>
                <div class="col-sm-2">
                    <a href="{{path('loadgeneralpage',{'campaign_id': pagination.id})}}">Edit</a>&nbsp;|&nbsp;
                    {% if status != 2 %}<a href="{{path('deletecampaign',{'campaign_id': pagination.id})}}">Delete</a>&nbsp;|&nbsp;{% endif %}
                    <a href="{{path('duplicatecampaign',{'campaign_id': pagination.id})}}">Duplicate</a>
                </div>
            </div>        
        {% endfor %}
        <div class="row">
            <div class="navigation" align="center"> 
                {{ knp_pagination_render(pagination) }}                         
            </div>  
        </div>                       
    </div>           

{% endblock %} 
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    <script>
        $(document).ready(function () {
            $('#search-run').click(function () {
                $('#bar-search').trigger('submit');
            });

            $('#account-link').click(function () {
                $(this).off('click');

                $.get('/recruiter/swings', function (swings) {
                    $('#account-last-divider').before(swings);
                });
            });

            var activeNavLink = $('.nav-title').data('active-navlink');

            if (activeNavLink != '') {
                $('nav.navbar-default li[data-navlink="' + activeNavLink + '"]').addClass('active');
            }
        });
    </script>    
{% endblock %}

