{% block meta %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
{% endblock %}

{% block stylesheets %} 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
 <link href="{{ asset('bundles/trace/css/homepage.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}     
  
{% block body %}   
<nav id="topnav" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-links-collapse" aria-expanded="false">
                    <span class="sr-only">Expand the menu</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="#"><img id="brand-logo" src="{{ asset('bundles/trace/img/logo-epita.png') }}" width="50" height="50" alt="easyRECrue" title="easyRECrue" /></a>
            </div>

            <div id="navbar-links-collapse" class="collapse navbar-collapse">
                <form action="#" method="get" class="navbar-form navbar-right visible-xs" role="search">
                    <div class="form-group">
                        <div class="input-group search-input-group">
                            <input name="query" type="text" class="form-control" placeholder="Search…">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        </div>
                    </div>
                </form>

                <ul class="nav navbar-nav navbar-left">
                    <li role="presentation" data-navlink="dashboard">
                        <a data-bold="Dashboard" href="{{path('dashboardpage')}}">Dashboard</a>
                    </li>  
                    <li role="presentation" data-navlink="campaign">
                        <a data-bold="Campaigns" href="{{path('campaignspage')}}">Campaigns</a>
                    </li>

                    <li role="presentation" data-navlink="live">
                        <a data-bold="Lives" href="{{path('livespage')}}">Live</a>
                    </li>

                    <li role="presentation" data-navlink="recruiter">
                        <a data-bold="Colleagues" href="{{path('colleaguespage')}}">Colleagues</a>
                    </li>

                    <li role="presentation" data-navlink="document">
                        <a data-bold="Media library" href="{{path('medialibrarypage')}}">Media library</a>
                    </li>

                    <li role="presentation" data-navlink="toolbox">
                        <a data-bold="Help" href="{{path('helppage')}}">Help</a>
                    </li>

                    <li role="presentation" class="dropdown" data-navlink="account">
                        <a href="#" id="account-link" class="dropdown-toggle" data-toggle="dropdown">
                            My account&nbsp;<span class="caret bold"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li role="presentation"><a href="{{path('profilepage')}}">Profile</a></li>

                            <li role="presentation"><a href="{{path('preferencepage')}}">Preferences</a></li>

                            <li role="presentation"><a href="{{path('candidatemessagepage')}}">Candidate messages</a></li>

                            <li id="account-last-divider" role="presentation" class="divider"></li>
                            <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                        </ul>
                    </li>  
                </ul>

                <div class="col-md-2 col-lg-3 hidden-xs navbar-right">
                    <div class="navbar-welcome">
                        <form id="bar-search" action="#" method="get">
                            <div class="input-group search-input-group">
                                <input name="query" type="text" class="form-control input-sm" placeholder="Search…">
                                <span id="search-run" class="input-group-addon pointer"><span class="glyphicon glyphicon-search"></span></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav> 
    {% block content %}
        
    {% endblock %}
    
{% endblock %}
{% block javascripts %}
   
{% endblock %}