{% extends 'TraceBundle::layout.html.twig' %}

{% block stylesheets %} 
   {{parent()}} 
   <style>
       .toolbox .affix-top {
           margin-left: 20px;
           margin-top: 60px;
       }
       .toolbox .affix {
           margin-left: 20px;
           top: 5px;
       }
       .affix {
           position: fixed;
       }
       h1, h2, h3, h4, h5, h6 {
           color: #2b4a83;
       }
   </style>   
{% endblock %}     

{% block content %} 
{% include 'TraceBundle:Home:headerpage.html.twig' %}    
<div id="content-container" class="container">
<div class="row"> 
    <div class="col-sm-12">      								
        <h1 class="nav-title" data-active-navlink="toolbox">
            Need some help?<br>
            <span class="intro">Find answers to the most frequently asked questions here</span>
        </h1>
    </div>
</div>    
        <div class="row toolbox">
            <div class="col col-md-9">
                <h2>Frequently asked questions</h2>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="heading1">
                            <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                easyRECrue pre-recorded					</h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1">
                            <div class="panel-body">
                                <div>
                                    <h4>How many questions should each questionnaire contain?</h4>
                                    We recommend you ask between 7 and 8 questions in total, including 4 to 5 by video. Start with a general question to get the interview off to a good start and finish with an open question.							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> Most applicants have never taken part in a pre-recorded video interview.						</div>
                                <div>
                                    <h4>How long should applicants be given to answer each question?</h4>
                                    For a video answer, 1 to 2 minutes should be enough. Allow the same amount of time to answer all questions asked via video. For other types of answer, it’s up to you how long you allow. For example: 30 seconds for multiple-choice questions, 5 minutes or unlimited for longer questions…						</div>
                                <div>
                                    <h4>How do I change the order of questions?</h4>
                                    You can change the order of questions asked provided your campaign has not launched. A vertical hand appears when you hover over it to indicate that you can reorder the questions. Click on the question with your mouse and move it to its new position.						</div>
                                <div>
                                    <h4>How do I delete a question?</h4>
                                    Simply click on the cross at the top right.						</div>
                                <div>
                                    <h4>How do I ask a question by video?</h4>
                                    Click on the <i>Add from media library</i> button. A window then opens so that you can choose from the available videos.							The applicant will start their interview by viewing the video. They will then be asked to answer the question as if it were a text question.							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> We offer a filming service for your video questions.						</div>
                                <div>
                                    <h4>How do I illustrate a question with an image?</h4>
                                    First, download your images from the <i>Media library</i> section. Then go back to creating the questionnaire and click on the <i>Add from media library</i> button. A window then opens so that you can choose from the available images.						</div>
                                <div>
                                    <h4>How do I set up a multiple-choice questionnaire?</h4>
                                    Add questions and select the response format <i>Simple choice</i> or <i>Multiple choices</i>. This will allow the applicant to choose one or more answers respectively from the options given.							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> By activating the <i>Scoring</i> option when you create the questionnaire, you can assign between -1 and +2 points to each answer chosen. The score achieved by the applicant will therefore be calculated automatically.						</div>
                                <div>
                                    <h4>How is the applicant’s score calculated?</h4>
                                    The scoring module adds up the points scored by the applicant and compares them with the maximum number of points they could have achieved.						</div> 
                                <div>
                                    <h4>What is an alternative question?</h4>
                                    You can add 1 to 5 alternatives to each question. The question the applicant is asked during the interview will be chosen at random from these various possibilities.						</div>
                                <div>
                                    <h4>What are the assessment criteria used for?</h4>
                                    You can define 1 to 10 assessment criteria. These allow you to assess the applicants individually or as a group, to optimize the pre-screening process.						</div>
                                <div>
                                    <h4>How long should an applicant be given to record their interview?</h4>
                                    We recommend you give applicants 5 to 7 days to respond.						</div>
                                <div>
                                    <h4>What is a public link and how do you get one?</h4>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> We recommend you invite applicants by name to get the best possible results from easyRECrue pre-recorded. You can, however, create a public link so that applicants who have not been invited via easyRECrue can register: 							<ol>
                                        <li>Create your campaign and launch it</li>
                                        <li>Then return to the <i>Invitation and welcome</i> step in the <i>Pre-recorded</i> tab in the settings to create a public link</li>
                                        <li>Copy and paste it to where you want it (job board, dedicated recruitment event page, e-mail, etc.)</li>
                                    </ol>
                                </div>
                                <div>
                                    <h4>How do I add a video presentation to the applicant’s home page?</h4>
                                    You will need EASYRECRUE to add a video presentation for you. Send us the video file, which we will convert and add to the campaign home page.							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> It is possible to have a different video presentation for each campaign. Contact us for more information.						</div>
                                <div>
                                    <h4>How do I request documents from applicants?</h4>
                                    Add the documents requested the <i>General</i> campaign configuration tab. You can request a CV, covering letter or any other document (10 maximum).							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> We do our best to gather the documents requested but they are not compulsory for validating video interviews.						</div>
                                <div>
                                    <h4>What do the various campaign statuses mean?</h4>
                                    When a new campaign is being created and set up, it is at the <i>Draft</i> stage.							<br>
                                    Once all the settings are correct, you can launch the campaign. Note, most settings are no longer configurable when the campaign is <i>Active</i>.							<br>
                                    We recommend that you archive your campaigns once recruitment has ended. The video interviews for an <i>Archived</i> campaign remain available throughout the video retention period (365 days, in accordance with our CNIL declaration no. 1665820).							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> When you archive a campaign, any pending invitations are cancelled (you will therefore be asked to confirm).						</div>
                                <div>
                                    <h4>How do I share a campaign with my colleagues?</h4>
                                    Add the colleagues you want in the <i>Sharing</i> campaign configuration tab:							<ul>
                                        <li>Make them available to all campaign applicants, or just the ones you select</li>
                                        <li>Allow them to assess the applicants or not</li>
                                    </ul>
                                </div>
                                <div>
                                    <h4>How do I invite an applicant?</h4>
                                    Click on the campaign you want to invite applicants to from your dashboard or list of campaigns. If your campaign has not launched yet, finalize your settings and launch it.							<br>
                                    The list of applicants from the <i>Pending</i> folder is shown, with the option to:							<ul>
                                        <li>Invite an applicant to a pre-recorded interview</li>
                                        <li>Invite an applicant to a live interview</li>
                                        <li>Mark an applicant as pending to invite them later on</li>
                                    </ul>
                                    If you click on the <i>Import a file</i> button, a window opens on the right where you can import an Excel file.							<br>
                                    When you import them, the applicants will be added to the pending list.							<br>
                                    Applicants from the pending list can be invited individually or as a group using the <i>Invite these X applicants to a pre-recorded interview</i> button.							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> Invite your applicants in just a few clicks using the shortcuts on your dashboard (represented by <i>+</i> buttons).<br>easyRECrue pre-recorded is compatible with numerous application management software programs. Contact us for more information.						</div>
                                <div>
                                    <h4>Is it possible to cancel an applicant’s invitation?</h4>
                                    Click on the <span class="glyphicon glyphicon-chevron-down"></span> icon to display an applicant’s details. From the pre-recorded interview, click on <i>Cancel</i>. You will be asked the reason for the cancellation so that the applicant can be told of it by email.							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> When you archive an applicant with a <i>Pending</i> invitation, it must be cancelled.						</div>
                                <div>
                                    <h4>What is an extension request?</h4>
                                    Applicants are not always available at the right time. We therefore give them the option to ask you for more time. A warning will be shown on your easyRECrue dashboard. You can therefore accept or reject the extension request.							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> Extension requests are only granted for applicants for campaigns with a response time expressed in days.						</div>
                                <div>
                                    <h4>Is it possible to extend the deadline to answer for a campaign?</h4>
                                    Yes, but please note: when the response time for your campaign is a deadline (i.e. common to all applicants), any extension of this date will apply to all pending applicants (you will be asked to confirm).						</div>
                                <div>
                                    <h4>What do the various pre-recorded interview statuses mean?</h4>
                                    <i>Pending</i>: the applicant has not yet completed their interview								<br>
                                    <i>Completed</i>: the applicant has completed their interview								<br>
                                    <i>Expired</i>: the applicant’s invitation has expired (you can obviously extend it)								<br>
                                    <i>Withdrawn</i>: the applicant has decided to withdraw their application (the reason for withdrawal can be found under their status)								<br>
                                    <i>Cancelled</i>: the applicant’s invitation has been cancelled							</div>
                                <div>
                                    <h4>What do the various live interview statuses mean?</h4>
                                    <i>Scheduled</i>: the interview has not yet taken place								<br>
                                    <i>In progress</i>: the interview is in progress								<br>
                                    <i>Completed</i>: the interview has taken place								<br>
                                    <i>Missed</i>: the interview did not take place							</div>

                                <div>
                                    <h4>What do the various icons associated with the applicants mean?</h4>
                                    <span class="glyphicon glyphicon-exclamation-sign text-danger"></span> This applicant has already been invited to another easyRECrue campaign							<br>
                                    <span class="glyphicon glyphicon-send"></span> Click on this icon to view previous e-mails sent to the applicant							<br>
                                    <span class="glyphicon glyphicon-flag text-warning"></span> Our technical support team has sent you a message about the applicant’s interview (for example, “One response missing, please contact us to have it re-recorded”)						</div>
                                <div>
                                    <h4>How is the return rate calculated?</h4>
                                    The return rate is simply the proportion of invited applicants who took part in an interview.							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> <i>Pending</i> applicants are not included in the calculation.						</div>
                                <div>
                                    <h4>What information is shown on the dashboard?</h4>
                                    Your dashboard has 5 sections: 							<ul>
                                        <li><i>Extension requests</i> for dealing with the requests for more time from your applicants</li>
                                        <li><i>Latest pre-recorded interviews</i> lists the pre-recorded videos you haven’t watched yet (from oldest to most recent)</li>
                                        <li><i>Live interviews</i> lists your live interviews for today</li>								<li><i>Current campaigns</i> for monitoring statistics from the most active campaigns at a glance</li>
                                        <li><i>Activity tracking</i> shows you the number of invitations, completed interviews and active campaigns over the selected time period. A summary is shown on the right.</li>
                                    </ul>
                                    <br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> Hover over the number of <i>Withdrawn</i> applicants for more details.						</div>
                                <div>
                                    <h4>How do I configure the e-mails and text messages sent to applicants?</h4>
                                    In the <i>My account</i> section, select <i>Applicant messages</i> then <i>Automated e-mails</i> or <i>SMS</i>:								<ul>
                                        <li>Enable or disable your choice of e-mails and text messages (some e-mails cannot be disabled)</li>
                                        <li>Click on <i>Edit</i> to configure and use the variables available to you</li>
                                        <li>You can configure them in all languages on the platform using the flag</li>
                                    </ul>
                                    <br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> You can also send voicemails to your applicants. Contact us for more information.						</div>
                                <div>
                                    <h4>How does the reminder system work?</h4>
                                    Each invited applicant first receives an invitation e-mail and text message.																					They will then receive an e-mail reminder every 3 days.																					They will receive a text-message reminder 48 hours before the invitation expires and a final e-mail reminder 24 before the invitation expires.													</div>
                                <div>
                                    <h4>How do I add an applicant response template?</h4>
                                    In the <i>My account</i> section, select <i>Applicant messages</i>:							<ul>
                                        <li>Edit the existing response templates</li>
                                        <li>Create new ones</li>
                                    </ul>
                                    <br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> Use the variables available to you to personalize your response e-mails.						</div>
                                <div>
                                    <h4>How do I share an applicant’s file by e-mail?</h4>
                                    Click on the <i>Share file</i> button from the applicant file or directly from the advanced actions on the list.                            Enter the recipient’s email address and then personalise the message.                            The sharing options allow you to choose whether they will have access to the applicant’s contact details and your assessments or not.                            <br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span>
                                    The <span class="glyphicon glyphicon-link"></span> button allows you to obtain a public file-sharing link.                        </div>
                                <div>
                                    <h4>How do I change my password?</h4>
                                    In the <i>My account</i> section, select <i>Profile</i>.							Click on the <i>Reset by e-mail</i> button and you will be sent a link that will allow you to choose a new password.							<br>
                                    <span class="dyk"><span class="glyphicon glyphicon-education"></span> Did you know?</span> For security reasons, this link expires in 1 hour.						</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-md-3 text-center">
                <div data-spy="affix" data-offset-top="230" class="well affix-top">
                    For any requests: 			<br>
                    <strong>Sullivan Bob</strong>
                    <br>
                    +44-0203-463-8693			<br>
                    <a href="mailto:s.bob@easyrecrue.com">s.bob@easyrecrue.com</a>
                </div>
            </div>    
</div>
</div>
		
{% endblock %} 
{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script>
   $(document).ready(function() {
	$('#search-run').click(function () {
		$('#bar-search').trigger('submit');
	});

	$('#account-link').click(function () {
		$(this).off('click');

		$.get('/recruiter/swings', function (swings) {
			$('#account-last-divider').before(swings);
		});		
	});
	
    var activeNavLink = $('.nav-title').data('active-navlink');

    if (activeNavLink != '') {
        $('nav.navbar-default li[data-navlink="' + activeNavLink + '"]').addClass('active');
    }
});         
  </script>    
{% endblock %}     