{% extends 'TraceBundle::layout.html.twig' %}

{% block stylesheets %} 
   {{parent()}} 
{% endblock %}     

{% block content %} 
{% include 'TraceBundle:Home:headerpage.html.twig' %}    
<div id="content-container" class="container">
<div class="row"> 
    <div class="col-sm-10">      								
        <h1 class="nav-title" data-active-navlink="live">
            Live calendar<br>
            <span class="intro">Invite your applicants to live interviews and find your calendar here</span>
        </h1>
    </div>
    <div class="col-sm-1">
        <a href="{{path('addapplicantlivepage')}}" class="btn btn-lg btn-primary">Invite To Live</a>
    </div> 
</div>       
<br><br>        
<br>
<div class="row text-center">
    <div class="col-sm-3"> 
        <h4>Candidate</h4>   
    </div>
    <div class="col-sm-3"> 
        <h4>Date and Time</h4>   
    </div>
    <div class="col-sm-3"> 
        <h4>Duration<i>(in mins)</i></h4>   
    </div>
</div> 
<hr>
{% for pagination in pagination %}   
    <div class="row text-center">
        <div class="col-sm-3"> 
            <b>{{ pagination.firstname }}&nbsp;{{ pagination.lastname }}</b>   
        </div>
        <div class="col-sm-3"> 
            <p>{{ pagination.invitedate|localizeddate('medium', 'short') }}</p>   
        </div>
        <div class="col-sm-3"> 
            <p>{{ pagination.liveinterviewduration }}</p>   
        </div>
        <div class="col-sm-3"> 
            <a class="btn btn-primary" href="{{path('startliveinterviewpage',{'uniquecode': pagination.uniqueinvitecode})}}">Join Interview</a>   
        </div>
    </div> 
    <br>        
{% endfor %}
<div class="row">
    <div class="navigation" align="center"> 
        {{ knp_pagination_render(pagination) }}                         
    </div>  
</div>
</div>  
{% endblock %} 
{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>     
{% endblock %}     