{% extends 'TraceBundle::layout.html.twig' %}

{% block stylesheets %} 
   {{parent()}} 
{% endblock %}     

{% block content %}   
{% include 'TraceBundle:Home:headerpage.html.twig' %}    
<div id="content-container" class="container">
<div class="row"> 
    <div class="col-sm-12">      								
        <h1 class="nav-title" data-active-navlink="account">
            Welcome and thank-you pages<br>
            <span class="intro">Define your default welcome and thank-you messages here</span>
        </h1>
    </div> 
</div>       

</div>  
{% endblock %} 
{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script>
   $(document).ready(function() {
	$('#search-run').click(function () {
		$('#bar-search').trigger('submit');
	});

	$('#account-link').click(function () {
		$(this).off('click');

		$.get('/recruiter/swings', function (swings) {
			$('#account-last-divider').before(swings);
		});		
	});
	
    var activeNavLink = $('.nav-title').data('active-navlink');

    if (activeNavLink != '') {
        $('nav.navbar-default li[data-navlink="' + activeNavLink + '"]').addClass('active');
    }
});         
  </script>    
{% endblock %}     