{% extends 'TraceBundle::layout.html.twig' %}

{% block stylesheets %} 
   {{parent()}} 
{% endblock %}     

{% block content %}     
{% include 'TraceBundle:Home:headerpage.html.twig' %}    
<div id="content-container" class="container">
<div class="row"> 
    <div class="col-sm-12">      								
        <h1 class="nav-title" data-active-navlink="account">
        <h1> {{'profile.title'|trans}}</h1>     
        <div class="row">
            <div class="col-sm-12">    
                <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                {#{{ 'welcome'|trans }}#}
                <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p> 
                {#<a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>#}
            </div>
        </div>
        </h1>
    </div> 
</div>       

</div>  
{% endblock %} 
{% block javascripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
  <script>
   $(document).ready(function() {
	$('#search-run').click(function () {
		$('#bar-search').trigger('submit');
	});

	$('#account-link').click(function () {
		$(this).off('click');

		$.get('/recruiter/swings', function (swings) {
			$('#account-last-divider').before(swings);
		});		
	});
	
    var activeNavLink = $('.nav-title').data('active-navlink');

    if (activeNavLink != '') {
        $('nav.navbar-default li[data-navlink="' + activeNavLink + '"]').addClass('active');
    }
});         
  </script>    
{% endblock %}     