<div class="row">
<div class="col-sm-offset-10 col-sm-2">
    <span style="position:relative;">
        <input onclick="window.location.href='{{path('campaignactivatedpage',{'campaign_id': campaign.id})}}';" type="button" name="submit" class="btn btn-lg btn-primary submit" value="Activate" disabled="disabled"/>
        <div class="activate" style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;" ></div>
    </span>
</div>
</div>
<br>
<br>
<ul class="nav nav-pills nav-campaign">
    <li id="general-pill" class="pill-campaign active">
        <a href="{{path('loadgeneralpage',{'campaign_id': campaign.id})}}">
            General                
        </a>
    </li>

    <li id="prerecorded-pill" class="pill-campaign differed " data-toggle="tooltip" data-original-title="" title="">
        <a href="{{path('loadprerecordedpage',{'campaign_id': campaign.id})}}">
            Pre-recorded 
        </a>
    </li>

    <li id="live-pill" class="pill-campaign ">
        <a href="{{path('loadlivepage',{'campaign_id': campaign.id})}}">
            Live 
        </a>
    </li>

    <li id="share-pill" class="pill-campaign">
        <a href="{{path('loadsharingpage',{'campaign_id': campaign.id})}}">
            Sharing  
        </a> 
    </li>
</ul>