{% block javascripts %} 
{#    <script src="{{ asset('bundles/trace/js/evaluationcriteria.js') }}"></script> #}
{% endblock %}
<div class="container">  
    <div class="row"> 
        <div class="col-md-4">{{ form_label(form.criterion,'Evaluation Criteria' ) }}</div>
        <div class="col-md-4">{{ form_widget(form.criterion) }}</div>
        <div class="col-md-4 error-message">{{ form_errors(form.criterion) }}</div>
    </div>
</div>     