{% extends 'TraceBundle::layout.html.twig' %}

{% block title %}traceRECruit{% endblock %}    

{% block stylesheets %} 
    {{parent()}}
{% endblock %}

{% block content %}
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('editcampaign'), 'attr': {'class': 'editcampaign','novalidate': 'novalidate'}}) }}
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">{{ form_label(form.campaigntitle) }}</div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">{{ form_widget(form.campaigntitle) }}</div>
            <div class="col-sm-4">{{ form_errors(form.campaigntitle) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">{{ form_label(form.description) }}</div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">{{ form_widget(form.description) }}</div>
            <div class="col-sm-4">{{ form_errors(form.description) }}</div>
        </div>
        <br>
        <div class="row">
            {#            <div class="col-sm-offset-4 col-sm-4"><label>Location</label></div>#}
            <div class="col-sm-offset-4 col-sm-4">{{ form_label(form.location) }}</div>
        </div>
        <div class="row">
            {#            <div class="col-sm-offset-4 col-sm-4"><input id="location_input" name="location" type="text" placeholder="Enter a location" autocomplete="on"></div>#}
            <div class="col-sm-offset-4 col-sm-4">{{ form_widget(form.location) }}</div>
            <div class="col-sm-4">{{ form_errors(form.location) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">{{ form_label(form.jobreference) }}</div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">{{ form_widget(form.jobreference) }}</div>
            <div class="col-sm-4">{{ form_errors(form.jobreference) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">{{ form_label(form.language) }}</div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">{{ form_widget(form.language) }}</div>
            <div class="col-sm-4">{{ form_errors(form.language) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4"><label>Documents requested</label></div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <ul class="documents" data-prototype="{{ form_widget(form.campaigndocuments.vars.prototype)|e('html_attr') }}">

                </ul>
            </div>
        </div>
        <br>
        {% for document in form.campaigndocuments %}
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">{{ form_widget(document.value) }}</div>
                <div class="col-sm-4">{{ form_errors(document.value) }}</div>
            </div>
            <br>
        {% endfor %}
        <br>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4"><button type="submit" name="submit" value="submit" class="btn btn-primary">Save & Proceed</button></div>
        </div>        
        {{ form_end(form) }}
    </div>

{% endblock %}    
    
{% block javascripts %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqw0FufC4SwReqbbBch2P9lX1mvpuiygI&v=3.exp&libraries=places"></script>
    <script src="{{ asset('bundles/trace/js/editcampaign.js') }}"></script>
{% endblock %}