{% extends 'TraceBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
 <link href="{{ asset('bundles/trace/css/buttons.css') }}" type="text/css" rel="stylesheet" />  
 <link href="{{ asset('bundles/trace/css/form-flow.css') }}" type="text/css" rel="stylesheet" />
 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Open+Sans:400,300,300italic,600,400italic,600italic,700,700italic,800."> 
{% endblock %}
  
{% block content %}
	{% block headline %}
	{% endblock %}
         <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
         </a> 
	<div class="flow-steps">
		{{- 'steps' | trans }}: {% include '@CraueFormFlow/FormFlow/stepList.html.twig' -%}
	</div>

	{% block form %}
	{% endblock %}

	<div class="clear"></div>

{#      <div class="data-usage-notice">{{ 'data_usage_notice' | trans }}</div>         #}
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}