{#{% extends 'TraceBundle:Campaign:layout_flow.html.twig' %}#}
{% extends 'TraceBundle::layout.html.twig' %}
{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}

{% block headline %}
	<h3>Pre-recorded</h3> 
       {# <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
       </a> #} 
{% endblock %}

{% block stylesheets %}
 {{parent()}}   
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css"> 
 <link href="{{ asset('bundles/trace/css/prerecordedpage.css') }}" type="text/css" rel="stylesheet" />   
{% endblock %}    
    
{% block content %}
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('prerecordedcampaign'), 'attr': {'class': 'prerecordedcampaign','novalidate': 'novalidate'}}) }}
<ul class="questions" data-prototype="{% filter escape %}
    {{ include('TraceBundle:Campaign:prototype.html.twig', { 'form': form.questions.vars.prototype }) }}
    {% endfilter %}"> 
{% for question in form.questions %}
    <li>               
        <div class="well" style="margin-left:-15px;">           
            <div class="row">  
                <div class="col-sm-2">{{ form_label(question.israndom) }}</div>
                <div class="col-sm-4">{{ form_widget(question.israndom) }}</div>
                <div class="col-sm-4 error-message">{{ form_errors(question.israndom) }}</div>
            </div> 
            <br>
            <div class="row"> 
                <div class="col-sm-2">{{ form_label(question.videoattachment) }}</div>
                <div class="col-sm-4">{{ form_widget(question.videoattachment) }}</div>
                <div class="col-sm-4 error-message">{{ form_errors(question.videoattachment) }}</div>
            </div>
            <br>
            <div class="row"> 
                <div class="col-sm-2">{{ form_label(question.question) }}</div>
                <div class="col-sm-4">{{ form_widget(question.question) }}</div>
                <div class="col-sm-4 error-message">{{ form_errors(question.question) }}</div>
            </div>
            <br>
            <div class="row"> 
                <div class="col-sm-2">{{ form_label(question.imageattachment) }}</div>
                <div class="col-sm-4">{{ form_widget(question.imageattachment) }}</div>
                <div class="col-sm-4 error-message">{{ form_errors(question.imageattachment) }}</div>
            </div>

            <br>
            <div class="row"> 
                <div class="col-sm-2">{{ form_label(question.responsetype) }}</div>
                <div class="col-sm-4">{{ form_widget(question.responsetype) }}</div>
                <div class="col-sm-4 error-message">{{ form_errors(question.responsetype) }}</div>
            </div>
            <br>
            <div class="row"> 
                <div class="col-sm-2">{{ form_label(question.minduration) }}</div>
                <div class="col-sm-4">{{ form_widget(question.minduration) }}</div>
                <div class="col-sm-4 error-message">{{ form_errors(question.minduration) }}</div>
            </div> 
            <br>
            <div class="row"> 
                <div class="col-sm-2">{{ form_label(question.maxduration) }}</div>
                <div class="col-sm-4">{{ form_widget(question.maxduration) }}</div>
                <div class="col-sm-4 error-message">{{ form_errors(question.maxduration) }}</div>
            </div>
            <br>
            <div class="row"> 
                <div class="col-sm-2">{{ form_label(question.thinktime) }}</div>
                <div class="col-sm-4">{{ form_widget(question.thinktime) }}</div>
                <div class="col-sm-4 error-message">{{ form_errors(question.thinktime) }}</div>
            </div> 
            <br>
            <div class="row"> 
                <div class="col-sm-2">{{ form_label(question.maxtake) }}</div>
                <div class="col-sm-4">{{ form_widget(question.maxtake) }}</div>
                <div class="col-sm-4 error-message">{{ form_errors(question.maxtake) }}</div>
            </div>   
        </div>  
    </li>                               
{% endfor %}    
    </ul>
    <br>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4"><button type="submit" name="submit" value="submit" class="btn btn-primary">Save & Proceed</button></div>
        </div>        
        {{ form_end(form) }}
</div>
{% endblock %}    
{#{% block form %}       
        {{ form_errors(form) }}
        <title>{% block title %}Prerecordedcampaign{% endblock %}</title>  
        <br>  
        {{ form_start(form, {'method': 'post', 'action': path('prerecordedcampaign'), 'attr': {'class': 'prerecordedcampaign','novalidate': 'novalidate'}}) }}
        <div class="container">              
                        {{ 'step' | trans }} {{ flow.getCurrentStepNumber() }}: {{ flow.getCurrentStepLabel() | trans }}                                                                                          
                        {% if flow.getCurrentStepNumber() == 1 %}
                        <ul class="questions" data-prototype="{% filter escape %}
                            {{ include('TraceBundle:Campaign:prototype.html.twig', { 'form': form.questions.vars.prototype }) }}
                            {% endfilter %}"> 
                            {% for  question in form.questions %}
                            <li>               
                            <div class="container well" style="margin-left:-15px;">           
                                <div class="row">  
                                    <div class="col-sm-2">{{ form_label(question.israndom) }}</div>
                                    <div class="col-sm-4">{{ form_widget(question.israndom) }}</div>
                                     <div class="col-sm-4 error-message">{{ form_errors(question.israndom) }}</div>
                                </div> 
                                <br>
                                <div class="row"> 
                                    <div class="col-sm-2">{{ form_label(question.videoattachment) }}</div>
                                    <div class="col-sm-4">{{ form_widget(question.videoattachment) }}</div>
                                    <div class="col-sm-4 error-message">{{ form_errors(question.videoattachment) }}</div>
                                </div>
                                <br>
                                <div class="row"> 
                                    <div class="col-sm-2">{{ form_label(question.question) }}</div>
                                    <div class="col-sm-4">{{ form_widget(question.question) }}</div>
                                    <div class="col-sm-4 error-message">{{ form_errors(question.question) }}</div>
                                </div>
                                <br>
                                <div class="row"> 
                                    <div class="col-sm-2">{{ form_label(question.imageattachment) }}</div>
                                    <div class="col-sm-4">{{ form_widget(question.imageattachment) }}</div>
                                    <div class="col-sm-4 error-message">{{ form_errors(question.imageattachment) }}</div>
                                </div>
         
                                <br>
                                <div class="row"> 
                                    <div class="col-sm-2">{{ form_label(question.responsetype) }}</div>
                                    <div class="col-sm-4">{{ form_widget(question.responsetype) }}</div>
                                    <div class="col-sm-4 error-message">{{ form_errors(question.responsetype) }}</div>
                                </div>
                                <br>
                                <div class="row"> 
                                    <div class="col-sm-2">{{ form_label(question.minduration) }}</div>
                                    <div class="col-sm-4">{{ form_widget(question.minduration) }}</div>
                                    <div class="col-sm-4 error-message">{{ form_errors(question.minduration) }}</div>
                                </div> 
                                <br>
                                <div class="row"> 
                                    <div class="col-sm-2">{{ form_label(question.maxduration) }}</div>
                                    <div class="col-sm-4">{{ form_widget(question.maxduration) }}</div>
                                    <div class="col-sm-4 error-message">{{ form_errors(question.maxduration) }}</div>
                                </div>
                                <br>
                                <div class="row"> 
                                    <div class="col-sm-2">{{ form_label(question.thinktime) }}</div>
                                    <div class="col-sm-4">{{ form_widget(question.thinktime) }}</div>
                                    <div class="col-sm-4 error-message">{{ form_errors(question.thinktime) }}</div>
                                </div> 
                                <br>
                                <div class="row"> 
                                    <div class="col-sm-2">{{ form_label(question.maxtake) }}</div>
                                    <div class="col-sm-4">{{ form_widget(question.maxtake) }}</div>
                                    <div class="col-sm-4 error-message">{{ form_errors(question.maxtake) }}</div>
                                </div>   
                            </div>  
                            </li>                               
                            {% endfor %}    
                        </ul>   
                        {% endif %}
                                               
                        {% if flow.getCurrentStepNumber() == 2 %}                                                   
                        
                        <ul class="evaluation" data-prototype="{% filter escape %}
                            {{ include('TraceBundle:Campaign:criterion.html.twig', { 'form': form.evaluationcriteria.vars.prototype }) }}
                            {% endfilter %}">   
                                {% for evaluation in form.evaluationcriteria %}
                                    <div class="row"> 
                                        <div class="col-sm-4">{{ form_label(evaluation.criterion,'Evaluation Criteria' ) }}</div>
                                        <div class="col-sm-4">{{ form_widget(evaluation.criterion) }}</div>
                                        <div class="col-sm-4 error-message">{{ form_errors(evaluation.criterion) }}</div>
                                    </div>
                            {% endfor %}
                        </ul> 
                       
                        {% endif %}
                        
                        {% if flow.getCurrentStepNumber() == 3 %}                      
                        <div class="row">                              
                                <div class="col-sm-2">{{ form_label(form.deadlinetoanswer) }}</div>
                                <div class="col-sm-2">{{ form_widget(form.deadlinetoanswer) }}</div>  
                                <div class="col-sm-4">{{ form_errors(form.deadlinetoanswer) }}</div> 
                                                        
                        </div>  
                         <br>
                        <div class="row">                              
                             <div class="col-sm-6">{{ form_label(form.prerecwelcomemsg) }}<br>
                                {{ form_widget(form.prerecwelcomemsg) }}
                             </div>  
                           
                             <div class="col-sm-6">
                                {{ form_label(form.prerecthankyoumsg) }}<br> 
                                {{ form_widget(form.prerecthankyoumsg) }}
                             </div> 
                        </div>   
                        </div>     
                          <br>
                        {% endif %}
    </div> 
        {% include '@CraueFormFlow/FormFlow/buttons.html.twig' with {
		craue_formflow_button_class_last: 'btn btn-primary',
		craue_formflow_button_class_back: 'btn',
		craue_formflow_button_class_reset: 'btn btn-warning',
                craue_formflow_button_label_finish: 'submit',
	} %}
       
	{{ form_end(form) }}
{% endblock %}#}

{% block javascripts %}
{#    {{parent()}}   #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/trace/js/prerecordedcampaignquestion.js') }}"></script>   
       
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqw0FufC4SwReqbbBch2P9lX1mvpuiygI&v=3.exp&libraries=places"></script>
{#    <script src="{{ asset('bundles/trace/js/evaluationcriteria.js') }}"></script>#}
{% endblock %}