{#{% extends 'TraceBundle:Campaign:layout_flow.html.twig' %}#}
{% extends 'TraceBundle::layout.html.twig' %}
{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}

{% block headline %}
	<h3>Pre-recorded</h3> 
{% endblock %}

{% block stylesheets %}
 {{parent()}}   
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css"> 
 <link href="{{ asset('bundles/trace/css/prerecordedpage.css') }}" type="text/css" rel="stylesheet" />   
{% endblock %}    
    
{% block content %}
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('prerecordedcampaign'), 'attr': {'class': 'prerecordedcampaign','novalidate': 'novalidate'}}) }}
                        <ul class="evaluation" data-prototype="{% filter escape %}
                            {{ include('TraceBundle:Campaign:criterion.html.twig', { 'form': form.evaluationcriteria.vars.prototype }) }}
                            {% endfilter %}">   
                                {% for evaluation in form.evaluationcriteria %}
                                    {{ dump(evaluation) }}
                                    <div class="row"> 
                                        
                                        <div class="col-sm-4">{{ form_label(evaluation.criterion,'Evaluation Criteria' ) }}</div>
                                        <div class="col-sm-4">{{ form_widget(evaluation.criterion) }}</div>
                                        <div class="col-sm-4 error-message">{{ form_errors(evaluation.criterion) }}</div>
                                    </div>
                            {% endfor %}
                        </ul> 
                        <br>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4"><button type="submit" name="submit" value="submit" class="btn btn-primary">Save & Proceed</button></div>
        </div>         
	{{ form_end(form) }}
{% endblock %}

{% block javascripts %}
{#    {{parent()}}   #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/trace/js/evaluationcriteria.js') }}"></script>
{% endblock %}