<div class="container well">  
    <div class="row"> 
        <div class="col-sm-2">{{ form_label(form.israndom) }}</div>
        <div class="col-sm-4">{{ form_widget(form.israndom) }}</div>
        <div class="col-sm-4 error-message">{{ form_errors(form.israndom) }}</div>
    </div>
    <br>
    <div class="row"> 
        <div class="col-sm-2">{{ form_label(form.videoattachment) }}</div>
        <div class="col-sm-4">{{ form_widget(form.videoattachment) }}</div>
        <div class="col-sm-4 error-message">{{ form_errors(form.videoattachment) }}</div>
    </div>
    <br>
    <div class="row"> 
        <div class="col-sm-2">{{ form_label(form.question) }}</div>
        <div class="col-sm-4">{{ form_widget(form.question) }}</div>
        <div class="col-sm-4 error-message">{{ form_errors(form.question) }}</div>
    </div>
    <br>
    <div class="row"> 
        <div class="col-sm-2">{{ form_label(form.imageattachment) }}</div>
        <div class="col-sm-4">{{ form_widget(form.imageattachment) }}</div>
        <div class="col-sm-4 error-message">{{ form_errors(form.imageattachment) }}</div>
    </div>
    <br>
    <div class="row"> 
        <div class="col-sm-2">{{ form_label(form.responsetype) }}</div>
        <div class="col-sm-4">{{ form_widget(form.responsetype) }}</div>
        <div class="col-sm-4 error-message">{{ form_errors(form.responsetype) }}</div>
    </div>
    <br>
    <div class="row"> 
        <div class="col-sm-2">{{ form_label(form.minduration) }}</div>
        <div class="col-sm-4">{{ form_widget(form.minduration) }}</div>
        <div class="col-sm-4 error-message">{{ form_errors(form.minduration) }}</div>
    </div> 
    <br>
    <div class="row"> 
        <div class="col-sm-2">{{ form_label(form.maxduration) }}</div>
        <div class="col-sm-4">{{ form_widget(form.maxduration) }}</div>
        <div class="col-sm-4 error-message">{{ form_errors(form.maxduration) }}</div>
    </div>
    <br>
    <div class="row"> 
        <div class="col-sm-2">{{ form_label(form.thinktime) }}</div>
        <div class="col-sm-4">{{ form_widget(form.thinktime) }}</div>
        <div class="col-sm-4 error-message">{{ form_errors(form.thinktime) }}</div>
    </div> 
    <br>
    <div class="row"> 
        <div class="col-sm-2">{{ form_label(form.maxtake) }}</div>
        <div class="col-sm-4">{{ form_widget(form.maxtake) }}</div>
        <div class="col-sm-4 error-message">{{ form_errors(form.maxtake) }}</div>
    </div>   
</div>      