{% extends 'TraceBundle::layout.html.twig' %}

{% block content %}
    
    <div class="container">
        
        <title>{% block title %}Success{% endblock %}</title>
    <div class="container">
         <div class="row"> 
        <div class="col-md-12"> 
{#            {% trans %} registration.sucesstext {% endtrans %} #}
            <br> <br>   
            {{ 'registration.sucesstext'|trans }}
            Please click here to <a href="{{ path('tracesecuritylogin') }}"> Log in</a>                         
        </div>
        </div>          
    </div>
{% endblock %}