{% extends 'TraceBundle::layout.html.twig' %}

{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}

{% block stylesheets %} 
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Extension Requests</h1>
        <br>
        <div class="row">  
            <div class="col-sm-3"><b>Applicant Name</b></div>
            <div class="col-sm-7"><b>Reason for Extension</b></div>
        </div>    
        {% for applicant in applicants %}
        <div class="row">  
            <div class="col-sm-3">{{ applicant.firstname }}&nbsp;{{ applicant.lastname }}</div>
            <div class="col-sm-7">{{ applicant.reason }}</div>
            <div class="actions col-sm-2">
                <button type="button" data-applicant-id="{{applicant.id}}" class="btn btn-primary btn-sm editable-submit">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                &nbsp;
                &nbsp;
                <button type="button" data-applicant-id="{{applicant.id}}" class="btn btn-default btn-sm editable-cancel">
                    <i class="glyphicon glyphicon-remove"></i>
                </button>
            </div> 
        </div>
        {% endfor %}    
    </div>
{% endblock %}      

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script>
    $(document).ready(function () { 
        $(document).on('click', ".editable-submit", function (e) {
            e.preventDefault();
            var applicantid = $(this).attr('data-applicant-id');
            $.ajax({
                type: 'POST',
                url: Routing.generate('extensionrequestapprovalpage'),
                contentType: 'application/x-www-form-urlencoded',
                data: {applicant_id: applicantid, flag: 'approve'},
                success: function (result, status, xhr) {
                    res = JSON.parse(result);
                    $('.actions').text('Thank you for your response');
                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
            });
        });
        
        $(document).on('click', ".editable-cancel", function (e) {
            e.preventDefault();
            var applicantid = $(this).attr('data-applicant-id');
            $.ajax({
                type: 'POST',
                url: Routing.generate('extensionrequestapprovalpage'),
                contentType: 'application/x-www-form-urlencoded',
                data: {applicant_id: applicantid, flag: 'reject'},
                success: function (result, status, xhr) {
                    res = JSON.parse(result);
                    $('.actions').text('Thank you for your response');
                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
            });
        });
    });
    </script>
{% endblock %}