{% extends 'TraceBundle::layout.html.twig' %}

{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}

{% block stylesheets %} 
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('startinterviewpage', {'uniquecode': uniquecode}), 'attr': {'class': '','novalidate': 'novalidate'}}) }}
        <div class="row">  
            <div class="col-sm-2">{{ form_label(form.reason) }}</div>
            <div class="col-sm-2">{{ form_widget(form.reason) }}</div>
            <div class="col-sm-4">{{ form_errors(form.reason) }}</div> 
        </div>
        <br>
        <div class="row">  
            <div class="col-sm-offset-2 col-sm-2">
                <input class="btn btn-primary" type="submit" value="Submit" id="submit">
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}      

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}