{% extends 'TraceBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}   
 {{parent()}}
 <link href="{{ asset('bundles/trace/css/adminregistration.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}                   
        <title>{% block title %}traceRECruit Registration Form{% endblock %}</title>
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('registration'), 'attr': {'class': 'registration','novalidate': 'novalidate'}}) }}
        <div class="row"> 
        <div class="col-sm-12 col-sm-offset-2"> 
             <h3> {% trans %} Registration&nbsp;Form{% endtrans %}  &nbsp;
                 <a href="{{ path('tracesecuritylogin') }}">Log in</a>    
             </h3>             
        </div> 
        </div> 
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Admin Details</legend>
        <div class="row">
            <div class="col-sm-2">{{ form_label(form.firstname) }}</div>
            <div class="col-sm-3">{{ form_widget(form.firstname) }}</div>
            <div class="col-sm-4">{{ form_errors(form.firstname) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-2">{{ form_label(form.lastname) }}</div>
            <div class="col-sm-3">{{ form_widget(form.lastname) }}</div>
            <div class="col-sm-4">{{ form_errors(form.lastname) }}</div>
        </div>
        <br>
        <div class="row">     
            <div class="col-sm-2">{{ form_label(form.email) }}</div>
            <div class="col-sm-3">{{ form_widget(form.email) }}</div>
            <div class="col-sm-4">{{ form_errors(form.email) }}</div>
        </div>
        <br>
        <div class="row">  
            <div class="col-sm-2">{{ form_label(form.username) }}</div>
            <div class="col-sm-3">{{ form_widget(form.username) }}</div>  
            <div class="col-sm-4">{{ form_errors(form.username) }}</div>
        </div> 
        <br>
      
        <div class="row">
            <div class="col-sm-2">{{ form_label(form.plainPassword.pass, 'Password') }}</div>
            <div class="col-sm-3">{{ form_widget(form.plainPassword.pass) }}</div>
            <div class="col-sm-4">{{ form_errors(form.plainPassword.pass) }}</div>
        </div>  
        <br>
        <div class="row">
            <div class="col-sm-2">{{ form_label(form.plainPassword.confirm, 'Confirm Password') }}</div>
            <div class="col-sm-3">{{ form_widget(form.plainPassword.confirm) }}</div>
            <div class="col-sm-4">{{ form_errors(form.plainPassword.confirm) }}</div>
        </div> 
        </fieldset>       
        <br>
        <fieldset class="scheduler-border"><legend class="scheduler-border">Tenant Details</legend>
        <div class="row">
            <div class="col-sm-2">{{ form_label(form.tenant.name) }}</div>
            <div class="col-sm-3">{{ form_widget(form.tenant.name) }}</div>
            <div class="col-sm-4">{{ form_errors(form.tenant.name) }}</div>   
        </div>  
        <br>  
        <div class="row">
            <div class="col-sm-2">{{ form_label(form.tenant.officialwebsiteurl) }}</div>
            <div class="col-sm-3">{{ form_widget(form.tenant.officialwebsiteurl) }}</div>
            <div class="col-sm-4">{{ form_errors(form.tenant.officialwebsiteurl) }}</div>
        </div>
        <br>  
       {# <div class="row">
            <div class="col-sm-2">{{ form_label(form.tenant.tenantsubdomainurl) }}</div>  
            <div class="col-sm-3">{{ form_widget(form.tenant.tenantsubdomainurl) }}</div>
            <div class="col-sm-4">{{ form_errors(form.tenant.tenantsubdomainurl) }}</div>
        </div>  
        <br>  #}
        {#<div class="row">
            <div class="col-sm-2">{{ form_label(form.tenant.logourl) }}</div>
            <div class="col-sm-3">{{ form_widget(form.tenant.logourl) }}</div>
            <div class="col-sm-4">{{ form_errors(form.tenant.logourl) }}</div>
        </div>  
        <br> #}
        <div class="row">
            <div class="col-sm-2">{{ form_label(form.tenant.language) }}</div>
            <div class="col-sm-3">{{ form_widget(form.tenant.language) }}</div>
            <div class="col-sm-4">{{ form_errors(form.tenant.language) }}</div> 
        </div>  
        </fieldset>
        <br>
       
        <br>
        <br>
        <div class="row">
            <div class="col-sm-offset-2 col-sm-2"><input type="submit" class="btn btn-success" value="Submit" /></div>      
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}    