<div class="{{ 'row document row'~document.id }}">
<br>
<span id="{{document.id}}" class="remove_document glyphicon glyphicon-remove pull-right pointer"></span>
<input class="document" data-document-id="{{document.id}}" placeholder="Enter the name of the document" type="text" name="title" size="45" value="">
</div>