<div class="{{'row criteria row'~criterion.id}}" data-criterion-id="{{criterion.id}}">
    <label class="col-md-3 control-label" for="{{'criterion-'~criterion.id}}">{{'Criterion n°'~criterion.id}}</label>
    <div class="col-md-9">
        <span id="{{criterion.id}}" class="remove_criterion glyphicon glyphicon-remove delete-criteria pull-right pointer"></span>
        <input type="text" data-criterion-id="{{criterion.id}}" id="{{'criterion-'~criterion.id}}" maxlength="200" value="{{criterion.criterion}}" class="form-control criteria-label to_disable_if_active" placeholder="Your criterion">
    </div>
</div>