<div class="col-sm-4 media-container text-center video-div">    
    <video data-document-id="{{document.id}}" class="{{"video"~document.id}}">
        <source src="{{asset('tenant/'~tenant.id~'/document/'~document.id~'/video/'~document.documentname)}}" type="video/mp4">
    </video>
</div>
<script src="{{ asset('bundles/trace/js/videodisplay.js') }}"></script>  