    
<!-- Video Modal -->
<div id="videoplayModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="text-center video-div">    
                    <video controls width="640" height="480" data-question-id="{{question.id}}" data-document-id="{{document.id}}" class="{{"video"~document.id}}">
                        <source src="{{asset('tenant/'~tenant.id~'/document/'~document.id~'/video/'~document.documentname)}}" type="video/mp4">
                    </video>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>  
                </div>   
            </div>         
        </div>
    </div>
</div>    
<script>
    $(document).ready(function () {
        $("#videoplayModal").on('hidden.bs.modal', function () {
            $(this).data('bs.modal', null);
            $(this).remove();
        });
    });
</script>