<!-- Video Modal -->
<div id="videoModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div id="dropzone-media" class="text-center">
                                <span>Drag and drop a video or click to browse a file</span>
                                <br>
                                <small>mp4, mpeg (< 10 MiB)</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1" id="error-message">

                        </div>
                    </div>
                    <br>
                    <div class="row">
                    <div class="col-sm-offset-1 col-sm-10">
                    <div class="row" id="documents">
                        {% if documents is defined %}
                            {% for document in documents %}   
                                <div class="col-sm-4 media-container text-center video-div">    
                                    <video data-document-id="{{document.id}}" class="{{"video"~document.id}}">
                                        <source src="{{asset('tenant/'~tenant.id~'/document/'~document.id~'/video/'~document.documentname)}}" type="video/mp4">
                                    </video>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <span style="position:relative;">
                            <input type="button" class="btn btn-primary insert-btn" data-question-id="{{question.id}}" name="insert" value="Insert" disabled="disabled">
                            <div class="activate" style="position:absolute; left:0; right:0; top:0; bottom:0; cursor: pointer;" ></div>
                        </span>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>  
                </div>    
            </div>    
        </div>

    </div>
</div>
<script src="{{ asset('bundles/trace/js/videoupload.js') }}"></script>