{% extends 'TraceBundle::layout.html.twig' %}

{% block stylesheets %}   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css"> 
<link href="{{ asset('bundles/trace/css/recruiter.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    {% include 'TraceBundle:Home:headerpage.html.twig' %} 
     <br>
    <div class="container">
    {% include 'TraceBundle:Campaign:addcampaignheadergeneral.html.twig' %}
    <br>
    <br>
        <div class="campaign-general" data-campaign-id="{{campaign.id}}">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <label>Job Title*</label>
                <br>
                <input id="title" type="text" name="title" size="45" value="{{campaign.campaigntitle}}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <label>Location</label>
                <br>
                <input id="location" type="text" name="title" size="45" value="{{campaign.location}}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <a id="addreference" href="#">Set a reference</a>
            </div>
        </div>
        <br>
        <div class="row setreference hidden">
            <div class="col-sm-6 col-sm-offset-4">
                <label>Job reference</label>
                <br>
                <input id="jobreference" type="text" name="title" size="45" value="{{campaign.jobreference}}">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <label>Applicant language</label>
                <br>
                <select id="applicant-language" name="language">
                    <option value="en">English</option>
                    <option value="fr">French</option>
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4">
                <label>Documents requested</label>
                <br>
                <div class="dynamic-document">
                {% for document in documents %}
                    <div class="{{ 'row row'~document.id }}">
                    <br>
                    <span id="{{document.id}}" class="remove_document glyphicon glyphicon-remove pull-right pointer"></span>
                    <input class="document" data-document-id="{{document.id}}" placeholder="Enter the name of the document" type="text" name="title" size="45" value="{{document.value}}">
                    </div>
                {% endfor %}
                </div>
                <br>
                <button id="adddocument" class="btn btn-primary">Add</button>
            </div>
        </div>  
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqw0FufC4SwReqbbBch2P9lX1mvpuiygI&v=3.exp&libraries=places"></script>
    <script src="{{ asset('bundles/trace/js/general.js') }}"></script>
{% endblock %}    