{% extends "TraceBundle::layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}
{{ parent() }}     
<link href="{{ asset('bundles/trace/css/loginpage.css') }}" type="text/css" rel="stylesheet" /> 
{% endblock %}

{% block content %} 
    <div class="container">
        <div class="row">
    <div class="col-sm-12">   
                {% for message in app.flashes('error') %}
                    <div class="flash-error"> 
                        <center><b> {{ message }} </b></center>   
                    </div>
                {% endfor %}
    </div>
    </div> 
    </div>  
        <title>{% block title %}traceRECruit | LOGIN PAGE{% endblock %}</title> 
{#        {% if error %}#}
{#            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>#}
{#        {% endif %}#}
  <form action="{{ path("fos_user_security_check") }}" method="post">
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />      
    <div class="login-container"> 
        <h1>Login to Your Account</h1><br>
           <form>     
            <label for="username">{{ 'security.login.username'|trans }}</label>       
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />       
            <label for="password">{{ 'security.login.password'|trans }}</label>       
            <input type="password" id="password" name="_password" required="required" />      
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>       
            <input type="submit" class="login login-submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>     
        
        <div class="login-help">
                Admin Registration &nbsp; <a href="{{ path('registration') }}"> Click here...</a>
        </div> 
        {#<div class="login-help">
                Provider Registration &nbsp; <a href="{{ path('providerregisterpage') }}"> Click here...</a>
        </div> #}   
        <div class="login-help">
                Forgot Password&nbsp;? &nbsp; <a href="{{ path('fos_user_resetting_request') }}">
                  Click here...</a>  
        </div>
    </div>                       
  </form>              
{% endblock content %}