{% extends 'TraceBundle::layout.html.twig' %}

{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}

{% block stylesheets %} 
    {{ parent() }}
    <style>
        label {
            width: 12em;
            display: inline-block;
        }
              .navbar-default .navbar-nav > li > a {
    color:#337ab7;
}
    </style>
{% endblock %}

{% block content %}
        <nav id="topnav" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#"><img id="brand-logo" src="{{ asset('bundles/trace/img/logo-epita.png') }}" width="50" height="50" alt="easyRECrue" title="easyRECrue" /></a>
            </div>

            <div id="navbar-links-collapse" class="collapse navbar-collapse text-center">
                <ul class="nav navbar-nav navbar-center">
                    <li>
                        <a>Step 1/4: Checks</a>
                    </li>  
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>{{campaign.campaigntitle}}</a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>
                    
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <video id="video" playsinline autoplay width="400px" height="400px"></video>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 text-center">    
                <select id="audioSource"></select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 text-center">    
                <select id="audioOutput"></select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 text-center">    
                <select id="videoSource"></select>
            </div>
        </div>
        <br>
        <div class="row text-center">
            <p>If you cannot see yourself click <a href="#">here...</a></p>
        </div>
        <br>
        <p class="text-center">If you can see yourself clearly, click continue</p>
        <br>
        <div class="row">
            <div class="col-sm-offset-5 col-sm-2 text-center">
                <form method="POST" action="{{path('diagnostictestpage', {'uniquecode': uniquecode})}}">
                    <input class="btn btn-lg btn-primary" type="submit" value="Continue" name="continue">
                </form>
            </div>
        </div>
    </div>
{% endblock %}      

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="{{ asset('bundles/trace/js/main.js') }}"></script>
{% endblock %}