/* add colleague style */
#add-form h3 {
    margin-top: 0;
    margin-bottom: 15px;
}
#add-form .campaign-access-recruiter hr {
    width: 160px;
    margin: 20px auto 10px 20px;
}  
h1, h2, h3, h4, h5, h6 {
    color: #2b4a83;
}
.campaign-access-recruiter div.radio {
    color: #949799;
    margin-left: 10px;
}
/* panel css */
.panel-title {
    position: relative;
}

.panel-title::after {
    content: "\f107";
    color: #333;
    top: -2px;
    right: 0px;
    position: absolute;
    font-family: "FontAwesome"
}
.panel-default>.panel-heading {
    color: #0078d7!important;
    font-weight: 400;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-title[aria-expanded="true"]::after {
    content: "\f106";
}   
 