h1, h2, h3, h4, h5, h6, .differed-color {
    color: #2b4a83;
}

.row {
    margin: 0;
}

.margin-center {
    margin: 0 auto;
}

.no-border {
    border: 0 !important;
}

.no-transform {
    text-transform: none !important;
}

.label {
    padding: .2em .6em !important;
}

.clearboth {
    clear: both;
}

.relative {
    position: relative;
}

.nopadding {
   padding: 0 !important;
}

.nomargin {
    margin: 0 !important;
}

.transform-none {
    text-transform: none;
}

.inline {
    display: inline-block;
}

.block {
    display: block;
}

.default-cursor {
    cursor: default;
}

.text-regular {
    font-weight: normal;
}

.navbar {
    border: 0;
    border-radius: 0;
}

.navbar-welcome {
    color: #1a578b;
    margin-top: 11px;
}

.vertical-separation {
    border-right: 1px solid #acb7cc;
}

.vertical-separation-light {
    border-right: 1px solid #e7e9f0;
}

.navbar-default {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    text-decoration: none;
}

.nav-tabs {
    border-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
    margin-left: 9px;
    margin-right: 9px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
    font-size: 15px;
}

.navbar-default .navbar-nav > li > a::after {
    display:block;
    content:attr(data-bold);
    font-weight:bold;
    height:0;
    visibility:hidden;
}

@media (max-width: 1200px) {
    .navbar-default .navbar-nav > li > a {
        margin-left: 4px;
        margin-right: 4px;
    }
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
}

.navbar-default .navbar-nav > li.active > a{
    border-bottom: 1px #2b4a83 solid;
    font-weight: bold;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a {
	color: #333333;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-image: none !important;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	color: #333333;
}

.navbar-default .navbar-right {
    padding-right: 0;
}

@media (max-width: 767px) {
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        margin-top: 26px;
    }

    .container > .navbar-header {
        margin-left: 0;
    }
}

@media (min-width: 767px) and (max-width: 990px) {
    .navbar-default .navbar-nav {
        margin-right: -50px;
    }
}

.link-button {
    background-color: inherit;
    margin-bottom: 10px;
    border: none;
}

.link-button:hover {
    text-decoration: underline;
}

#ajax-modal .alert {
    margin: 0;
    padding: 15px 10px 5px 10px;
}

h1.nav-title {
    margin-top: 0;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 23px;
    color: #333333;
    font-weight: 400;
    border-bottom: 1px #eee solid;
}

h1.nav-title .intro {
    font-size: 15px;
    color: #7c7c7c;
}

.search-input-group .input-group-addon {
    background: #ffffff;
}

.search-input-group .form-control {
    border-right: 0;
}

.text-default {
    color: #333 !important;
}

.mce-content-body {
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
    color: #333;
}

.typeahead > li > a {
    overflow-x: hidden
}

.modal-popup {
    margin-top: 100px;
    width: 500px;
}

.cursor-info, .cursor-help {
    cursor: help;
}