   body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    }   
   #topnav {
    background: #fff;
    border: none;
   } 
   .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li.active > a {
    color: #333333;
}

.navbar-default .navbar-nav > li.active > a {
    border-bottom: 1px #2b4a83 solid;
    font-weight: bold;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .dropdown-menu > li > a:focus {
    background-color: transparent;
}
.navbar-default .navbar-nav > li > a {
    margin-left: 9px;
    margin-right: 9px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8px;
    font-size: 15px;
}
.navbar-nav>li>a {
    line-height: 20px;
}
   
    .navbar-default .navbar-right {
    padding-right: 0;
    }
    .navbar-welcome {
    color: #1a578b;
    margin-top: 11px;
    }  
    .search-input-group .input-group-addon {
    background: #ffffff;
    } 
/*    .input-group-addon:last-child {
    border-left: 0;
    } */
    h1.nav-title {
    position: relative;
    z-index: -1;
   }
   h1.nav-title {
       margin-top: 0;
       margin-bottom: 30px;
       padding-bottom: 30px;
       font-size: 23px;
       color: #333333;
       font-weight: 400;
       border-bottom: 1px #eee solid;
   }
   h1.nav-title .intro {
       font-size: 15px;
       color: #7c7c7c;
   }
