/* loader(circle) css */

.item {
position: relative;
/*background-image:url("https://images.template.net/wp-content/uploads/2017/01/18062712/Blur-Background-For-Business.jpg");*/
/*height: 330px;
width:330px;
margin:0 auto;*/
}

.item h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
    margin-top: 85px;
}

svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 85px;
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
}
 