html, body {
    height: 100%;
}

table.sortable th.sorting {
    font-weight: bold;
    cursor: pointer;
}

table.sortable th.sorting:not(.sorttable_sorted):not(.sorttable_sorted_reverse):after { 
    content: " \25B4\25BE";
}

.btn[data-toggle~="tooltip"][disabled="disabled"] {
    pointer-events: auto;
}

.mandatory {
    color: #ff0000;
}

#content-container {
    padding-bottom: 35px;
}

#brand-logo {
    margin-top: 10px;
    margin-right: 20px;
}

.ajax-popover {
    max-width: 100%;
}

div.col-md-1 a span {
    color: #dddddd;
}

.loader img {
    margin-right: 5px;
}

.ui-slider .ui-slider-handle {
    width: 10px;
    cursor: pointer;
}

.btn-toggle button:not(.active) .glyphicon:first-child, .btn-multiple-toggle button:not(.active) .glyphicon:first-child {
    display: none;
}

.btn-md-alt {
    font-size: 16px;
}

.mce-tinymce {
	width: 99% !important;
}

.glyphicon-question-sign[data-toggle="tooltip"] {
	color: #115b87;
	cursor: pointer;
}

.strike {
    text-decoration: line-through;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.box {
    border: 1px solid #ddd;
    background: #fff;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.support {
    position: relative;
    top: -34px;
    float: right;
    padding-right: 30px;
    font-size: 16px;
}

.wrapper-toolbox {
    display: none;
}

.wrapper-toolbox img {
    margin: 10px 0px 10px 0px;
}

.tooltip {
    font-size: 12px;
    padding: 5px;
}

.tooltip.in {
    opacity: 1;
}

.tooltip-inner {
    color: #115b87;
    text-shadow: 0 1px 0 #fff;
    max-width: 300px;
    padding: 10px;
    text-align: center;
    background: #e2f1f9; /* Old browsers */
    background: #e2f1f9 -moz-linear-gradient(top, #e2f1f9 0%, #dfeff8 100%); /* FF3.6+ */
    background: #e2f1f9 -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2f1f9), color-stop(100%,#dfeff8)); /* Chrome,Safari4+ */
    background: #e2f1f9 -webkit-linear-gradient(top, #e2f1f9 0%,#dfeff8 100%); /* Chrome10+,Safari5.1+ */
    background: #e2f1f9 -o-linear-gradient(top, #e2f1f9 0%,#dfeff8 100%); /* Opera11.10+ */
    background: #e2f1f9 -ms-linear-gradient(top, #e2f1f9 0%,#dfeff8 100%); /* IE10+ */
    background: #e2f1f9 linear-gradient(top, #e2f1f9 0%,#dfeff8 100%); /* W3C */
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4), 0 1px 1px rgba(0, 0, 0, .08);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4), 0 1px 1px rgba(0, 0, 0, .08);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .4), 0 1px 1px rgba(0, 0, 0, .08);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #c5e4f6;
    border-bottom: 1px solid #afd8ef;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #dfeff8;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #dfeff8;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #dfeff8;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #dfeff8;
}

.modal-header {
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

.modal-content {
    border-radius: 0px;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 10px;
}

.table-container {
    display: table;
}

.table-container .table-row {
    height: 100%;
    display: table-row;
}

.table-container .table-row .table-col {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

.table-cell {
    display: table-cell;
}

.subtitle {
    color: #777;
    font-size: 16px;
}

img.grayscale {
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    /* Firefox 3.5+ > 34- */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.glyphicon-animate {
    -animation: spin 1s infinite linear;
    -ms-animation: spin 1s infinite linear;
    -webkit-animation: spinw 1s infinite linear;
    -moz-animation: spinm 1s infinite linear;
}
 
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
 
@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
} 

.pulse-animation {
    -animation: pulsate 1.5s infinite ease-out;
    -ms-animation: pulsate 1.5s infinite ease-out;
    -moz-animation: pulsatem 1.5s infinite ease-out;
    -webkit-animation: pulsatew 1.5s infinite ease-out;
}

@keyframes pulsate {
    0%   {opacity: 1.0;}
    50%  {opacity: 0.5;}
    100% {opacity: 1.0;}
}

@-moz-keyframes pulsatem {
    0%   {opacity: 1.0;}
    50%  {opacity: 0.5;}
    100% {opacity: 1.0;}
}

@-webkit-keyframes pulsatew {
    0%   {opacity: 1.0;}
    50%  {opacity: 0.5;}
    100% {opacity: 1.0;}
}

/**** flashplayer ****/
.text-center .videoplayer-wrapper object,
.center-block .videoplayer-wrapper object {
    margin: auto;
}

/* Videojs */
.text-center .videoplayer-wrapper,
.center-block .videoplayer-wrapper {
    margin: auto;
}

/* Videojs audio */
.text-center .audioplayer-wrapper,
.center-block .audioplayer-wrapper {
    margin: auto;
}

.vjs-audio.video-js .vjs-control-bar {
    display: block; 
}

.vjs-audio.vjs-big-play-button,
.vjs-audio .vjs-fullscreen-control,
.vjs-audio.video-js.vjs-default-skin .vjs-big-play-button {
    display: none; 
}

.vjs-audio.vjs-default-skin .vjs-volume-control { 
    margin-right: 20px; 
}

/* Videojs errors */
.vjs-audio.vjs-error-display div {
    position: relative;
}

.vjs-error .vjs-error-display {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:rgba(0, 0, 0, 0.5);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000)"; /* IE8 */
}

.vjs-error-display .vjs-errors-ok-button-container,
.vjs-error-display .vjs-errors-close-button,
.vjs-error-display .vjs-errors-content-container div {
    display: none\9;
}

.vjs-error-display,
.vjs-error-display .vjs-errors-ok-button-container,
.vjs-error-display .vjs-errors-close-button,
.vjs-error-display .vjs-errors-content-container > div:first-of-type {
    display: none;
}

.vjs-errors-dialog {
    border: 1px #999 solid;
    overflow: hidden;
    position: absolute;
    min-height: 100%;
    top: 0;
    bottom: 5%;
    left: 5%;
    right: 5%;
}

.vjs-error-display .vjs-errors-content-container {
    background: transparent;
    position: absolute;
    padding-bottom: 15px;
    top: 20px;
    left: 15px;
    right: 15px;
    bottom: 61px; /* dialog padding + ok button + 10 */
}

.vjs-error-display .vjs-errors-headline {
    color:  #FFFFFF !important;
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
}

.vjs-error-display .vjs-errors-details {
    background: transparent;
    font-size: 26px;
    top: 50px;
}

.vjs-error-display .vjs-errors-message {
    font-size: 20px;
    top: 10px;
    border: 1px #999 solid;
    overflow: auto;
    padding: 15px;
}

.vjs-xs.vjs-error-display {
    font-size: 14px;
    background-color: #000;
}

.vjs-xs .vjs-errors-headline {
    color: #FFFFFF !important;
    font-size: 16px;
    font-weight: bold;
}

.vjs-xs.vjs-error-display .vjs-errors-message {
    margin-top: 15px;
    font-size: 14px;
}

.vjs-xs.vjs-error-display .vjs-errors-details {
    margin-top: -20px;
    font-size: 16px;
}

.vjs-xs .vjs-errors-content-container {
    top: 5px;
}

.vjs-xs .vjs-errors-dialog {
    border: none;
    top: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* Bootstrap 4 position */

@media (min-width: 1200px) {
    .text-lg-center {
        text-align: center;
    }
}
@media (max-width: 1199px) {
    .text-md-center {
        text-align: center;
    }
}
@media (max-width: 991px) {
    .text-sm-center {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .text-xs-center {
        text-align: center;
    }
}

.min-width-100 {
    min-width: 100px;
}

.ui-widget-content.ui-autocomplete {
    background-color: #ffffff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-widget-content.ui-autocomplete .ui-state-focus {
    background: #DDD none;
}

.ui-helper-hidden-accessible {
    display: none;
}

.valign,
.table>tbody>tr>td.valign
{
    vertical-align: middle;
}