#content {
    min-height: 300px;
}

body {
    background: #fff;
}

ol, ul {
    margin: 0;
}

ul.nav-tabs-right {
    float: right;
}

ul.nav-tabs-right a {
    margin-right: 0 !important;
}

table td.fit,
table th.fit {
    white-space: nowrap;
    width: 1%;
}

textarea {
    resize: vertical;
}

.loader {
    border: 8px solid #eee;
    border-top: 8px solid #777;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.light-bg {
    background-color: #fbfbfb;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f8f8f8;
}

#change-form .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f5f8ff;
}

#change-form table {
    border: 1px solid #eee;
    border-radius: 5px;
}

#change-form tbody {
    display: block;
    max-height: 270px;
    overflow-y: auto;
}

#change-form thead, #change-form tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#change-form .table>tbody>tr>td, #change-form .table>tbody>tr>th {
    border: 0;
}

.grade-text {
    min-width: 15px;
    line-height: 1.7;
    text-align: right;
}

.circle-badge {
    border-radius: 50%;
    font-weight: bold;
}

.btn-circle {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 6px 0;
    font-size: 10px;
    border-radius: 50%;
}

.btn-circle-mini {
    font-size: 13px;
    padding: 0;
    width: 20px;
    height: 20px;
}

.group-link-button, .group-link-button:hover {
    background: none;
    border-color: #e14444;
    color: #e14444;
}

.group-link-button.highlighted {
    background-color: #e14444;
    border-color: #e14444;
    color: #fff;
}

.btn-plus {
    padding: 6px 9px;
    margin-right: 10px;
    border: 1px solid #999;
    border-radius: 50%;
}

.btn-plus.text-muted {
    border-color: #ccc;
    color: #ccc;
}

.btn-plus:before {
    content: '+';
    font-size: 18px;
}

.item-list {
    list-style: none;
    padding: 0;
}

.item-list .glyphicon {
    top: 2px;
}

#selected-list .glyphicon {
    top: 5px;
}

.remove-from-list {
    cursor: pointer;
}

.btn-circle.btn-alt {
    background-color: #e6e6e6;
}

.btn-circle.btn-alt > i:before {
    content: '\e113';
}

.badge-differed {
    padding: 3px 5px;
    background-color: #337ab7;
}

.badge-live {
    padding: 3px 5px;
    background-color: #5cb85c;
}

.card {
    background-color: #f7f9ff;
    border-radius: 5px;
    border: 1px solid #e8ecf8;
    padding: 20px;
}

.box-sub {
    border-top: 0;
}

.customization-edit .label {
    cursor: grab;
    display: inline-block;
}

.modal-dialog img.intro-header {
    max-width: 530px;
}

.nice-dropdown {
    margin-top: 10px;
    padding: 0;
    text-align: center;
    min-width: 100px;
    left: 56%;
}

.nice-dropdown li>a {
    padding: 10px 20px;
}

.nice-dropdown .divider {
    margin: 0px 15px;
}

.choice-add-btn, .choice-add-btn:hover {
    background-color: #2D75B4;
    color: #FFFFFF;
    font-size: 19px;
    margin-bottom: 10px;
    position: relative;
    left: 450px;
    bottom: 35px;
    padding: 0px 20px;
}

.choice-add-btn.matching {
    left: 675px;
}

#candidate-comments .editable-container.editable-inline,
#candidate-comments .editable-container.editable-inline .control-group.form-group,
#candidate-comments .editable-container.editable-inline .control-group.form-group .editable-input,
#candidate-comments .editable-container.editable-inline .control-group.form-group .editable-input textarea,
#candidate-comments .editable-container.editable-inline .control-group.form-group .editable-input select,
#candidate-comments .editable-container.editable-inline .control-group.form-group .editable-input input:not([type=radio]):not([type=checkbox]):not([type=submit]) {
    width: 100%;
}

#candidate-list-container {
    overflow: auto;
}

.subject-row {
    position: relative;
}

.subject-row .subject-wrapper {
    position: absolute;
    bottom: 0px;
}

.requisite-wrapper {
    position: relative;
    margin-top: -10px;
}

.requisite-wrapper input[type="text"] + .form-autosave-feedback {
    top: 21px;
    right: 0;
}

.toolbox .dyk {
    color: #777;
    font-size: 14px;
}

.toolbox .affix-top {
    margin-left: 20px;
    margin-top: 60px;
}

.toolbox .affix {
    margin-left: 20px;
    top: 5px;
}

.toolbox ol, .toolbox ul {
    margin: 10px 0px 10px 0px;
}

.toolbox ol + br, .toolbox ul + br {
    display: none;
}

#document-modal-dialog {
    width: 70%;
    height: 70%;
    padding: 0;
}

#dry-link {
    text-decoration: underline;
}

#document-video-wrapper {
    max-width: 700px;
}

.unlicensed {
    color: #cccccc !important;
    cursor: default;
}

.box-title {
    text-align: center;
    padding: 20px;
    margin: 0;
}

@media (min-width: 992px) {
    #access-list > tbody > tr > td.visibility-access {
        padding-left: 15%;
    }
}
@media (min-width: 1200px) {
    #access-list > tbody > tr > td.visibility-access {
        padding-left: 20%;
    }
}
.access-cell {
    position: relative;
    border-left: 1px solid #DDD;
}

.access-cell > label {
    font-weight: 500;
}

.campaign-title-bloc {
    min-height: 33px;
}

.question {
    margin-bottom: 10px;
}

#questions .question-wrap .edition-mode {
    display: none;
}

#questions .question-wrap .form-control-feedback, #questions .question .form-autosave-feedback {
    right: 50px;
}

#questions .question-wrap .choices-rows .score-switch {
    margin-right: -5px;
}

#questions .question-index {
    background-color: #3C74B8;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 11px;
    border-radius: 15px;
    margin: 5px 0 6px 34px;
    width: 30px;
    height: 18px;
    font-size: 13px;
}

#questions .random-btn, .new-question-bloc .random-btn {
    background-color: #3C74B8;
    color: #FFFFFF;
    display: inline-block;
    padding: 1px 8px;
    border-radius: 15px;
    margin: 3px;
    font-size: 12px;
}

.new-question-bloc .choice-add-btn {
    position: relative;
    left: 365px;
    top: -48px;
    padding: 2px 20px;
}

#questions a.random-btn {
    background-color: #E3E5EE;
}

#questions .bloc-children-questions .add-child {
    left: 45px;
    position: relative;
    cursor: pointer;
}

#questions .media-video {
    background-color: #E3E5EE;
    height: 54px;
    border-radius: 4px;
    left: 32px;
    width: 33px;
    position: absolute;
    top: 2px;
}

#questions .remove-media-video {
    position: absolute;
    background-color: #789ECE;
    border-radius: 4px 4px 0 0;
    color: #3C74B8;
    padding: 7px 11px;
    display: none;
    top: 2px;
    left: 32px;
    font-size: 11px;
    z-index: 1;
}

#questions .media-image {
    position: absolute;
    background-color: #E3E5EE;
    border-radius: 4px;
    width: 41px;
    height: 42px;
    font-size: 12px;
    top: 8px;
    right: 13px;
}

#questions .bloc-children-questions .media-image {
    top: 8px;
}

#questions .remove-media-image {
    position: absolute;
    background-color: #789ECE;
    border-radius: 4px 4px 0 0;
    color: #3C74B8;
    padding: 3px 15px;
    top: 8px;
    right: 13px;
    display: none;
    font-size: 11px;
    z-index: 1;
}

#questions .media-video img {
    color: #B0BACF;
    top: 16px;
    left: 6px;
    position: absolute;
}

#questions .question-wrap.active .media-video.active img {
    top: 27px;
}

#questions .media-image img {
    color: #B0BACF;
    top: 13px;
    left: 13px;
    position: absolute;
}

#questions .question-wrap.active .media-image.active img {
    top: 23px;
}

#questions .media-video.active, #questions .media-image.active, .new-question-bloc .media-video.active, .new-question-bloc .media-image.active {
    background-color: #3C74B8;
}

.media-element .vjs-big-play-button {
    display: none;
}

.medias-container {
    background-color: #F5F6F9;
    overflow: hidden;
    border-radius: 4px;
    padding: 15px 0;
    max-height: 500px;
    overflow: auto;
}

.medias-container input {
    border-radius: 50px;
    height: 28px;
}

.media-container {
    border-radius: 4px;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 19.9%;
    padding: 4px;
}

.media-container .delete-document {
    color: #000000;
}

.media-container .delete-document:hover {
    color: #FFFFFF;
}

.media-container.uploaded {
    background-color: #FFFFFF;
}

.media-container.active {
    background-color: #3C74B8;
    color: #FFFFFF;
}

.media-container:hover {
    cursor: pointer;
}

.media-element {
    height: 100px;
    margin: 10px 0;
    width: 100%;
    float: left;
    position: relative;
}

.medias .media-element .control {
    left: 90px;
}

.media-element .control {
    width: 35px;
    top: 35px;
    left: 70px;
    font-size: 35px;
    color: #FFF;
    text-shadow: 0 0px 20px #979ca7;
}

.media-element:hover {
    color: #FFFFFF;
}

.media-element img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.media-element span {
    top: 5px;
    position: absolute;
    font-size: 10px;
    right: 5px;
    z-index: 1;
}

.media-element span.disable {
    cursor: initial;
}

.media-element .tooltip {
    position: fixed;
}

.media-container .media-name {
    white-space: nowrap;
}

#questions .answer-type-list {
    display: inline-block;
    margin-left: 26px;
    font-size: 18px;
    padding: 0;
    list-style: none;
}

#questions .answer-type-list > div {
    display: inline-block;
    color: #B0BACF;
    font-size: 15px;
}

#questions .answer-type-list > div:not(:last-child):after {
    content: ' | ';
}

#questions .select-nb-choices {
    width: 20%;
    padding: 0 5px;
    left: -47px;
    position: relative;
}

#questions .select-nb-choices[disabled] {
    left: 10px;
}

#questions .select-nb-choices.matching {
    left: 145px;
}

.question .time {
    margin: 0 9px;
    color: #b0bacf;
    height: 31px;
}

.question .time .del-time {
    color: #E3E5EE;
    cursor: pointer;
}

#topnav .nav-tabs > li {
    margin-bottom: 0px;
}

.nav-tabs {
    border-bottom: 0px;
}

.bloc-differed.criterias-bloc form {
    margin-bottom: 50px;
}

.question .nav a {
    padding: 8px 8px;
    color: #555555 !important;
}

.bloc-children-questions .question {
    margin: 0px;
}

.question-base {
    padding: 10px 23px;
}

.question-base:nth-of-type(odd) {
    background-color: #FAFAFC;
}

.question-base .question-cell {
    padding-left: 10px;
    padding-right: 10px;
}

.question textarea {
    resize: none;
}

.question textarea.choice_field {
    height: 28px;
}

.question-grip, .question-handle {
    cursor: move;
}

.question-grip {
    position: absolute;
    top: 10px;
    opacity: 0.5;
}

.question-wrap.question-base.active .question-grip {
    opacity: 1;
}

.delete .choice-del-btn {
    margin-top: 11px;
    margin-left: -35px;
    padding: 2px;
    background-color: #E3E5EE;
    color: #ABB7CB;
    font-size: 10px;
    cursor: pointer;
}

.score-switch {
    vertical-align: text-top;
}

.choices-no-scoring {
    margin-left: 31px;
}

.choices-bloc-scoring, .choices-bloc-child {
    margin-left: -55px;
}

.add_choice {
    margin-left: -5px;
}

.criterias-bloc .glyphicon-remove, .delete-campaign-cross, .requisite-btn-delete {
    -webkit-text-stroke: 3px #FFFFFF;
    text-stroke: 3px #FFFFFF;
}

.requisite-btn-delete {
    top: 30px;
    right: -20px;
}

.access_remove {
    top: 5px;
}

.criterias-bloc .glyphicon-remove {
    top: 11px;
    right: -10px;
    font-size: 15px;
    position: absolute;
}

.question-del-btn {
    position: absolute;
    top: -30px;
    right: -17px;
    color: #ABB7CB;
    -webkit-text-stroke: 2px #FAFAFC;
    text-stroke: 2px #FAFAFC;
    cursor: pointer;
}

.child .question-del-btn {
    margin: 53px 11px;
    background-color: #E3E5EE;
    color: #ABB7CB;
    cursor: pointer;
    -webkit-text-stroke: 1px #E3E5EE;
    text-stroke: 1px #E3E5EE;
    width: 13px;
    height: 13px;
    font-size: 12px;
}

.choices .text-right {
    padding: 2px 0px 6px 10px;
}

.choices .delete {
    margin-top: -2px;
}

table.table-condensed .progress {
    margin-bottom: 10px;
}

table.borderless, table.borderless th, table.borderless td {
    border-top: 0px !important;
}

table.borderless th {
    border-bottom: 0px !important;
}

table.table-fixed {
    table-layout: fixed;
}

.container .editable-marker {
    color: #115b87;
}

.container .editable-click {
    border: 0px;
    cursor: pointer;
}

.container .editable-click.editable-disabled {
    border: 0px;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a,
a:active,
a:focus {
    outline: none;
}

.image-popover {
    max-width: 600px;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
}

.image-popover img {
    max-width: 600px;
}

.popover-link:focus,
.popover-link:active,
.popover-link:hover {
    text-decoration: none;
}

.popover {
    font-size: 12px;
    color: #000;
    text-transform: none;
}

#recent-candidates .popover, #candidate-comments #avis .popover {
    min-width: 400px;
}

.thumb-form .popover {
    border: 0;
    padding: 0;
    max-width: 400px;
}

.thumb-form .popover .arrow {
    display: none;
}

.thumb-form .popover-content {
    padding: 0;
}

.thumb-form .btn-smart-ranking {
    max-width: 200px;
    white-space: normal;
}

#folders .btn-smart-ranking {
    margin-top: -15px;
}

#folders .btn-smart-ranking a {
    padding: 0;
}

#folders .btn-smart-ranking img {
    height: 56px;
}

#folders a.disabled {
    cursor: not-allowed;
}

#unranked-applications-icon {
    height: 30px;
    width: 30px;
}

.applications-list img.icon-smart-ranking-enabled {
    height: 22px;
    width: 22px;
    position: absolute;
    top: 40px;
}

#smartranking-modal .modal-content {
    width: 640px;
}

#smartranking-modal .modal-body {
    min-height: 620px;
    padding: 50px;
    color: #8897b3;
}

#smartranking-modal h3 {
    color: #afbdd7;
    text-align: center;
    margin: 40px 0;
    line-height: 40px;
}

#smartranking-modal p {
    margin-bottom: 20px;
}

#smartranking-modal .smartranking-illustration {
    width: 100%;
}

#smartranking-modal .carousel-link {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

#smartranking-modal #smartranking-carousel-previous {
    color: #afbdd9;
}

#smartranking-modal #smartranking-carousel-next, #smartranking-modal #smartranking-dismiss {
    color: #379deb;
    text-decoration: none;
}

#smartranking-newcampaigns-modal #smartranking-dismiss {
    margin-top: 70px;
}

#smartranking-newcampaigns-modal .campaign-link {
    text-decoration: none;
}

#smartranking-modal .smart-ranking-inline-logo {
    height: 20px;
    width: 20px;
    margin: 0 3px 3px 3px;
}

#smartranking-modal .carousel-indicators {
    bottom: 15px;
    width: 20%;
    margin-left: -10%;
}

#smartranking-modal .carousel-indicators li {
    background-color: #afbdd9;
    width: 10px;
    height: 10px;
    margin: 0;
}

#smartranking-modal .carousel-indicators li.active {
    background-color: #8896b4;
}

#smartranking-modal .icon-informations {
    width: 32px;
    height: 32px;
    margin-right: 10px;
}

#smartranking-newcampaigns-modal {
    margin-top: 70px;
}

#smartranking-newcampaigns-modal .modal-body, #smartranking-newcampaigns-modal .modal-body a {
    color: #8896b4;
}

#smartranking-newcampaigns-modal .modal-body {
    padding: 20px 50px 50px 50px;
}

#smartranking-newcampaigns-modal h3 {
    color: #afbdd9;
    text-align: center;
    margin-bottom: 40px;
    line-height: 40px;
}

#smartranking-newcampaigns-modal .smart-ranking-inline-logo {
    height: 28px;
    width: 28px;
    margin: 0 3px 3px 3px;
}

#smartranking-newcampaigns-modal #smartranking-dismiss {
    color: #379deb;
    text-decoration: none;
}

#smartranking-newcampaigns-modal .modal-header {
    border: none;
    padding: 25px;
}

.campaign-circle-smartranking-icon {
    position: absolute;
    bottom: 12px;
    left: 30px;
}

.campaign-circle-smartranking-icon img{
    height: 24px;
    width: 24px;
}

.campaign-smart-ranking-button img {
    height: 70px;
}

.form-control {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-default>.panel-heading {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#questionaire .panel-heading {
    padding: 10px 15px 5px 15px;
}

#accordion .panel-heading {
    cursor: pointer;
}

#profil {
    background-color: #fff;
    padding: 20px 10px 10px 10px;
}

@media (max-width: 450px) {
    #profil {
        text-align: center;
    }
}

#profil #profil-picture {
    border-radius: 50%;
    vertical-align: top;
    margin-right: 5px;
    padding: 2px;
    width: 150px;
}

#profil #profil-client {
    vertical-align: top;
    margin: 10px;
    max-width: 200px;
    max-height: 100px;
}

#profil #profil-info {
    display: inline-block;
}

#profil-info h2 {
    margin-top: 10px;
    font-size: 25px;
}

#profil-info h3 {
    font-size: 30px;
    margin-top: 10px;
}

#profil-info p {
    margin-bottom: 1px;
}

#profile-actions {
    border-spacing: 1px;
    border-collapse: separate;
}

#profile-actions tr {
    height: 71px;
}

@media (max-width: 992px) {
    #profile-actions {
        float: left;
        width: 100%;
        text-align: left;
    }
}

#profil #brand-logo {
    margin: 0px 0px 0px 10px;
}

.profile-action-button {
    width: 40px;
    height: 40px;
    padding: 10px 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    font-size: 13px;
}

.profile-action-button.disabled {
    pointer-events: none;
    color: #999;
}

.profile-action-button.disabled:hover {
    background: inherit;
}

.profile-action-button.disabled .glyphicon {
    color: #999;
}

.profile-action-button .glyphicon {
    font-size: 16px !important;
}

.profile-action-button > a {
    text-decoration: none;
    color: inherit;
}

#modal-requisites .file-upload {
    margin-bottom: 15px;
}

.block-header-title h3 {
    margin: 0;
    padding: 15px;
}

#video-answer, #video-no-answer, #video-poster {
    margin: 10px;
}

#video-area {
    min-height: 320px;
}

.stick {
    position: fixed;
    top: 0;
    z-index: 1;
}

#video-no-answer {
    background: url('../img/error-player.jpg') no-repeat center;
    background-size: 550px 320px;
    margin-top: 10px;
    height: 320px;
    color: #3B3B3B;
    position: relative;
}

#no-video-text {
    position: absolute;
    top: 65%;
    left: 0;
    width: 100%;
    font-size: 16px;
}

#video-poster {
    background-size: 550px 320px;
    background-color: #000;
    height:320px;
    color: #3B3B3B;
    position: relative;
    overflow: hidden;
}

#video-poster-text {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    font-size: 16px;
    color: #CCC;
}

#video-poster-image {
    background-size: 550px 320px;
    height:320px;
    color: #3B3B3B;
    position: relative;
    opacity: 0.25;
}

#video-poster button {
    margin-top: 15px;
}

.answer input[type="checkbox"], .answer input[type="radio"] {
    vertical-align: text-bottom;
    margin: 0 20px 0 10px;
}

.clz-item {
    padding: 0 30px 0 10px;
}

.clz-item:last-child {
    margin-bottom: 40px;
}

.candidate-scoring {
    border-bottom: 1px solid #e2e2e2;
}

.candidate-evaluation {
    padding: 10px 20px;
}

#live {
    margin-bottom: 20px;
}

#candidate-left-zone {
    border-right: 1px solid #ddd;
    padding: 0;
}

#candidate-left-zone h5 {
    display: inline-block;
}

#candidate-left-zone hr, #candidate-actions hr , #video-area hr {
    border-color: #e2e2e2;
    margin: 20px 0;
}

#candidate-comments {
    border-right: 1px solid #ddd;
    min-height: 290px;
}

#js-list-container {
    overflow: hidden;
}

#clz-list {
    max-height: 700px;
    overflow: auto;
    padding: 20px;
    line-height: 1.5;
    margin-right: -15px;
}

#clz-list > div {
    position: relative;
}

#clz-list .video-item::after {
    position: absolute;
    top: 43%;
    right: 15px;
    font-family: 'Glyphicons Halflings';
    content: "\e258";
    color: #aaa;
}

#clz-list .video-item.selected::after {
    color: #2b4a83;
}

#clz-list p.answer {
    word-wrap: break-word;
    word-break: break-word;
}

#clz-up-arrow, #clz-down-arrow {
    background-color: #fff;
    position: absolute;
    width: 99%;
    z-index: 100;
}

#clz-up-arrow {
    top: 0;
}

#clz-down-arrow {
    bottom: 0;
}

#clz-up-arrow span, #clz-down-arrow span {
    width: 100%;
}

#candidate-bottom-zone {
    border-top: 1px solid #ddd;
}

.application-folder-btn {
    width: 45%;
}

.video-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.video-item {
    padding: 10px 30px 10px 10px;
}

.video-item.selected {
    border: 1px solid #2b4a83;
}

.score-recap {
    border-left: 1px solid #e2e2e2;
    padding: 0px 20px;
}

.eval-block .glyphicon {
    font-size: 17px;
}

.link-campaign {
    color: #000;
}

.link-evaluation-star {
    padding: 0;
}

#table-evaluation-history .glyphicon-star,
.star-form .link-evaluation-star,
span.glyphicon-star.star-show {
    color: #2b4a83;
}

.star-empty {
    color: #d8d8d8 !important;
}

.commentary-area {
    min-width: 400px;
    max-width: 800px;
}

.eval-block {
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
}

.evaluation-criteria {
    background-color: #f7f7f7;
    padding: 5px 5px 5px 10px;
    margin: 0px 3px 10px 3px;
    border-radius: 5px;
}

#evaluation table {
    margin-bottom: 10px;
}

#evaluation td {
    width: 50%;
    padding: 10px 15px 0px 15px;
}

#evaluation td span {
    font-size: 20px;
}

#evaluation td p {
    margin-bottom: 0;
}

#evaluation #grade {
    margin-top: 10px;
    padding: 30px;
}

#grade {
    margin-right: 20px;
}

#grade input {
    width: 40px;
}

#messages {
    padding: 24px;
}

#messages .overlay-icon {
    padding: 5px
}

.popover #messages {
    padding: 10px;
}

@media (min-width: 480px) {
    .popover #messages {
        width: 90%;
    }
}
@media (min-width: 768px) {
    .popover #messages {
        width: 650px;
    }
}

.popover #messages p.info {
    margin-bottom: 5px;
}

.popover #messages h3.small {
    font-size: 1.18em;
}

#messages #messages-history {
    text-align: center;
    max-height: 300px;
    overflow: auto;
}

#container-table-history, #container-synthese {
    padding: 0;
    margin : -2px;
}

#table-mail-history, #table-evaluation-history {
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
}

#table-mail-history th, #table-evaluation-history th {
    font-weight: bold;
    padding: 5px;
    text-align: center;
}

#table-mail-history td, #table-evaluation-history td {
    text-align: center;
    padding: 5px;
}

#access-list>tbody>tr>td {
    vertical-align: middle;
}

#access-list>tbody>tr>td>label {
    margin-top: -5px;
}

#export-container > div {
    padding: 5px 20px;
    margin: 5px;
}

#export-container h3 {
    border-bottom: 1px solid;
}

th.sorting {
    min-width: 120px;
}

.new-candidate-dot:before {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    content: " ";
    background-color: #df252f;
    border: 2px solid #fff;
    border-radius: 50px;
}

#dashboard .new-candidate-dot:before {
    top: 10px;
    left: 6px;
}

#candidate-list-container .other-candidate .new-candidate-dot:before {
    top: -14px;
    left: 0;
    transition: 0.1s;
}

#candidate-list-container a:hover .new-candidate-dot:before {
    top: -20px;
    left: -4px;
    transition: 0.1s;
}

.current-candidate .new-candidate-dot:before {
    top: -20px;
    left: -4px;
}

.application-row .new-candidate-dot:before {
    top: 2px;
    left: 4px;
}

.search-list .new-candidate-dot:before {
    top: 14px;
    left: 13px;
}

/******** Navbar *******/

#topnav.navbar.navbar-default .row .navbar-welcome {
    line-height: 2;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

@media (min-width: 768px) {
    #topnav .container #navbar-links-collapse.collapse.navbar-collapse .nav.navbar-nav.navbar-right > li > a {
        margin-top: 6px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    #topnav .hide-lg {
        float: right !important;
        padding-right: 0;
        margin-right: -15px;
    }

    .search-form {
        padding-right: 0;
    }
}

@media (max-width: 768px) {
    #topnav {
        min-height: 56px;
    }

    #topnav .navbar-toggle {
        margin-top: 12px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #topnav .container #navbar-links-collapse.collapse.navbar-collapse .nav.navbar-nav.navbar-right > li > a {
        padding: 7px 3px 7px 3px;
    }
}

@media (min-width: 992px) {
    #topnav .container #navbar-links-collapse.collapse.navbar-collapse .nav.navbar-nav.navbar-right > li > a {
        padding: 7px 9px 7px 9px;
    }

}


/**** dashboard ****/

#recent-candidates .table > tbody > tr:first-child > td {
    border-top: 0;
}

h1.nav-title {
    position: relative;
    z-index: -1;
}

h1.nav-title .new-bulletin-btn {
    position: absolute;
    right: 0;
    top: 15px;
}

.right-bulleton {
    border: 1px solid #286090;
    border-radius: 50%;
    border-bottom-right-radius: 0;
    padding: 2px 7px 0px 8px;
    font-weight: 700;
}

.left-bulleton {
    border: 1px solid #286090;
    border-radius: 50%;
    border-left-bottom-radius: 0;
}

.white-border-bulleton {
    border-color: #fff;
}

.red-dot:before {
    content: "\2022";
    color: #df252f;
    font-size: 32px;
    vertical-align: middle;
    margin-right: 5px;
}

#dashboard ul li + li {
    border-top: 1px solid #eee;
}

#dashboard .panel {
    border: 0px;
    -webkit-box-shadow: 0px 1px 6px rgba(229, 227, 227, 1);
    box-shadow: 0px 1px 6px rgba(229, 227, 227, 1);
    margin: 4px;
    height: 100%;
}

#dashboard .panel.autoheight {
    height: auto;
}

#dashboard .panel-title {
    color: #2b4a83;
    font-weight: 700;
}

#dashboard .panel-header {
    line-height: 45px;
}

#dashboard .row {
    max-height: 1000px;
    margin-left: -15px;
    margin-right: -15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 8px;

    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

#dashboard a:not(.btn), #dashboard a:hover:not(.btn) {
    color: #333;
    text-decoration-color: #aaa;
}

#dashboard ul {
    padding: 0;
    list-style: none;
}

#dashboard table {
    width:100%;
}

#dashboard table td {
    vertical-align: middle;
}

#dashboard .thumbs-col {
    min-width: 130px;
}

.text-dark {
    color: #333;
}
.text-light {
    color: #777;
}
.text-extra-light {
    color: #aaa;
}

#dashboard .extension-action {
    padding: 5px 7px 3px;
}

#dashboard.panel-body {
    padding: 10px 0px 0px 0px;
}

#dashboard .avatar {
    height: 64px;
    width: 64px;
    border-radius: 50%;
}

#dashboard #recent-candidates-container .panel-header .glyphicon {
    color: #666;
    z-index: 10;
    margin: 8px -5px 0 0;
    padding: 4px 3px 2px 3px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

#dashboard #recent-candidates,
#dashboard #today-lives {
    max-height: 440px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

#dashboard #recent-candidates.empty,
#dashboard #today-lives.empty {
    min-height: 440px;
}

#dashboard #recent-candidates.expanded {
    height: 640px;
}

#dashboard .scroll-hide {
    position: absolute;
    width: 24px;
    top: 0;
    bottom: 0;
    right: 8px;
    background-color: #fff;
}

#dashboard .scroll-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.85);
    text-align: center;
    padding-top: 10px;
    color: #333;
}

#dashboard .nice-dropdown {
    left: 66%;
    top: -40px;
}

#dashboard .candidate-infos {
    line-height: 17px;
    padding: 10px 0 0 5px;
    width: 100%;
}

#dashboard blockquote {
    min-width: 300px;
    margin: 0;
}

#dashboard blockquote > p {
    font-size: 14px;
}

#dashboard blockquote > footer {
    text-align: right;
}

@media (max-width: 992px) {
    #dashboard blockquote {
        min-width: inherit;
    }
}

#dashboard .campaign-circle-container {
    border-right: 1px solid #ccc;
    padding: 5px 0 0 10px;
}

#dashboard .campaign-circle-container {
    width: 22%;
    position: relative;
}

#dashboard .campaign-circle-container .small {
    font-size: 18px;
}

#dashboard .campaign-circle-container .shortcuts {
    vertical-align: bottom;
    text-align: center;
    padding: 0 0 10px 15px;
}

#dashboard .btn-circle {
    line-height: 14px;
    padding: 5px 0 3px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#dashboard .btn-circle.btn-add {
    font-size: 27px;
}

#dashboard .ajax-popover {
    height: 300px;
    width: 350px;
}

#dashboard .campaign-circle-container .shortcuts .btn-circle {
    position: absolute;
    top: 44px;
    right: 41px;
    visibility: hidden;
}
#dashboard .campaign-circle-container:hover .shortcuts .btn-circle, .btn-circle.active {
    visibility: visible !important;
}

#dashboard .campaign-circle-container .shortcuts>div {
    padding: 3px 0px;
}

#dashboard .campaign-circle-container .shortcuts .btn:not(.btn-circle), #index-campaign .btn-action-container .shortcuts {
    padding: 3px;
    min-width: 50px;
}

#dashboard .circle-value-container {
    position: absolute;
    height: 60px;
    width: 60px;
    top: 67px;
    left: 54px;
    text-align: center;
}

#dashboard .circle-value {
    color: #266194;
    font-size: 32px;
    line-height: 55px;
}

#dashboard .campaign-panel {
    margin-left: -10px;
}

#dashboard .all-campaigns {
    position: absolute;
    top: 45%;
    right: 50px;
}

#dashboard .btn-shortlist {
    border-color: #ccc;
    background-color: #fff;
    color: #449d44;
}

#dashboard #add-campaign {
    position: absolute;
    right: 30px;
    top: 15px;
}

#dashboard #add-live {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index:100;
}

#dashboard .btn-shortlist:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
}

#dashboard #activity-chart-top {
    height: 240px;
    text-align: center;
    line-height: 240px;
}

#dashboard #activity-chart-bottom {
    height: 140px;
}

#dashboard .top-chart-loader {
    padding-top: 65px;
}
#dashboard .bottom-chart-loader {
    padding-top: 20px;
}

#dashboard #export-candidates {
    position: absolute;
    top: 10px;
    right: 34px;
    font-size: 28px;
    color: #777;
    padding: 3px 9px 0 10px;
}

#dashboard .tooltip-header {
    color:#ffffff;
    background-color: #3d76b6;
    font-weight: bold;
    padding: 3px;
    margin-bottom: 3px;
}

#dashboard .activity-label {
    color: #777;
    font-size: 15px;
}

#dashboard .activity-separator {
    margin: 5px 0;
}

#dashboard .activity-value {
    color: #333;
    font-size: 20px;
    font-weight: bold;
}

#dashboard #activity .btn-group .btn {
    border-radius: 20px;
    margin-right: 10px;
    padding: 3px 20px;
    border-color: #cccccc;
}

#dashboard #activity .btn-group .btn.active {
    background-color: #3d76b6;
    border-color: #3d76b6;
    color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#dashboard #activity #chart-cursor-data {
    padding-top: 5px;
}

#dashboard .activity-date {
    position: relative;
}

#dashboard .activity-date .glyphicon-calendar {
    position: absolute;
    top: 10px;
    left: 10px;
}

#dashboard .activity-date .caret {
    position: absolute;
    top: 15px;
    right: 10px;
}

#dashboard .daterangepicker {
    position: inherit;
    width:100%;
    text-align: center;
}

#dashboard .chart-value {
    margin-left: 5px;
    padding: 3px 10px;
    border: 1px solid #777;
    border-radius: 3px;
    min-width: 40px;
    text-align: center;
}

#dashboard .total-value .small {
    font-size: 12px;
}

#dashboard .dashboard-interval {
    font-size: 16px;
}

#dashboard .zone-legend {
    cursor: default;
}

#dashboard .zone-legend, #dashboard .dashboard-interval, #dashboard .all-campaigns a, #dashboard .all-campaigns a:hover {
    color: #777;
}

#dashboard .legend-invited {
    background-color: #afafaf;
}

#dashboard .legend-completed {
    background-color: #438ece;
}

#dashboard .legend-notinterested {
    background-color: #265985;
}

#dashboard .legend-expired {
    background-color: #8c949a;
}

.disappear {
    max-height: 0 !important;
}

h1.box-title.dashboard {
    font-size: 30px;
    padding: 15px;
    line-height: 23px;
}
h1.box-title.dashboard small {
    font-size: 14px;
}

/**** index campaign ****/

.btn-new-campaign {
    z-index: 1;
}

#index-campaign .nav-index-campaign {
    list-style: none;
    margin: 0;
    padding: 0;
}

#index-campaign .nav-index-campaign li {
    display: inline-block;
    margin: 0 0 10px 0;
    padding: 10px 15px;
}

#index-campaign .nav-index-campaign li a {
    text-decoration: none;
    color: #000000;
}

#index-campaign .nav-index-campaign li.active {
    background-color: #265985;
    border-radius: 25px;
}

#index-campaign .nav-index-campaign li.active a {
    color: #FFFFFF;
}

.form-campaign-filter {
    margin-top: 30px 0;
}

.form-campaign-filter input {
    border-radius: 25px;
    border: 1px solid #7c7c7c;
    padding: 7px 15px;
    margin-bottom: 20px;
}

.form-campaign-filter span {
    left: -30px;
    top: 2px;
    cursor: pointer;
    color: #7c7c7c;
}

#index-campaign .panel {
    border: 0px;
    -webkit-box-shadow: 0px 1px 6px rgba(229, 227, 227, 1);
    box-shadow: 0px 1px 6px rgba(229, 227, 227, 1);
    margin: 4px;
    height: 100%;
}

#index-campaign .panel-title {
    line-height: 30px;
    margin-top: 10px;
    vertical-align: middle;
}

#index-campaign .panel-title a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
}

#index-campaign .panel-title small {
    color: #7c7c7c;
    font-size: 15px;
}

#index-campaign .action-campaign a {
    text-decoration: none;
    cursor: pointer;
}

#index-campaign .action-campaign a.btn {
    padding: 0;
    border: 0;
}

#index-campaign .action-campaign form {
    display: inline-block;
}

#index-campaign .action-campaign form button {
    padding: 0;
}

#index-campaign .action-campaign a span, #index-campaign .action-campaign button span {
    color: #7c7c7c;
    margin: 0 8px;
}

#campaigns-container table {
    border-spacing: 3px;
    border-collapse: separate;
}

#campaigns-container table td {
    padding: 5px 15px;
}

#campaigns-container .btn-circle.btn-add {
    font-size: 19px;
    line-height: 9px;
}

#campaigns-container .chart-container {
    max-height: 85px;
}

#index-campaign .right-bloc-list-campaign {
    min-width: 220px;
}

#index-campaign .right-bloc-list-campaign div {
    display: inline-block;
    vertical-align: middle;
}

#index-campaign .right-bloc-list-campaign .btn-action-container {
    padding: 7px;
}

#index-campaign .right-bloc-list-campaign .btn-action-container a {
    margin: 2px;
}

#index-campaign .legend-invited {
    background-color: #afafaf;
}

#index-campaign .legend-completed {
    background-color: #438ece;
}

#index-campaign .legend-notinterested {
    background-color: #265985;
}

#index-campaign .legend-expired {
    background-color: #8c949a;
}

#index-campaign .right-bloc-list-campaign {
    position: relative;
}

#index-campaign .circle-value-container {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 27px;
    left: 37px;
    text-align: center;
}

#index-campaign .circle-value {
    color: #333333;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
}

@media (max-width: 480px) {
    #campaign-step-buttons a {
        font-size: 10px;
    }
}

/**** modal ****/

@media (max-width: 480px) {
    .modal-dialog {
        width: 80%;
    }
}

@media (min-width: 480px) and (max-width: 768px) {
    .modal-dialog {
        width: 89%;
    }
}

/**** collaborator ****/

@media (min-width: 768px) and (max-width: 992px) {
    .campaign-access-recruiter input {
        max-width: 200px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .campaign-access-recruiter input {
        max-width: 110px;
    }
}

@media (min-width: 1200px) {
    .campaign-access-recruiter input {
        max-width: 145px;
    }
}

/**** questions ****/

#questions {
    margin-top: 25px;
}

#questions textarea.form-control {
    margin-top: 2px;
}

#add_question {
    background-color: #ADB9CD;
    color: #FFFFFF;
    position: relative;
    top: 15px;
    padding: 10px 45px;
    font-size: 16px;
}

@media (max-width: 768px) {
    hr.clearfix {
        margin: 10px 0;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    #questions textarea.form-control {
        width: 90%;
        margin-left: 40px;
    }
}

/**** Candidates ****/

.btn-group-table {
    min-width: 120px;
}

.btn-shortlist, .btn-shortlist:hover{
    border-color: #5cb85c;
    background-color: #fff;
    color: #449d44;
}

.btn-shortlist.active {
    border-color: #398439;
    background-color: #449d44;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-archive, .btn-archive:hover{
    border-color: #f0ad4e;
    background-color: #fff;
    color: #ec971f;
}

.btn-archive.active {
    border-color: #d58512;
    background-color: #ec971f;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.table-responsive {
    min-height: 50px;
}

#add-document-form .progress-bar {
    width: 100%;
}

@media (min-width: 767px) and (max-width: 992px) {
    #add-form .campaign-access-recruiter .btn {
        margin-left: 25px;
    }
}

@media (max-width: 992px) {
    #add-form h3.excel-import {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    #add-form.row div .form-inline .row .form-group button {
        margin-top: 26px;
        margin-left: 20px;
    }
}

@media (min-width: 768px) {
    #add-form .first-field {
        padding-left: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #add-form div form .row div .btn.btn-success {
        margin-left: 8px;
    }
}

@media (max-width: 767px) {
    .panel .panel-body .row .left-on-sm {
        margin: 10px 0;
        float: left !important;
    }
}


/**** candidate view ****/

/* candidates list */

#btn_import_file {
    position: relative;
}

#btn_import_file .glyphicon {
    position: absolute;
    right: 12px;
    top: 6px;
}

.candidate-details-switch {
    min-width: 40px;
    text-align: center;
}

#candidate-nav {
    font-size: 16px;
}

#candidate-nav-title {
    padding: 0;
}

#candidate-return-btn {
    display: inline-block;
    width:100%;
    text-decoration: none;
    text-align: center;
    padding:24px 0px;
    height: 70px;
    color: white;
    background-color: #2B4A83;
    border-radius: 0;
}

#candidate-hovered {
    text-align: center;
    padding:23px 0px;
    height: 70px;
}

#candidate-return-btn .glyphicon {
    top: 2px;
}

#candidate-hovered {
    display: inline-block;
}

#candidate-banner {
    padding: 0 24px 0 15px;
}

#candidate-list {
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    padding: 0 2px;
}

#candidate-list > a {
    text-decoration: none;
}

#profil-tabs > .nav, #profil-documents {
    padding: 10px;
}

#profil-info .glyphicon {
    font-size: 12px;
}

#profil-info .glyphicon.glyphicon-send {
    font-size: 24px;
    color: #2b4a83;
}

.icon-separator:before {
    content: " | ";
    color: #ccc;
}

.icon-separator {
    padding-right: 30px;
    padding-left: 2px
}

.slide-element.current-candidate {
    padding: 0;
    height: 70px;
    width: 70px;
}

.slide-array {
    cursor: pointer;
    position: absolute;
    top: 4px;
    padding: 26px 5px;
    height: 63px;
    width: 20px;
    font-size: 10px;
    margin: 0;
}

.slide-prev {
    float: left;
    left: -10px;
}

.slide-next {
    float: right;
    right: 2px;
}

.slide-array:hover {
    opacity: 0.85;
}

.slide-array.disabled {
    opacity: 0.50;
    cursor: default;
}

.slide-element {
    width: 70px;
    height: 70px;
    transition: 0.1s;
    border:0;
    border-radius: 50%;
}

.slide-element:hover {
    padding: 0;
    cursor: pointer;
    transition: 0.1s;
}

.slide-element.other-candidate {
    opacity: 0.7;
    margin: 6px 0;
    height: 58px;
    width: 58px;
}

.slide-element.other-candidate:hover {
    opacity: 0.9;
    margin: 1px -5px;
    height: 68px;
    width: 68px;
}

.slide-element.candidate-image {
    position: absolute;
}

#candidate-table td, #candidate-table th {
    padding-right: 50px;
    padding-top: 5px;
}

#candidate-table th {
    color: #2B4A83;
}

.detail-candidate, .detail-liver, .selected-details-row {
    border-left: 2px solid #888;
}

.zero-candidates-panel {
    margin-top: 20px;
}

/* documents */
#document-list {
    display: inline-block;
    vertical-align: bottom;
}

.document-btn, .document-btn:hover {
    position: relative;
    padding: 10px 0px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #68CC57;
    height: 40px;
    width: 40px;
    text-shadow: 0px 2px 2px #53AA45;
    box-shadow: 0px 3px #ddd;
}

.document-missing, .document-missing:hover {
    background-color: #ECECEC;
    box-shadow: inset 0px 2px #ddd;
}

.document-missing > span {
    background-color: #aaa;
    color: transparent;
    text-shadow: 0px 2px 4px rgba(255,255,255,0.9);
    -webkit-background-clip: text;
}

.document-add-btn, .document-add-btn:hover {
    color: #333;
    background-color: #fff;
    text-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
}

.document-delete {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 10px;
    z-index: 10;
}

form.fileupload
.more-file-input-hidden {
    position: absolute;
    left: -99999px;
    visibility: hidden;
}

.document-display-icon {
    position: relative;
    display: inline-block;
}

.document-display-icon > .document-delete {
    color: #fff;
    text-decoration: none;
}

.delete-all-cross {
    color: #aaa !important;
}

.fileupload a, .fileupload a:hover {
    color: #aaa;
    text-decoration: none;
}

#ajax-modal.modal.in .modal-dialog .modal-content .modal-body {
    padding: 10px;
}

@media (max-width: 768px) {
    #bottom-table ul.nav-tabs li {
        width: 100%;
    }
}

/**** profil ****/

@media (max-width: 480px) {
    .password-form div .input-group .form-control,
    .password-form .form-group div .input-group .form-control {
        border-top-right-radius: 3px;
        border-bottom-left-radius: 0px;
    }

    .password-form  div div span.input-group-btn {
        float: left
    }

    .password-form div .input-group span.input-group-btn button,
    .password-form .form-group div .input-group button {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 4px;
    }
}


/**** Fix dropdowns in responsive tables ****/

@media (max-width: 767px) {
  .table-responsive.dropdown-fix .dropdown-menu,
  .table-responsive.dropdown-fix .dropdown-toggle {
        position: static !important;
  }
}

@media (min-width: 768px) {
    .table-responsive.dropdown-fix {
        overflow: visible;
    }
}


/**** Custom messages ****/

.customizations th.col1 {
    width: 25%;
}
.customizations th.col2 {
    width: 10%;
}
.customizations th.col3 {
    width: 55%;
}
.customizations th.col4 {
    width: 10%;
}
.customizations th.col5 {
    width: 15%;
}

.customizations th.cola1 {
    width: 19%;
}
.customizations th.cola2 {
    width: 66%;
}
.customizations th.cola3 {
    width: 15%;
}

table.customizations > tbody > tr > td {
    padding: 15px 5px;
    vertical-align: middle;
}

.customization-invalid {
    display: inline-block;
}

.customization-invalid .glyphicon {
    position: relative;
    left: -13px;
    top: -4px;
    background-color: #FFF;
    margin-right: -10px;
}

.customization-edit ul.var-list {
    padding-left: 15px;
}

.customization-edit ul.var-list li:before {
    font-family: 'Glyphicons Halflings';
    font-size: 10px;
    float: left;
    margin-top: 4px;
    margin-left: -15px;
}

.customization-edit ul.var-list.list-mandatory li:before {
    content: "\e014";
    color: #F00;
}

.customization-edit ul.var-list.list-mandatory li.init:before, .customization-edit ul.var-list.list-optional li.init:before {
    content: none;
}

.customization-edit ul.var-list.list-mandatory li.used:before, .customization-edit ul.var-list.list-optional li.used:before {
    content: "\e013";
}

.customization-edit ul.var-list.list-mandatory li.used:before {
    color: #0A0;
}

.customization-edit ul.var-list.list-mandatory li.blank:before {
    color: #FFF;
}

.customization-edit h2, .customization-edit .h2 {
    margin-top: 0;
    font-size: 23px;
}

.customization-edit h3 {
    margin-top: 0;
    font-size: 20px;
    font-weight: normal;
}

.customization-edit textarea:disabled {
    resize: none;
    background: #fff;
    border-radius: 0;
}

.customization-edit .mce-container-body {
    min-height: 32px;
}

.customization-edit .mce-container-body .mce-btn-group.mce-last {
    float: right;
    border-left: 0px;
}

.customization-edit .locale-flag {
    margin-top: -35px;
}

.customization-edit .back {
    cursor: pointer;
    margin-top: -50px;
}

.customization-edit #preview-area {
    border: 1px solid rgba(0,0,0,0.2);
    padding: 6px 12px 18px 12px;
}

.customization-edit #preview-area #client-logo-preview {
    max-height: 120px;
    max-width: 100%;
}

.customization-edit #preview-area:not(.sms) {
    color: #7888a9;
}

.customization-edit #upload-area {
    padding: 20px;
}

.customization-edit .vms-form #preview-area {
    padding: 40px 55px;
}

.customization-edit .vms-area {
    border: 1px solid rgba(0,0,0,0.2);
    min-height: 112px;
}

.vcenter-button {
    margin-top: 20px;
    margin-bottom: 10px;
}

/**** Mail ****/

@media (max-width: 480px) {
    #mail-btn-responsive a,
    #mail-btn-responsive input {
        font-size: 10px;
    }
}

/**** Tests ****/

#speakers .tooltip-inner {
    padding-left: 0px;
    text-align: left;
}

#change-form .dropdown .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    pointer-events: none;
}

p.info-text {
    font-style: italic;
}

/**** Candidates Extensions ****/

#extension-warning-box {
    margin: 0px 40px 10px 40px;
}

#extension-warning-box label, #extension-modal label {
    font-weight: normal;
    margin: 0px;
}

#extension-modal .large-dialog {
    width: 90%;
    max-width: 800px;
}

#extension-modal .center {
    text-align: center;
    vertical-align: middle;
}

#extension-modal input.slimtext {
    max-width: 110px;
    display: inline-block;
}

#extensions-container .veryslim {
    width: 140px;
}

#extensions-container .slim {
    width: 200px;
}

.vms-form .file-input-name {
    margin: 0;
    float: left;
}

.no-results {
    cursor: pointer;
}

@media (min-width: 768px) {
  .vms-form .file-input-name {
    margin-top: 7px;
  }
}

#bulletin-modal .modal-body {
    max-height: 500px;
    overflow: auto;
}

/****** Campaign edition ******/

.campaign-title-bloc > .campaign-name {
    margin: 2px 0 2px 0;
    font-size: 30px;
    vertical-align: middle;
    color: #2b4a83;
}

#activate-tooltip {
    margin: 20px 0px;
}

#activate-campaign {
    padding: 15px 50px;
}

.delete-campaign-cross {
    font-size: 25px;
}

.nav-campaign-container {
    margin: 75px 0 30px 0;
    text-align: center;
}

.nav-campaign {
    display: inline-block;
    text-align: center;
}

.nav-campaign .pill-campaign {
    padding: 0px;
    min-width: 250px;
    border: 1px solid #F1F1F2;
    border-radius: 6px;
    margin: 0px 5px;
}

.nav-campaign .btn-nav-bottom-differed {
    padding: 15px 20px;
}

.nav-campaign .btn-nav-bottom-differed.disabled {
    background-color: #F1F1F2;
    cursor: default;
}

.nav-campaign .pill-campaign a {
    display: block;
    padding: 15px 20px;
}

.nav-campaign .pill-campaign input {
    position: absolute;
    top: 14px;
    left: 16px;
}

.subnav-campaign,
.subnav-customization {
    margin: 15px 0;
}

.subnav-campaign li,
.subnav-customization li {
    display: inline-block;
}

.subnav-campaign li:not(:last-child):after,
.subnav-customization li:not(:last-child):after {
    content: '|';
    color: #AFB1B2;
}

.subnav-campaign li.active a,
.subnav-customization li.active a {
    font-weight: bold;
    color: #00537C;
}

.subnav-campaign li a,
.subnav-customization li a {
    color: #AFB1B2;
    margin: 0 25px;
}

.subnav-campaign li a:hover,
.subnav-customization li a:hover {
    text-decoration: none;
}

.label-answer {
    border-radius: 3px;
    padding: 5px 15px;
    color: #AFB1B2!important;
}

.label-answer:first-child {
    margin-left: 10px;
}

.label-answer.active {
    background-color: #2B4A83;
    color: #FFF!important;
}

.input-seconds {
    font-size: 11px;
    padding: 0 7px;
    width: 35px;
    height: 25px;
    margin-top: 5px;
}

.col-md-perso-1,
.col-md-perso-11,
.question .time-inline,
.question .child .question_name {
    display: inline-block;
}

#questions .questions-content .question_name {
    padding-right: 50px;
    height: 54px;
}

.question-base > .label {
    padding: 5px !important;
}

.col-md-perso-1 {
    width: 6%;
}

.col-md-perso-11 {
    width: 93%;
}

.col-md-perso-1.random-col {
    vertical-align: top;
    color: #2B738E;
}

.slider-range {
    margin-top: 15px!important;
}

.text-time {
    margin-top: 5px;
}

#campaign-setup-title .subtitle {
    margin-top: 5px;
}

.campaign-title-bloc > .flag {
    width: 24px;
    height: 24px;
}

.campaign-title-bloc > span.label {
    font-size: 70%;
    font-weight: 500;
    vertical-align: middle;
}

.campaign-subtitle-bloc > .campaign-name {
    font-size: 18px;
    color: #333;
}

#collapseCriterias .form-group {
    margin: 15px 0 15px 0;
}

.btn-group-campaign {
    margin-top: 10px;
    float: right;
}


/*listing candidate*/

@media (min-width: 768px) {
    .candidate-add-form-container {
        margin: 0 auto;
        float: none;
    }
}

.nav.nav-pills {
    margin-bottom: 5px;
}

#add-form h3 {
    margin-top: 0;
    margin-bottom: 15px;
}

#add-form input[type="file"] {
    margin-right: 15px;
    margin-top: 5px;
}

#add-form .candidate-add-form-container form {
    width: 350px;
    margin: 0px auto;
}

@media (min-width: 768px) {
    #add-form .candidate-add-form-container .form-group.small-margin:first-child {
        padding-right: 7px;
    }

    #add-form .candidate-add-form-container .form-group.small-margin:last-child {
        padding-left: 7px;
    }
}

#add-form .candidate-add-form-container .container-btn-block {
    width: 320px;
}

#add-form .container-btn-block {
    margin: 0px auto 20px auto;
}

#add-form .container-btn-block > div.btn-group > button.btn-success {
    width: 88%;
}

#add-form .container-btn-block > div.btn-group > button.dropdown-toggle {
    width: 12%;
}

.display-candidates-link, .display-candidates-link:hover {
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
}

div.btn-group a {
    cursor: pointer;
}

#add-form .glyphicon-menu-right-double,
#add-form .glyphicon-menu-left-double {
    margin-top: 4px;
}

.choice-separation {
    position: relative;
    bottom: 16px;
    background-color: #fff;
    width: 35px;
    margin: -10px auto;
}

#add-form hr {
    border-top: 2px solid #eee;
    margin: 15px 0;
}

.glyphicon-menu-right-double:before {
    content: "\e258\e258";
    letter-spacing: -5px;
}

.glyphicon-menu-left-double:before {
    content: "\e257\e257";
    letter-spacing: -5px;
}

.add-candidates .import-file-collapse {
    width: 30%;
    height: 280px;
}

.add-speakers .import-file-collapse {
    height: 350px;
}

.add-speakers .import-step1 {
    height: 170px;
}

.add-speakers .import-step2 {
    height: 50px;
}

.import-file-collapse {
    border-left:2px solid #ddd;
    display: inline-block;
    padding-left: 15px
}

.import-file-collapse span.file-input-name {
    display: block;
    margin-top: 10px;
}

.dropdown-header-differed, .dropdown-header-live {
    font-size: 14px;
}

.btn-default .badge-differed {
    background-color: #337ab7;
}

.btn-default .badge-live {
    background-color: #5cb85c;
}

.application-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.applications-list {
    margin: 0 -15px;
}

.applications-list > .buttons-actions-group {
    border-top: 1px solid #ddd;
    padding: 12px;
    min-height: 60px;
}

.applications-list tbody>tr>td {
    vertical-align: middle;
    padding: 15px 0px;
}

.applications-list tbody>tr>td>div>.thumb-form {
    min-width: 120px;
    margin-bottom: 10px;
}

.applications-list thead>tr>th {
    text-align: center;
}

.applications-list tbody>tr>td>input {
    display: block;
    margin: 0 auto;
}

.applications-list tbody>tr>td>.inside-border-left {
    border-left: 1px solid #ddd;
    padding: 0 5px;
    height: 100%;
}

.applications-list tbody>tr>td>.inside-border-right {
    border-right: 1px solid #ddd;
    padding: 0 5px;
    height: 100%;
}

.applications-list tbody>tr>td>.inside-border-left.borderless,
.applications-list tbody>tr>td>.inside-border-right.borderless {
    border: none;
}

.applications-list tbody>tr>td.border-differed {
    border-top: 3px solid #337ab7;
}

.applications-list tbody>tr>td.border-live {
    border-top: 3px solid #5cb85c;
}

.applications-list blockquote {
    border: none;
    margin: 0 auto;
}

.applications-list .btn-group-application {
    margin-right: 10px;
}

.applications-list blockquote > p {
    text-align: justify;
    font-size: 14px;
}

.applications-list blockquote > footer {
    text-align: right;
}

.applications-list img,
.search-list img.avatar {
    border-radius: 50px;
    margin-right: 20px;
    border: 1px solid #ddd;
    width: 60px;
    height: 60px;
}

.applications-list thead {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

.thumb-form .tooltip {
    min-width: 200px;
}

#question-count {
    margin-left: 23px;
}

.schedule {
    width: 900px;
}

.schedule #schedule-form {
    color: #999;
}

.schedule .table > tbody > tr > td {
    padding: 0 8px 0 0;
}

.schedule-hour-row {
    position: relative;
}

.schedule-hour-line {
    position: absolute;
    top: 0;
}

.schedule-hour-label {
    position: absolute;
    font-size: 12px;
}

#schedule-form .btn-group .btn.btn-default{
    font-size: 13px;
}

#schedule-form .btn-group .btn.btn-default.active {
    background-color: #2b4a83;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#schedule-calendar {
    position: relative;
    max-height: 50vh;
    overflow: auto;
    border-top: 1px dashed #ccc;
}

#schedule-calendar table {
    border-collapse: separate;
}

.schedule-blocks {
    margin-top: 25px;
    position: absolute;
    z-index: 1000;
    top: 2px;
    left: 44px;
    width: 490px;
    height: 1900px;
}

.schd-column {
    position: relative;
}

.schd-locked-slot, .schd-column.before-now, .agenda-column.before-now, .agenda-column.now.add-disabled , .schd-column.now.add-disabled {
    cursor: not-allowed;
}

.schd-locked-slot, .schd-column.after-now, .agenda-column.after-now, .agenda-column.now.add-enabled , .schd-column.now.add-enabled {
    cursor: copy;
}

.agenda-column.now.add-disabled .agenda-cursor-block,
.agenda-column.now.add-disabled .agenda-quick-live,
.schd-column.before-now .schd-cursor-block,
.schd-column.now.add-disabled .schd-cursor-block
{
    display: none;
}

.schedule-btn-today {
    padding: 6px 10px;
}

.schedule-slots-line {
    height: 79px;
}

.schd-locked-slot {
    text-align: center;
    color: #fff;
}

.schd-locked-slot.live-proposed {
    background-color: #d5d5d5;
    color: #888;
}

.schd-locked-slot.live-confirmed {
    background-color: #888;
}

.schd-selected-slot, .agenda-selected-slot {
    background-color: #2b4a83;
    color: #fff;
    text-align: center;
    z-index:100;
}

.schd-selected-slot:hover, .agenda-selected-slot:hover {
    cursor: pointer;
}

.schd-block, .agenda-block {
    width: 100%;
    position: absolute;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
}

.schd-standard-line {
    line-height: 34px;
}

.live-block.update-slot, .agenda-block.update-slot, .schd-block.update-slot {
    z-index: 100;
    background-color: #2b4a83;
}

.live-block.update-slot, .agenda-block.update-slot {
    border-radius: 5px;
}

.live-block.update-slot p, .agenda-block.update-slot p, .schd-block.update-slot p {
    color: #fff;
}

.live-block.remove-slot, .agenda-block.remove-slot, .schd-block.remove-slot {
    z-index: 100;
    border: 1px dashed #5F7FC1;
    background-color: #fff;
    opacity: 0.75;
}

.live-block.remove-slot p, .agenda-block.remove-slot p, .schd-block.remove-slot p {
    color: #5F7FC1;
}

.live-block {
    width: 100%;
    position: absolute;
    background-color: inherit;
    font-size: 12px;
    cursor: pointer;
}

.live-block.live-confirmed, .live-block.partner-live {
    z-index: 10;
}

.live-block.live-confirmed, .live-details {
    border-left: 2px solid #5cb85c;
}

.live-block.partner-live, .live-details.partner-live {
    border-left: 2px solid #8a6d3b;
}

.live-block.live-proposed, .slot-details {
    border-left: 2px solid #e14444;
}

.live-proposed.highlighted:not(.agenda-selected-slot) {
    background-color: #fcc;
}

.hour-column {
    position: relative;
    width: 60px;
    border-right: 1px solid #ccc !important;
}

.agenda-hour-label {
    position: absolute;
    font-size: 12px;
}

.schd-sm-block {
    height: 20px;
}

.schd-md-block {
    height: 40px;
}

.schd-lg-block {
    height: 80px;
}

.scale.big .agenda-sm-block {
    height: 39px;
}

.scale.big .agenda-sm-block p {
    font-size: 12px;
}

.scale.big .agenda-md-block {
    height: 79px;
    padding-top: 5px;
}

.scale.big .agenda-lg-block {
    height: 159px;
    padding-top: 55px;
}

.scale.small .agenda-sm-block {
    height: 19px;
}

.scale.small .agenda-sm-block p {
    font-size: 11px;
    line-height: 11px;
}

.scale.small .agenda-md-block {
    height: 39px;
}

.scale.small .agenda-md-block p {
    font-size: 12px;
    line-height: 13px;
}

.scale.small .agenda-lg-block {
    height: 79px;
    padding-top: 20px;
}

.agenda-quick-live {
    z-index: 50;
    position: absolute;
    left: 0;
    width: 102px;
    text-align: center;
    color: #aaa;
}

.agenda-quick-live .glyphicon {
    border: 1px solid #aaa;
    padding: 8px;
}

#agenda-meetings .btn-circle:focus {
    outline: none;
}

#agenda-meetings .btn-circle.active:focus {
    background-color: #e6e6e6;
}

#agenda-meetings .link-button {
    color: #aaa;
}

#agenda-meetings .link-button.active {
    color: #2b4a83;
}

#agenda-form .agenda-edit-text {
    min-height: 95px;
}

#selected-recruiters-zone {
    line-height: 25px;
    max-height: 300px;
    padding-right: 20px;
    overflow: auto;
}

.table > thead > tr > th.agenda-hours-column {
    border-right: 1px solid #ccc;
    border-bottom: 0;
}

#meetings .btn-circle.dropdown-toggle {
    margin-left: 7px;
}

#meetings .btn-circle.dropdown-toggle .glyphicon-option-horizontal {
    left: -1px;
}

#new-group {
    border: none;
    background: none;
    text-decoration: none;
    position: relative;
    color: #999;
}

#new-group.text-muted {
    color: #ccc;
}

.schd-hoverable {
    cursor: pointer;
    position: relative;
}

.schd-cursor-block {
    background-color: #5F7FC1;
    color: #fff;
    text-align: center;
}

.agenda-cursor-block {
    border: 2px dashed #5F7FC1;
    color: #5F7FC1;
    text-align: center;
}

.schd-day-column {
    width: 70px !important;
}

.schd-arrow-column {
    cursor: pointer;
    padding-top: 15px !important;
}

.schd-arrow-column-right {
    width: 22px;
}

.agenda-hours-column {
    width: 60px;
    text-align: center;
}

.schedule-today, .agenda-header:not(.edit-mode) .agenda-day-select {
    color: #2b4a83;
}

.schd-selected-slot:after, .agenda-selected-slot:after {
    font-family: 'Glyphicons Halflings';
    content: "\e014";
    font-size: 8px;
    position: absolute;
    top: 1px;
    right: 2px;
}

#agenda-main {
    position: relative;
    height: 80vh;
    overflow-y: auto;
    overflow-x: hidden;
}

#agenda-main td[data-col-number="7"], .agenda-header th[data-day="7"] {
    border-right: 0;
}

.sticky-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}

#agenda-main .table {
    border-collapse: separate;
}

#agenda-main .table > thead > tr > th {
    border-bottom: 0 !important;
}

.agenda-column {
    position: relative;
    border-top: 0 !important;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    height: 1920px;
    background-color: #fff;
}

.agenda-column[data-col-number="6"], .agenda-column[data-col-number="7"] {
    background-color: #f7f7f7;
}

.agenda-column-header {
    border-top: 1px solid #ccc !important;
    border-right: 1px solid #ccc;
    border-bottom: 0 !important;
    background-color: #fff;
}

.agenda-column-header[data-day="6"], .agenda-column-header[data-day="7"] {
    background-color: #f7f7f7;
}

.agenda-name {
    white-space: nowrap;
    overflow: hidden;
}

.agenda-view-text {
    margin-bottom: 15.3px;
}

.timeline {
    position: absolute;
    border-bottom: 1px solid #2b4a83;
    width: 100%;
    z-index: 100;
}

.timeline-today:before {
    content: '\2022';
    position: absolute;
    left: 45px;
    top: -22px;
    font-size: 33px;
    color: #2b4a83;
}

.agenda-live-notes {
    min-height: 260px;
}

.legend-pill {
    height: 12px;
    width: 12px;
    border-radius: 3px;
    margin: 0 8px 0 4px;
    display: inline-block;
}

.legend-stroke {
    height: 3px;
    width: 20px;
    display: inline-block;
    margin: 0 8px 3px 0;
}

.legend-dot {
    height: 7px;
    width: 7px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px 1px;
}

.legend-square {
    height: 15px;
    width: 15px;
    display: inline-block;
    margin: 0 5px -2px;
}

#dashboard #chart-cursor-data .legend-invited {
    background-color: #2b97cf;
}

#dashboard #chart-cursor-data .legend-validated {
    background-color: #66c0ef;
}

#dashboard #chart-cursor-data .legend-campaigns {
    background-color: #3d76b6;
}

#dashboard #chart-cursor-data .legend-lives {
    background-color: #80cf2b;
}

.legend-lightblue {
    background-color: #BFD4E5;
}

.legend-mediumblue {
    background-color: #4d94d0;
}

.legend-darkblue {
    background-color: #a2a9ad;
}

.legend-grey {
    background-color: #888;
}

.legend-grey-proposal {
    background-color: #d5d5d5;
}

.legend-primary {
    background-color: #2b4a83;
}

.legend-updated {
    background-color: #6486bc;
}

.legend-deleted {
    background-color: #fff;
    border: 1px dashed #5F7FC1;
    opacity: 0.75;
}

.legend-success {
    background-color: #5cb85c;
}

.legend-danger {
    background-color: #e14444;
}

.legend-warning {
    background-color: #8a6d3b;
}

#scroll-down-arrow {
    height: 40px;
}

#calendar-month {
    padding-top: 4px;
}

.white-bg {
    background-color: #ffffff;
}

/*************************************************************
 *                   BOOTSTRAP OVERLOAD
 ************************************************************/
a {
    color: #2b4a83;
    text-decoration: none;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #2b4a83;
    border-radius: 6px;
}

hr {
    border-color: #aaa;
}

.nav-pills > li {
    cursor: pointer;
}

.panel {
    border-radius: 0;
}

.alert-success {
    padding: 9px 10px;
}

.alert-danger {
    padding: 9px 11px;
}

.alert-dismissable .close, .alert-dismissible .close {
    right: 0;
}

.popover-title {
    text-align: center;
}

.ui-widget-header {
    background: none;
    background-color: #337ab7;
}

.ui-widget-content {
    border: 0;
    background: none;
    background-color: #e2e2e2;
}

.ui-slider-horizontal {
    height: 2px;
    display: inherit;
    width: 200px;
    margin: 5px 15px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -8px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 2px solid #fff;
    border-radius: 50%;
    background: none;
    background-color: #337ab7;
    width: 18px;
}

.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}

.right-inner-addon select {
    position: absolute;
    right: 0;
    top:0;
    min-width: 120px;
    border: 0;
}

.right-inner-addon select:focus {
    border: 0;
    box-shadow: none;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

/* Retina images */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    #video-no-answer {
        background: url('../img/error-player@2x.jpg') no-repeat center;
        background-size: 550px 320px;
    }
}

.form-manual_save {
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}

.switch-container .bootstrap-switch {
    border-radius: 11px;
    height: 25px;
    width: 50px !important;
    background-color: #EEEEEE;
}

.switch-container .bootstrap-switch-container .bootstrap-switch-label {
    background-color: #FFFFFF;
    border-radius: 50%;
    height: 25px;
    position: relative;
    right: 20px;
    top: -17px;
}

.switch-container .bootstrap-switch-handle-on, .questions-bloc .bootstrap-switch-handle-off {
    border-bottom-right-radius: 45%;
    border-top-right-radius: 45%;
    height: 30px !important;
    width: 45px !important;
}

.switch-container .bootstrap-switch-off .bootstrap-switch-container {
    margin-left: -25px !important;
}

.switch-container .bootstrap-switch .bootstrap-switch-default {
    width: 45px;
}

.switch-container .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-success {
    background-color: #EEEEEE;
}

.filename-import {
    padding: 5px 0;
}

a.action-collaborator-link {
    text-decoration: none;
}

a.action-collaborator-link:first-child {
    margin-right: 30px;
}

.action-collaborator {
    font-size: 20px;
    color: #000000;
}

.action-collaborator.glyphicon-remove {
    color: #F34537;
}

.action-collaborator.disable {
    opacity: 0.5;
    cursor: default;
}

#add-form .campaign-access-recruiter hr {
    width: 160px;
    margin: 20px auto 10px auto;
}

.campaign-access-recruiter div.radio {
    color: #949799;
    margin: 10px;
}

.locale-select {
    margin-top: 9px;
}

.locale-select .btn-default{
    border: none;
}

.locale-select img {
    margin: 0 3px 3px 0;
}

.overview-subject {
    height: 15px;
    line-height: 15px;
    white-space: nowrap;
}

.overview-subject span.glyphicon {
    font-size: 12px;
}

.overview {
    display: block;
    display: -webkit-box;
    padding: 5px 0;
    height: 35px;
    line-height: 15px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.overview p {
    margin: 0;
}

.selectpicker + .form-autosave-feedback {
    z-index: 3;
}

.coverflow {
    height: 150px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.coverflow-content {
    display: inline-block;
    width: 430px;
}

.coverflow-array {
    position: relative;
    top: 70px;
    font-size: 20px;
}

.application-img {
    border-radius: 50%;
    vertical-align: top;
    position: relative;
    z-index: 5;
    opacity: 0.2;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    margin-right: -10px;
    margin-left: -10px;
}

.current-img {
    z-index: 20;
    opacity: 1;
    width: 150px;
    height: 150px;
    margin: 0;
    cursor: default;
}

.siblings-img {
    z-index: 15;
    opacity: 0.4;
    width: 120px;
    height: 120px;
    margin-top: 15px;
    margin-right: -40px;
    margin-left: -40px;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background-size: 20px;
    background-repeat: no-repeat;
    min-height: 20px;
    min-width: 20px;
    line-height: 14px;
}

.icon-success {
    background-image: url('../img/success.png');
}

.icon-error {
    background-image: url('../img/error.png');
    padding-top: 3px;
}

.icon-lock {
    background-image: url('../img/lock.png');
}

.icon-info-success {
    background-image: url('../img/i-success.png');
    margin-bottom: 3px;
}

.icon-info-danger {
    background-image: url('../img/i-danger.png');
    margin-bottom: 3px;
}

.icon-info-default {
    background-image: url('../img/i-default.png');
}

.icon-info-warning {
    background-image: url('../img/i-warning.png');
    margin-bottom: 3px;
}

.icon-back-arrow {
    background-image: url('../img/back-arrow.png');
}

.icon-dot:before {
    content: "\25cf";
    font-size: 1em;
}

.share-expired {
    display: inline-block;
    background: url('../img/link-expired.png') no-repeat center;
    width: 310px;
    height: 258px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .share-expired {
        background: url('../img/link-expired@2x.png') no-repeat center;
        background-size: 310px 258px;
    }
}

.share-history-body {
    max-height: 345px;
    overflow-y: auto;
}

.share-email {
    overflow-x: hidden;
    max-width: 200px;
    text-overflow: ellipsis;
    display: inline-block;
}

#bulletin-modal  #modal-buttons {
    z-index: 20;
}

#bulletin-modal  .bulletin-label-more {
    padding: 6px 12px;
}

#bulletin-modal .carousel-indicators {
    left: 70%;
    width: 20%;
}

#bulletin-modal .carousel-indicators li {
    border: 1px solid #337ab7;
}

#bulletin-modal .carousel-indicators li.active {
    background-color: #337ab7;
}

.candidates .panel-title {
    color: #2b4a83;
    font-weight: 700;
    padding: 10px;
}

.candidates .new-candidates {
    background-color: #EBE8E8;
}

.candidates .new-candidate {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 10px;
    margin: 5px -10px;
    line-height: 30px;
}

.candidates .new-candidate .speaker-info {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.candidates .new-candidate .delete-new-candidate {
    cursor: pointer;
}

.candidates .new-candidate .candidate-name {
    color: #2b4a83;
    font-weight: 700;
}

.candidates .new-candidate .glyphicon {
    margin-right: 10px;
}

.candidates .candidates-footer {
    padding: 10px;
}

.speaker-add-form-container #btn_import_file .glyphicon {
    top: 10px;
}

.speakers .form-filter {
    display: inline;
}

.speakers .form-filter .caret {
    left: -20px;
    position: relative;
}

.speakers .form-filter .daterangepicker {
    display: inline;
    font-size: 13px;
    height: 25px;
    width: 170px;
    position: inherit;
}

.speakers th.sorting.col-mw-60 {
    min-width: 60px;
}

.speakers th.col-w-245 {
    width: 245px;
}

.speaker-row .speaker-info {
    line-height: 25px;
}

.speaker-row .speaker-info .speaker-name {
    color: #2b4a83;
    font-weight: 700;
}

.speaker-row .speaker-info img {
    width: 75px;
    margin: 0 10px;
}

.speaker-row .cecrl-badge {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}

.speaker-row .hourglass {
    background-color: #ADB9CC;
    padding: 15px;
    color: #FFFFFF;
    border-radius: 50%;
}

.speakers .speaker-row td {
    vertical-align: middle;
}

.speaker-row td .right-border {
    border-right: 1px solid #AFBACD;
}

.speaker-row td .left-border {
    border-left: 1px solid #AFBACD;
}

.account-bloc, .settings-bloc {
    background-color: #F7F9FF;
    border-radius: 5px;
    border: 1px solid #E8ECF8;
    padding: 20px;
    color: #818FB0;
}

.btn-back-settings {
    padding: 15px 7px;
    background-color: #B3BED0;
    border-radius: 5px;
    margin-right: 15px;
    height: 43px;
    width: 27px;
}

.h1-content-with-back-btn {
    border-left: 1px solid #EDEDEE;
    padding-left: 15px;
    line-height: 0.99;
    display: inline-block;
}

.account-bloc form .form-group .form-autosave-feedback {
    z-index: 10;
    right: 5px;
}

.account-bloc form .form-group .btn.dropdown-toggle {
    margin: 0;
}

.account-bloc .profile-picture-zone img {
    border: 1px solid #818FB0;
}

.account-bloc .bloc-title {
    margin-bottom: 20px;
    font-weight: bold;
}

.account-bloc .profile-picture-zone {
    cursor: pointer;
}

.account-bloc .camera-container {
    background-color: #7888a9;
    top: 35px;
    position: absolute;
    left: 50px;
    padding: 12px;
    border-radius: 50%;
    opacity: 0.7;
}

.account-bloc form label,
.account-bloc form button .btn-default,
.account-bloc form input,
.account-bloc form select,
.account-bloc form .bootstrap-select span,
.account-bloc form .bootstrap-select ul li a {
    color: #818FB0;
    font-weight: normal;
}

.account-bloc .btn-delete-right {
    float: right !important;
    text-align: right;
    padding: 0;
}

.account-bloc .switch-container {
    float: left;
    margin-top: 4px;
}

.account-parameters-bloc {
    border-left: 1px solid #E2E9F4;
}

#dropzone-media {
    border: 2px dashed #E3E5EE;
    border-radius: 4px;
    padding: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    cursor: pointer;
}

#dropzone-media .cta-click {
    color: #3f75b6;
    text-decoration: underline;
}

#profile-picture-modal .upload-spinner {
    position: absolute;
    top: 80px;
    right: 315px;
    z-index: 1;
}

#dropzone-media .first-upload-spinner .spinner {
    position: relative;
    top: -65px;
    left: 165px;
}

#profile-picture-modal .modal-content {
    border-radius: 5px;
}

.dz-preview, .dz-hidden-input {
    display: none;
}

.cropit-control {
    margin: 5px 0px;
    padding: 0;
}

.cropit-control .left, .cropit-control .right {
    cursor: pointer;
}

.cropit-control input {
    width: 140px;
}

.cropit-control img, .cropit-control input, .cropit-control button {
    display: inline-block;
}

.image-editor .save-picture {
    background-color: #3C73B7;
    color: #FFFFFF;
    margin: 0;
    padding: 5px 50px;
}

.cropit-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 5px solid #ccc;
    border-radius: 50%;
    margin: 40px auto;
}

.cropit-preview-image-container {
    cursor: move;
    border-radius: 50%;
    z-index: 0;
}

.cropit-preview-background {
    opacity: .2;
    cursor: auto;
}

#delete-picture {
    height: 50px;
    margin: 0;
}

#profile-picture-modal button.close {
    margin: 0;
}

/* range line */
#profile-picture-modal input[type=range] {
    -webkit-appearance: none;
}

#profile-picture-modal input[type=range]:focus {
    outline: none;
}

#profile-picture-modal input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #DBE1F3;
}

#profile-picture-modal input[type=range]:focus::-webkit-slider-runnable-track {
    background: #DBE1F3;
}

#profile-picture-modal input[type=range]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: #DBE1F3;
}

#profile-picture-modal input[type=range]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 5px 0;
    color: transparent;
}

#profile-picture-modal input[type=range]::-ms-fill-lower {
    background: #DBE1F3;
}

#profile-picture-modal input[type=range]::-ms-fill-upper {
    background: #DBE1F3;
}

/* Cursor */
#profile-picture-modal input[type=range]::-webkit-slider-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #386BAB;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}

#profile-picture-modal input[type=range]::-ms-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #386BAB;
    cursor: pointer;
    margin-top: -3px;
}

#profile-picture-modal input[type=range]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #386BAB;
    cursor: pointer;
    margin-top: -3px;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.settings-bloc ul.settings-nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.settings-bloc {
	padding: 10px 0;
}

.settings-bloc .col-md-4 {
    padding: 0 5px;
}

.settings-bloc ul.settings-nav li {
	padding: 20px 15px;
	background-color: #FFFFFF;
	margin-bottom: 10px;
	border-radius: 5px;
    text-align: center;
}

.settings-bloc ul.settings-nav li a {
	padding: 25px 15px;
	text-decoration: none;
    color: #7387A7;
}

.settings-bloc .child-settings-bloc {
	border-radius: 5px;
	background-color: #FFFFFF;
    min-height: 471px;
    text-align: center;
}

.settings-bloc .child-settings-bloc.disabled-module ul li a {
    color: #c9ced6;
    text-decoration: none;
    cursor: not-allowed;
}

.settings-bloc .child-settings-bloc .child-settings-bloc-header {
	color: #FFFFFF;
	padding: 12px 15px;
	border-radius: 5px 5px 0 0;
}

.settings-bloc .child-settings-bloc .child-settings-bloc-header.prerecorded {
	background-color: #2D75B4;
}

.settings-bloc .child-settings-bloc.disabled-module .child-settings-bloc-header.prerecorded {
    background-color: #75b3e8;
}

.settings-bloc .child-settings-bloc .child-settings-bloc-header.live {
	background-color: #76C02D;
}

.settings-bloc .child-settings-bloc.disabled-module .child-settings-bloc-header.live {
    background-color: #9bcc6b;
}

.settings-bloc .child-settings-bloc ul {
	list-style: none;
	padding: 10px 25px;
	margin: 0;
}

.settings-bloc .child-settings-bloc ul li {
    padding: 15px 20px;
}

.settings-bloc .child-settings-bloc ul li a {
    color: #7387A7;
}

.settings-bloc .child-settings-bloc ul li:not(:last-child) {
	border-bottom: 1px solid #F6F8FB;
}

.settings-bloc .child-settings-bloc ul li a:hover {
	text-decoration: none;
}

.new-provider-btn {
    padding: 10px 30px;
}

.new-question-container {
    background-color: #FAFBFC;
    border: 1px solid #F2F5F8;
    border-radius: 5px;
    padding: 15px 5px;
    margin-bottom: 30px;
    position: relative;
}

.new-question-bloc .random-btn {
    position: relative;
    top: -5px;
    left: 42px;
}

.new-question-bloc .question-info {
    height: 60px;
    overflow: hidden;
}

.new-question-bloc .initial-add-child {
    background-color: #FFFFFF;
    border: 1px solid #C6CEDC;
    border-radius: 15px;
    padding: 0 10px;
    position: relative;
    left: 45px;
    top: -5px;
}

.new-question-bloc .add-child {
    position: relative;
    left: 45px;
    top: -5px;
    cursor: pointer;
}

.new-question-bloc .child {
    margin: 10px 0;
}

.new-question-bloc .toggle-children {
    position: relative;
    top: -5px;
    left: 45px;
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
    cursor: pointer;
}

.new-question-bloc .toggle-children.active {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.new-question-bloc .media-video {
    background-color: #E3E5ED;
    border-radius: 5px;
    display: inline-block;
    padding: 17px 0;
    vertical-align: top;
}

.new-question-bloc .media-video.active {
    padding: 14px 0;
}

.new-question-bloc .media-video.active .remove-media-video {
    background-color: #789ECE;
    border-radius: 4px 4px 0 0;
    color: #3C74B8;
    padding: 7px 14px;
    top: -14px;
    font-size: 11px;
}

.new-question-bloc .media-image.active .remove-media-image {
    background-color: #789ECE;
    border-radius: 4px 4px 0 0;
    color: #3C74B8;
    padding: 4px 17px;
    top: -12px;
    font-size: 11px;
    margin: -3px;
}

.new-question-bloc .media-video a {
    padding: 17px 10px;
}

.new-question-bloc .media-video.active a {
    padding: 17px 0;
}

.new-question-bloc .media-video.active img {
    margin: -10px 9px;
    position: absolute;
}

.new-question-bloc .media-image {
    background-color: #E3E5ED;
    border-radius: 5px;
    padding: 10px 3px;
    top: -52px;
    right: 7px;
    position: relative;
}

.new-question-bloc .media-image a {
    padding: 13px 10px;
}

.new-question-bloc .media-image.active a {
    padding: 12px 0;
}

.new-question-bloc .media-image.active img {
    margin: -11px 9px;
    position: absolute;
}

.new-question-bloc .question-field, .new-question-bloc .question-field-child {
    resize: none;
    width: 96%;
    height: 53px;
    display: inline-block;
}

@media (max-width: 1200px) {
    .new-question-bloc .question-field, .new-question-bloc .question-field-child {
        width: 95%;
    }
}

@media (max-width: 992px) {
    .new-question-bloc .question-field, .new-question-bloc .question-field-child {
        width: 93%;
    }

    .account-parameters-bloc {
        border: none;
    }
}

.new-question-bloc .select-nb-choices {
    width: 21%;
    position: relative;
    padding: 0 5px;
    font-size: 13px;
    left: -42px;
    display: inline-block;
}

.new-question-bloc .choices {
    width: 340px;
    margin: 5px 0 15px 15px;
}

.new-question-bloc .choices .choice {
    margin-top: 10px;
}

.new-question-bloc .choices input {
    margin: 2px 0;
}

.new-question-bloc .choices .choice-add-btn {
    margin-top: 5px;
}

.new-question-bloc .choices .remove-choice {
    position: relative;
    top: -26px;
    left: -5px;
    padding: 2px;
    background-color: #E4E6EE;
    color: #B0BACF;
    font-size: 10px;
    cursor: pointer;
}

.new-question-bloc .delete-child {
    position: relative;
    top: 20px;
    right: 1px;
    padding: 2px;
    background-color: #E3E5EE;
    color: #ABB7CB;
    cursor: pointer;
    -webkit-text-stroke: 1px #E3E5EE;
    text-stroke: 1px #E3E5EE;
    width: 15px;
    font-size: 12px;
}

.new-question-bloc .answer-type-list {
    position: relative;
    left: 15px;
    width: 50%;
}

.new-question-bloc .time {
    color: #ADB9CD;
}

.new-question-bloc .time .time-inline {
    display: inline-block;
}

.new-question-bloc .answer-type-list img {
    margin-right: 5px;
    cursor: pointer;
}

.controls-new-question-bloc a {
    margin: 15px 0;
    padding: 10px 55px;
}

.reset-question-bloc, .delete-category {
    color: #7387A7;
}

.categories, .questions-list {
    margin: 10px 0;
}

.category-label {
    display: inline-block;
    padding: 2px 15px;
    border-radius: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.categories .category-label {
    padding: 5px 25px;
    margin: 5px 0;
}

.categories .category-label.all {
    border: 1px solid #D8D8E0;
    color: #7387A7;
}

.categories .category-label.all.active {
    background-color: #f1f2f7;
}

.categories .category-label.unclassified {
    background-color: #E3E5ED;
    color: #7387A7;
}

.categories .btn-edit-category {
    padding: 10px 5px;
    border-radius: 0 15px 15px 0;
    margin: -5px -7px;
    font-size: 10px;
    right: -20px;
    top: 0;
}

.categories .category-label .popover .close-popover-category {
    color: #7387A7;
    font-size: 9px;
    margin-bottom: 5px;
}

.categories .category-label .popover .popover-content-delete-category {
    color: #7387A7;
    padding: 15px;
}

.categories .category-label .popover .popover-content-delete-category button {
    color: #FFFFFF;
    margin-top: 15px;
    padding: 3px 20px;
}

.categories .category-label .popover .popover-content-delete-category .cancel-delete-category {
    background-color: #ADB9CD;
}

.categories .category-label .popover .popover-content-delete-category .confirm-delete-category {
    background-color: #FF5456;
}

.categories .category-label .popover .colors > div {
    display: inline-block;
    height: 24px;
    width: 24px;
}

.categories .category-label .popover .color-selector.active {
    width: 24px;
    height: 24px;
    transition-duration: 0.2s;
    vertical-align: middle;
    position: relative;
    top: 0;
}

.categories .category-label .popover .color-selector {
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: auto;
    transition-duration: 0.2s;
    position: relative;
    top: 3px;
}

.categories .category-label .popover .colors {
    margin-top: 10px;
    width: 243px;
    height: 30px;
}

.controls-edit-category button {
    margin-top: 5px;
    margin-left: 7px;
    padding: 5px 20px;
}

.search-question {
    border-radius: 15px;
    padding: 5px 15px;
    border: 1px solid #C6CEDC;
    margin: 10px 0;
}

.questions-list .question-row {
    padding: 10px 0 4px 0;
}

.questions-list .question-row .category-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
}

.questions-list .question-row:nth-child(odd) {
    background: #F9FAFD;
}

.questions-list .question-infos .btn-child-questions.active {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.questions-list .question-infos {
    color: #7387A7;
    padding-top: 1px;
}

.questions-list .category-column select {
    height: 25px;
    padding: 0 5px;
}

.questions-list .question-name {
    padding-bottom: 5px;
    padding-left: 6px;
}

.questions-list .question-name-content {
    border-left: 1px solid #D8D8E0;
    padding-left: 15px;
    color: #7387A7;
}

.questions-list .answer-infos .answer-infos-content {
    border-left: 1px solid #D8D8E0;
    padding-left: 15px;
    color: #7387A7;
}

.answer-infos .answer-infos-content .category-label {
    background-color: #C3CCDB;
    width: 130px;
    margin-right: 10px;
}

.questions-list .answer-infos .answer-infos-content button {
    padding: 0;
    top: -10px;
    color: #C3CCDB;
}

.libraryquestion-spinner {
    position: relative;
    left: 440px;
    margin: 0;
    width: 80px;
}

#modal-select-question .modal-header {
    border: 0;
    text-align: initial;
    padding: 15px 15px;
    text-transform: initial;
}

#modal-select-question .modal-header h4 {
    color: #8997B3;
    font-size: 22px;
    font-weight: 600;
}

#modal-select-question .modal-content {
    padding-left: 15px;
}

#modal-select-question .modal-body .bootstrap-select .category-label {
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 0px 5px;
    margin: 0 2px;
}

#modal-select-question .modal-body .category-label {
    color: #7387A7;
    border: 1px solid #7387A7;
    padding: 5px 15px;
}

#modal-select-question .modal-body .category-label.selected {
    min-width: 160px;
}

#modal-select-question .modal-body .category-label.active {
    color: #FFFFFF;
    border: 1px solid #7387A7;
    background-color: #2D75B4;
}

#modal-select-question .modal-body .questions-container {
    border: 1px solid #7387A7;
    border-radius: 5px;
    margin-top: 20px;
    max-height: 400px;
    overflow: auto;
}

#modal-select-question .modal-body .questions-container .questions-header {
    padding-left: 15px;
    color: #FFFFFF;
}

#modal-select-question .modal-body .questions-container .questions-header:first-child {
    border-radius: 5px 5px 0 0;
}

#modal-select-question .modal-body .questions-container .question-row {
    padding: 15px;
    color: #7387A7;
    cursor: pointer;
}

#modal-select-question .modal-body .questions-container .question-row .category-label {
    font-size: 11px;
    padding: 5px 10px;
    color: #FFFFFF;
    border: none;
    cursor: initial;
    width: 110px;
}

#modal-select-question .modal-footer {
    border: 0;
    text-align: center;
    padding-top: 6px;
}

#modal-select-question .modal-footer button {
    padding: 14px 50px;
}

#modal-select-question .modal-footer .cancel {
    color: #7387A7;
    text-decoration: none;
}

#modal-select-question .modal-footer .add-questions {
    background-color: #2D75B4;
    font-weight: bold;
    min-width: 265px;
}

.medias .category-label {
    color: #A9AAD7;
    margin-bottom: 15px;
}

.medias .category-label.active {
    background-color: #3C74B8;
    color: #FFFFFF;
}

.medias .select-type {
    cursor: pointer;
}

.medias #filter-document {
    margin: 10px;
    border-radius: 25px;
    height: 30px;
    width: 75%;
    display: inline-block;
}

.new-campaign-template {
    padding: 15px 70px;
    background-color: #2D75B5;
    color: #FFFFFF;
}

.new-campaign-template:hover {
    color: #FFFFFF;
}

.campaigns-templates {
    background-color: #F9FAFD;
    border: 1px solid #F3F4F7;
    padding: 20px;
    border-radius: 5px;
}

.campaigns-templates input {
    border-radius: 25px;
    width: 300px;
    height: 28px;
    margin-bottom: 20px;
}

.campaigns-templates .template {
    background-color: #FFFFFF;
    border: 1px solid #F3F4F7;
    border-radius: 5px;
    padding: 20px 20px 12px 20px;
    color: #A2B4D4;
    margin-bottom: 5px;
}

.campaigns-templates .template .re-use {
    color: #2D75B5;
}

.campaigns-templates .template .controls {
    margin-top: -6px;
}

.campaigns-templates .template .template-name {
    font-weight: bold;
    margin-left: 15px;
}

.campaigns-templates .template .nb-questions {
    background-color: #A2B4D4;
    color: #FFFFFF;
    border-radius: 15px;
    padding: 1px 10px;
}

.controls button {
    color: #A2B4D4;
}

.controls button:hover {
    background-color: #EEF2FB;
}

.container-btn-convert-template {
    display: inline-block;
    border-left: 1px solid #C9D1DE;
    padding-left: 15px;
    margin-left: 15px;
}

.btn-convert-template {
    color: #FFFFFF;
}

.new-campaign-modal .modal-header {
    border: 0;
    text-align: left;
    padding-bottom: 3px;
}

.new-campaign-modal .modal-header .modal-title {
    color: #8997B3;
    text-transform: initial;
    font-size: 22px;
    font-weight: 600;
}

.new-campaign-modal .modal-body-content {
    background-color: #F6F9FF;
    color: #D6DEF1;
    padding: 20px;
    border-radius: 5px;
    color: #8997B3;
    height: 563px;
}

.new-campaign-modal .new-campaign-bloc {
    background-color: #FFFFFF;
    text-align: center;
    padding: 17px;
    font-size: 25px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 1px solid #E2E8F5;
    color: #D2DBF0;
}

.new-campaign-modal .new-campaign-bloc a {
    background-color: #2D75B4;
    margin-top: 13px;
    padding: 8px 35px;
}

.new-campaign-modal .modal-body-content input {
    border-radius: 15px;
    height: 28px;
    width: 210px;
}

.new-campaign-modal .modal-body-content #templates-page {
    width: 100%;
}

.new-campaign-modal .modal-body-content #template-details {
    position: fixed;
    right: 0;
    width: 100%;
    display: none;
    top: 70px;
    padding: 0 12px 15px 20px;
}

.new-campaign-modal .modal-body-content #template-details .details-container {
    margin-top: -10px;
    height: 450px;
    overflow: auto;
}

.new-campaign-modal .modal-body-content #template-details .details-container .question-order {
    background-color: #2D75B4;
    color: #FFFFFF;
    padding: 2px 13px;
    border-radius: 48px;
    font-size: 12px;
    font-weight: 600;
}

.new-campaign-modal .modal-body-content #template-details .details-container .title {
    padding: 15px 0;
}

.new-campaign-modal .modal-body-content #template-details .details-container .answer-infos-content {
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 12px;
    color: #FFFFFF;
    width: 114px;
    background-color: #C3CCDB;
    margin-left: 27px;
}

.new-campaign-modal .modal-body-content #template-details .question,
.new-campaign-modal .modal-body-content #template-details .criterion,
.new-campaign-modal .modal-body-content #template-details .requisite {
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 5px;
}

.new-campaign-modal .modal-body-content #template-details h4 {
    color: #8997B3;
    font-weight: bold;
}

.new-campaign-modal .modal-body-content #template-details .modal-footer {
    border: 0;
}

.new-campaign-modal .modal-body-content #template-details .modal-footer #return {
    background-color: #8C9EBD;
    padding: 10px 15px;
    color: #FFFFFF;
    border: 0;
}

.new-campaign-modal .modal-body-content #template-details .modal-footer #use-template {
    background-color: #2D75B4;
    padding: 10px 65px;
    border: 0;
}

.new-campaign-modal .modal-body-content .templates-bloc {
    margin-top: 30px;
    height: 355px;
    overflow: auto;
}

.new-campaign-modal .modal-body-content .templates-bloc .template {
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new-campaign-modal .modal-body-content .templates-bloc .template .campaign-name {
    white-space: nowrap;
}

.new-campaign-modal .modal-body-content .templates-bloc .template:hover {
    background-color: #EFF3FC;
    cursor: pointer;
}

.new-campaign-modal .modal-body-content .templates-bloc .template .template-body {
    background-color: #FFFFFF;
    padding: 0 5px 5px 5px;
    border: 1px solid #DEE4F3;
    border-radius: 3px;
    margin: 10px 15px;
    text-align: left;
}

.new-campaign-modal .modal-body-content .templates-bloc .template .template-body > img {
    margin-top: -7px;
}

.new-campaign-modal .modal-body-content .templates-bloc .template .template-body .template-content {
    background-color: #EEF3FF;
    height: 75px;
    margin-top: -4px;
    padding: 26px 0px;
}

.new-campaign-modal .modal-body-content .templates-bloc .template .template-body .template-content .nb-questions {
    background-color: #A2B4D4;
    color: #FFFFFF;
    border-radius: 15px;
    font-size: 13px;
    width: 50px;
    margin: auto;
}

.modal-campaign-as-template {
    color: #8C9EBD;
}

.modal-campaign-as-template .modal-header, .modal-campaign-as-template .modal-footer {
    border: 0;
}

.modal-campaign-as-template .modal-header h4 {
    color: #8C9EBD;
}

.modal-campaign-as-template .modal-body {
    padding-left: 40px;
}

.modal-campaign-as-template .modal-body input {
    margin: 20px auto;
    width: 50%;
}

.modal-campaign-as-template .modal-footer {
    text-align: center;
}

.modal-campaign-as-template .modal-footer button {
    padding: 13px 80px;
}

.browse-files {
    text-decoration: underline;
    color: #3f75b6;
}

.info-max-choices {
    position: relative;
    left: -40px;
}

.info-max-choices.matching {
    left: 150px;
}

.open-library {
    position: relative;
    top: 15px;
}

.open-library:hover {
    text-decoration: none;
}

.mail-action {
    margin-right: 2px;
}

#provider-form textarea {
    resize: none;
}

#overlay {
    background: rgba(0, 0, 0, 0.3);
    display: none;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#error-message {
    display: block;
}

.cta-text {
    margin: 20px;
}

.documents-list .spinner-container {
    display: inline-block;
    width: 19.9%;
    position: relative;
    top: -100px;
    left: 10px;
}

.documents-list #documents {
    display: inline;
}

#questions-filter .clear-filter {
    left: -30px;
    cursor: pointer;
    color: #7c7c7c;
}

.criterias-bloc .criteria {
    margin: 5px 0;
}

.criterias-bloc .criteria .control-label {
    margin-top: 6px;
}

.success-share-container {
    margin-top: 20px;
}  

/*#minduration {
    width: 160%;
}*/

#maxduration {
/*    width: 160%;*/
margin-left:30px;
}

