{% extends 'TraceBundle::layout.html.twig' %}

{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}

{% block stylesheets %} 
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row text-center">
            <h3>Welcome to the interview</h3>
            <br>
            <br>
            <form method="POST" action="{{path('welcomepage', {'uniquecode': uniquecode})}}">
                <div class="col-sm-offset-5 col-sm-2">
                    <input class="btn btn-success" type="submit" value="Continue" name="continue">
                </div>
            </form>    
        </div>
    </div>
{% endblock %}      

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}