<div class="col-md-10">    
    <li class="comments" data-comment-id="{{comment.id}}">{{comment.value}}</li>
</div>
<div class="col-md-2">
    <span id="{{comment.id}}" class="remove-comment glyphicon glyphicon-remove"></span>
</div>