<div class="choicewrap">
    <div id="dynamic_choice">
        {% if choices is defined %}
        {% for choice in choices %}
            <div data-id="{{ choice.id }}" class="{{'row choice'~choice.id }}">
                <div class="col-sm-offset-1 col-sm-2">
                    <input data-id="{{ choice.id }}" type="text" class="choice" name="questionoption[]">
                </div>
                <div class="col-sm-2">
                    <button name="removechoice" id="{{ choice.id }}" class="btn btn-danger btn_remove_choice">Remove Choice</button>
                </div>
                <div class="col-sm-2 error-message"></div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            <button type="button" data-question-id="{{ question.id }}" name="addoption" id="addoption" class="btn btn-success add-option">Add Choice</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-4">
            <label><input type="radio" data-question-id="{{ question.id }}" class="hasmultiple" name="hasmultipleanswer[]" value="1">Has multiple answer</label>
        </div>
    </div>
</div>
