<div data-id="{{ choice.id }}" class="{{'row row'~choice.id }}">
    <div class="col-sm-offset-1 col-sm-2">
        <input data-id="{{ choice.id }}" type="text" class="choice" name="questionoption[]">
    </div>
    <div class="col-sm-2">
        <button name="removechoice" id="{{ choice.id }}" class="btn btn-danger btn_remove_choice">Remove Choice</button>
    </div>
    <div class="col-sm-2 error-message"></div>
</div>
