{% extends 'TraceBundle::layout.html.twig' %}

{% block stylesheets %}   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.2/chosen.min.css"> 
<link href="{{ asset('bundles/trace/css/recruiter.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
{% include 'TraceBundle:Home:headerpage.html.twig' %} 
<br>
<div class="container">
{% include 'TraceBundle:Campaign:addcampaignheadersharing.html.twig' %}
<br>
<br>
<a class="btn btn-primary" href="{{path('addcolleaguepage')}}">Add Colleague</a>
<br>
<br>
<div class="table-responsive" data-campaign-id="{{campaign.id}}">
    <table id="access-list" class="table table-striped sortable">
        <thead>
            <tr>
                <th>Colleague</th>
                <th class="text-center width-fixed">
                    Visibility                    
                    <span class="glyphicon glyphicon-question-sign" data-original-title="Total for all campaign applicants, Shortlist to limit access to your selection, and Shared files to limit it to files shared with the user" data-placement="bottom" data-toggle="tooltip"></span>
                </th>
                <th class="text-center access-cell">
                    Evaluation                    
                    <span class="glyphicon glyphicon-question-sign" data-original-title="Allow a colleague to assess the applicants they can access, or not" data-placement="bottom" data-toggle="tooltip"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for client in campaignclients %}
            <tr>
                <td>
                    {{client.client.firstname}}&nbsp;{{client.client.lastname}}
                </td>
                <td class="access-cell visibility-access">
                    <input type="radio" id="all" name="{{'visibility'~client.id}}" value="1" class="access_radio" data-campaignclient-id="{{client.id}}" {% if client.visibility==1 %}checked="checked"{% endif %} {% for role in client.client.roles %}{% if role == 'ROLE_ADMIN' %}disabled="disabled"{% endif %}{% endfor %}>
                    <label for="all">All</label>
                    &nbsp;&nbsp;
                    <input type="radio" id="shortlist" name="{{'visibility'~client.id}}" value="2" class="access_radio" data-campaignclient-id="{{client.id}}" {% if client.visibility==2 %}checked="checked"{% endif %} {% for role in client.client.roles %}{% if role == 'ROLE_ADMIN' %}disabled="disabled"{% endif %}{% endfor %}>
                    <label for="shortlist">Shortlist</label>
                    &nbsp;&nbsp;
                    <input type="radio" id="none" value="3" name="{{'visibility'~client.id}}" class="access_radio" data-campaignclient-id="{{client.id}}" {% if client.visibility==3 %}checked="checked"{% endif %} {% for role in client.client.roles %}{% if role == 'ROLE_ADMIN' %}disabled="disabled"{% endif %}{% endfor %}>
                    <label for="none">None</label>
                </td>
                <td class="text-center access-cell">
                    <input type="radio" id="evaluation_yes" value="1" name="{{'evaluate'~client.id}}" class="access_evaluate" data-campaignclient-id="{{client.id}}" {% if client.evaluation==1 %}checked="checked"{% endif %} {% for role in client.client.roles %}{% if role == 'ROLE_ADMIN' %}disabled="disabled"{% endif %}{% endfor %}>
                    <label for="evaluation_yes">Yes</label>
                    &nbsp;&nbsp;
                    <input type="radio" id="evaluation_no" value="0" name="{{'evaluate'~client.id}}" class="access_evaluate" data-campaignclient-id="{{client.id}}" {% if client.evaluation==0 %}checked="checked"{% endif %} {% for role in client.client.roles %}{% if role == 'ROLE_ADMIN' %}disabled="disabled"{% endif %}{% endfor %}>
                    <label for="evaluation_no">No</label>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    
</div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('bundles/trace/js/sharing.js') }}"></script>
{% endblock %}    