{#{% extends 'TraceBundle::layout.html.twig' %}#}

{#{% form_theme form 'TraceBundle:Form:fields.html.twig' %}#}
{% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
      .navbar-default .navbar-nav > li > a {
    color:#337ab7;
}
</style>
{% endblock %}

{% block content %}
    <nav id="topnav" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#"><img id="brand-logo" src="{{ asset('bundles/trace/img/logo-epita.png') }}" width="50" height="50" alt="easyRECrue" title="easyRECrue" /></a>
            </div>

            <div id="navbar-links-collapse" class="collapse navbar-collapse text-center">
                <ul class="nav navbar-nav navbar-center">
                    <li>
                        <a>Step 2/4: Practice</a>
                    </li>  
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>{{campaign.campaigntitle}}</a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1 well" style="background-color:#337ab7;">
                <div class="row">
                    <div class="col-sm-1" style="margin-top:32px;">
                     <span class="glyphicon glyphicon-headphones"></span>   
                    </div>
                    <div class="col-sm-10">
                     <h3>Check the item to below to record <br> your video interview in the best <br> conditions</h3>   
                    </div>
                </div>
              <br><br>
              <div class="row">
                  <div class="col-sm-10 col-sm-offset-1 well">
                      <span class="glyphicon glyphicon-ok"></span>
                       Image quality 
                      <p> Your face is centered and well lit</p>
                      <span class="glyphicon glyphicon-ok"></span>
                       Sound quality 
                      <p> Your voice is intelligible and there is no background noise or echo</p>
                      <span class="glyphicon glyphicon-ok"></span>
                       Interview Conditions 
                      <p> Your are smiling and you are wearing appropriate clothes your mobile phone is
                          switched off and the background is suitable
                      </p>
                  </div>
              </div>
              <br><br>
            </div>
            
            <div class="col-sm-5 text-center">
                <br>     
                <p>This video will not be passed on to the recruiter.</p>
                <video width="320" height="240" controls>
                    <source src="{{asset('bundles/trace/vid/mov_bbb.mp4')}}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                <br><br>
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <p>If the conditions are good for you, <br> click the below button to start interview</p>
                <form method="post" id="response" action="{{ path('practicequestionfeedbackpage',{'uniquecode': uniquecode}) }}">
                <button class="btn btn-primary" type="submit" name="submit" value="submit">Start the interview<span class="glyphicon glyphicon-menu-right"></span></button>
                </form>
                <p>If conditions are not good for you click <a href="#">here...</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}      

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}