<div data-question-id="{{question.id}}" class="{{'questn row'~question.id}}">			
    <div class="questions-bloc bloc-differed active">
        <div id="questions" class="ui-sortable">
            <div class="question-wrap question-base show-edition-mode">
                <div class="row">
                    <div class="text-right">
                        <a href="#" name="removequestion" id="{{question.id}}" class="btn_remove">X</a>
                    </div>
                </div>
                <div class="row">
                    <div class="question-index">{{question.id}}</div>
                    <a href="#" class="random-btn" data-id="{{question.id}}">
                        <img src="{{ asset('bundles/trace/img/random.png') }}" alt="Random mode" width="12" height="9">
                    </a>                          
                </div>

                <div class="row">
                    <div class="col-md-12 no-margin no-padding">
                        <div class="questions-content">
                            <div class="question question-wrap">
                                <div class="row">
                                    <div class="col-md-12 no-margin no-padding">
                                        <div class="parent">
                                            <div class="col-md-perso-1">
                                                <img class="question-grip handle" src="{{ asset('bundles/trace/img/grip.png') }}" alt="Drag - drop" title="Drag - drop" width="10" height="34">
                                                <span class="{{'glyphicon glyphicon-remove remove-media-video edition-mode removevideo'~question.id}}" data-document-id="" style="display: none;"></span>
                                                <a href="#" class="{{'media-video show-edition-mode videolinkcustom videolink'~question.id}}" data-question-id="{{question.id}}" data-document-id="">
                                                    <img src="{{ asset('bundles/trace/img/play.png') }}" alt="Watch the video" title="Watch the video" width="20" height="20" style="top: 17px;"> 
                                                </a>
                                            </div>
                                            <div class="col-md-perso-11 no-margin no-padding">
                                                <textarea rows="2" name="questionname[]" data-id="{{question.id}}" class="form-control question_name show-edition-mode" placeholder="Enter your question here…"></textarea>
                                                {#<div class="pull-right">
                                                    <span class="glyphicon glyphicon-remove remove-media-image edition-mode" data-document-id="3690" style="display: none;"></span>
                                                    <a href="/document/see?id=3690" class="media-image show-edition-mode" data-toggle="ajax-modal">
                                                        <img src="{{ asset('bundles/trace/img/media-image.png') }}" alt="View image" title="View image" width="17" height="17" style="top: 13px;">
                                                    </a>
                                                    <span class="glyphicon glyphicon-remove question-del-btn edition-mode" style="display: none;"></span>
                                                </div>#}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                            <div class="answer-type-list">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <select class="responsetype" data-id="{{question.id}}" name="responsetype[]">
                                                            <option value="1">Text</option>
                                                            <option value="2">Date</option>
                                                            <option value="3">Video</option>
                                                            <option value="4">Choice</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6 maxtakewidget">

                                                    </div>
                                                </div>           
                                            </div>
                                        </div>            

                                        <div class="col-lg-6 col-md-12 col-sm-12 no-margin no-padding">
                                            <div class="show">
                                                <div class="time row text-right">
                                                    <div class="col-sm-offset-1 col-sm-2">
                                                        <select class="thinktime" data-id="{{question.id}}" name="thinktime[]">
                                                            <option value="0">0</option>
                                                            <option value="10">10</option>
                                                            <option value="20">20</option>
                                                            <option value="30">30</option>
                                                            <option value="60">60</option>
                                                        </select>
                                                    </div>                                                              
                                                    <div class="col-sm-1"><img class="show-edition-mode" src="{{ asset('bundles/trace/img/time-active.png') }}" alt="Duration" title="Duration" width="14" height="14"></div>
                                                    <div class="col-sm-1"><input data-id="{{question.id}}" type="text" id="minduration" name="minduration[]" maxlength="3" style="width: 30px;"/></div>
                                                    <div class="col-sm-5"><div id="slider-range"></div></div>
                                                    <div class="col-sm-1"><input data-id="{{question.id}}" type="text" id="maxduration" name="maxduration[]" maxlength="3" style="width: 30px;"/></div>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-left">
                                        <div class="choicewidget"></div>
                                    </div>
                                </div>      
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="custom-modal" data-question-id="{{question.id}}">

    </div>                                                
    <div class="custom-video-play" data-question-id="{{question.id}}">

    </div>                                                
</div>  
