{% extends 'TraceBundle::layout.html.twig' %}
{% block stylesheets %} 
    {{ parent() }} 
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{#    <link href="{{ asset('bundles/trace/css/jquery.datetimepicker.css') }}" type="text/css" rel="stylesheet" />#}
    <link href="{{ asset('bundles/trace/css/loader.css') }}" type="text/css" rel="stylesheet" /> 
    <link rel="stylesheet" href="//assets-cdn.ziggeo.com/v1-stable/ziggeo.css" />
    <style>
    .navbar-default .navbar-nav > li > a {
        color:#337ab7;
    }
    </style>
{% endblock %}  

{% block content %} 
    <nav id="topnav" class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a href="#"><img id="brand-logo" src="{{ asset('bundles/trace/img/logo-epita.png') }}" width="50" height="50" alt="easyRECrue" title="easyRECrue" /></a>
            </div>

            <div id="navbar-links-collapse" class="collapse navbar-collapse text-center">
                <ul class="nav navbar-nav navbar-center">
                    <li>
                        <a>Step 3/4: Recording</a>
                    </li>  
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>{{campaign.campaigntitle}}</a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>
                    
    <div class="container">
        <div id="viewquestion" class="text-center" data-question-id="{{question.id}}" data-unique-code="{{uniquecode}}" data-think-time="{{question.thinktime}}" data-max-duration="{{question.maxduration}}" data-min-duration="{{question.minduration}}">
            <h3>Question {{question.sortorder}} out of {{questionairelength}}</h3>
            <br>
            {% if question.question is defined %}<h3>{{question.question}}</h3>{% endif %}
            
            {% if question.isvideo == TRUE %}
                <div class="text-center video-div">    
                    <video id="myVideo" width="640" height="480" data-question-id="{{question.id}}" data-document-id="{{document.id}}" class="{{"video"~document.id}}" controls>
                        <source src="{{asset('tenant/'~question.tenant.id~'/document/'~document.id~'/video/'~document.documentname)}}" type="video/mp4">
                    </video>  
                </div>         
            {% endif %} 
{#            <div id="hdfvr-content"></div>   #}
            {% if question.responsetype==3 %}
            {#<ziggeorecorder  id="hdfvr-content" ziggio-skipinitial=true ziggeo-limit=30 ziggeo-width=320 ziggeo-height=240>
            </ziggeorecorder >#}
            <div id="hdfvr-content"></div>     
            <div id="thinktime" style="margin-top:-310px;"> </div>     
            {% else %} 
            <div id="thinktime"> </div>   
            {% endif %}
            <br>     
            <br>     
            <br>     
            <br>     
            <br>     
            <br>     
            <button class="btn btn-primary answer-now" type="button" value="answernow" data-timeleft="">Answer now</button>
            <div id="input-widget">
            {% if question.responsetype==1 %}
            <form method="post" id="response" action="{{ path('questionresponsepage',{'uniquecode': uniquecode}) }}">         
                <textarea class="response-input" id="txtArea" name="answer" form="response" rows="3" cols="70"></textarea>                             
                <input type="hidden" name="question_id" value="{{question.id}}">
                <br>
                <progress value="0" max="{{question.maxduration}}" id="progressBar"></progress>
                <br>
                <br>
                <br>
                <button class="btn btn-primary finished-answering hidden" type="button" value="finished">I've finished answering</button>
                <button class="btn btn-primary submit hidden" type="submit" value="submit">Question answered, continue the process</button>
            </form>
            {% elseif question.responsetype==2 %}
            <form method="post" id="response" action="{{ path('questionresponsepage',{'uniquecode': uniquecode}) }}">
                <div class="col-sm-offset-5 col-sm-2">
                    <input class="response-input input-md form-control" name="answer" type="text" id="datepicker" value="" >
                </div>
                <input type="hidden" name="question_id" value="{{question.id}}">
                <br>
                <br>
                <progress value="0" max="{{question.maxduration}}" id="progressBar"></progress>
                <br>
                <br>
                <br>
                <button class="btn btn-primary answer-now hidden" type="button" value="answernow">Answer now</button>
                <button class="btn btn-primary finished-answering hidden" type="button" value="finished">I've finished answering</button>
                <button class="btn btn-primary submit hidden" type="submit" value="submit">Question answered, continue the process</button>
            </form>
            {% elseif question.responsetype==3 %}
{#            <div id="hdfvr-content"></div> #}
{#            <br>#}
            <br>
            <form method="post" id="response" action="{{ path('startinterviewpage',{'uniquecode': uniquecode}) }}">
            <progress value="0" max="{{question.maxduration}}" id="progressBar"></progress>
                <br>
                <br>
                <br>
                <button class="btn btn-primary answer-now hidden" type="button" value="answernow">Answer now</button>
                <button class="btn btn-primary finished-answering hidden" type="button" value="finished">I've finished answering</button>
                <button class="btn btn-primary submit hidden" type="submit" value="submit" onClick="embedding.destroy();">Question answered, continue the process</button>
                </form>
            {% elseif question.responsetype==4 %}
            <form method="post" id="response" action="{{ path('questionresponsepage',{'uniquecode': uniquecode}) }}">
                <div class="col-sm-offset-4 col-sm-4">
                    <select class="choicetype response-input" {% if question.hasmultipleanswer==true %}multiple name="answer[]"{% else %}name="answer"{% endif %}>
                        {% for choice in question.questionoptions %}
                            <option value="{{choice.value}}">{{choice.value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="question_id" value="{{question.id}}">    
                <br>
                <br>
                <br>
                <progress value="0" max="{{question.maxduration}}" id="progressBar"></progress>
                <br>
                <br>
                <button class="btn btn-primary answer-now hidden" type="button" value="answernow">Answer now</button>
                <button class="btn btn-primary finished-answering hidden" type="button" value="finished">I've finished answering</button>
                <button class="btn btn-primary submit hidden" type="submit" value="submit">Question answered, continue the process</button>
            </form>
            {% endif %}
            </div>    
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{#    <script src="{{ asset('bundles/trace/js/jquery.datetimepicker.full.min.js') }}"></script> #}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/chosen/1.1.0/chosen.jquery.min.js"></script>
    <script src="//assets-cdn.ziggeo.com/v1-stable/ziggeo.js"></script>
    <script>ZiggeoApi.token = "r18259215af30572fc8dfaf4d88450c4";</script>
    <script>
        $(document).ready(function () {             
            ZiggeoApi.Events.on("system_ready", function() {
                var maxduration = $('#viewquestion').attr('data-max-duration');
            
                var embedding = new ZiggeoApi.V2.Recorder({
                element: document.getElementById("hdfvr-content"),
                attrs: {
                    width: 320,
                    height: 240,
                    theme: "modern",
                    themecolor: "red",
                    skipinitial: true,
                    limit: maxduration,
                    countdown: 0,
                    localplayback: false,
                    //max take
{#                    rerecordable: true,#}
                    recordings: 1,
                    picksnapshots: false,
    {#                gallerysnapshots: 1#}
    {#                manualsubmit: "true"#}
{#                    skipinitialonrerecord: true#}
                }
            });
        
            var questionid = $('#viewquestion').attr('data-question-id');
            var uniquecode = $('#viewquestion').attr('data-unique-code');
            $.ajax({
                type: 'POST',
                url: Routing.generate('questionviewpage'),
                contentType: 'application/x-www-form-urlencoded',
                data: {question_id: questionid, unique_code:uniquecode},
                success: function (result, status, xhr) {
                    res = JSON.parse(result);
                },
                error: function (xhr, status, error) {
                    console.log(status);
                }
            });
            //hide/show input widget based on think time
            $('#input-widget').hide();
            $('#hdfvr-content').hide();
            
            var timeLeft = $('#viewquestion').attr('data-think-time');
            var elem = document.getElementById('thinktime');
            
            var lefttime = $('#viewquestion').attr('data-max-duration');
            var minduration = $('#viewquestion').attr('data-min-duration');
            
           // loader(circle) variables
            var time = $('#viewquestion').attr('data-think-time');
            var initialOffset = '440';
            var i = 1;
            
            // remove video pause button
            var video = document.getElementById("myVideo");
            if(video){
            $('video').one('play', function () {
               video.removeAttribute("controls");  
            }); 
            
            $('#thinktime').hide();
            $('.answer-now').hide(); 
            
            document.getElementById('myVideo').addEventListener('ended',myHandler,false);  
            }else{ 
            timerId = setInterval(countdown, 1000);
            $('.answer-now').show();    
            loader(time,initialOffset,i);
            }
            
            function myHandler() { 
                embedding.activate();    
                $('div[data-selector="controlbar"]').css('display', 'none');
                $('.ba-videorecorder-theme-modern-dashboard').css('display', 'none');
                $("#myVideo").remove();   
                $('#thinktime').show();
                $('#hdfvr-content').show();
                $('.answer-now').show();
                timerId = setInterval(countdown, 1000);
                loader(time,initialOffset,i);
            }
            
            // loader
            function loader(time,initialOffset,i){ 
            /* Need initial run as interval hasn't yet occured... */
            $('.circle_animation').css('stroke-dashoffset', initialOffset-(1*(initialOffset/timeLeft)));

            var interval = setInterval(function() {
                    $('h2').text(i);
                    if (i == time) {  	
                      clearInterval(interval);
                      return;
                    }
                    $('.circle_animation').css('stroke-dashoffset', initialOffset-((i+1)*(initialOffset/time)));
                    i++;  
                }, 1000);
            elem.innerHTML = '<div class="item html"><h2>0</h2><svg width="160" height="160" xmlns="http://www.w3.org/2000/svg"><g>\n\
                <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none">'
                '</circle></g></svg></div>';
            }
            
            function countdown() {
              $('.answer-now').click(function(){
                 $(this).data('clicked', true);
                });
              if (timeLeft == 0 || $('.answer-now').data('clicked')) {               
                clearTimeout(timerId);
                embedding.record();
{#                onCamAccess(true, '2', function(){
                    onRecorderReady('2', 'flash', function(){
                        setTimeout(function() {document.VideoRecorder.record();}, 1000);
                    });
                });#}
                $('#input-widget').show();
                $('#thinktime').hide();
                $('.answer-now').hide();
                var downloadTimer = setInterval(function(){
                document.getElementById("progressBar").value = lefttime;
                lefttime--;

                if(lefttime == (maxduration-minduration)){
                    $('.finished-answering').removeClass('hidden');
                    $('.finished-answering').click(function () {
                        clearInterval(downloadTimer);
{#                        document.VideoRecorder.stopVideo();#}
{#                        document.VideoRecorder.save();#}
                        embedding.stop();
{#                        embedding.upload();#}
                        $('#hdfvr-content').find("[data-selector='recorder-player']").css('margin-left','408px');
                        $('.record-icon').remove();
{#                        $('.submit').removeClass('hidden');#}
                        $('.finished-answering').addClass('hidden');
                        $('#progressBar').hide();
                        $('.response-input').prop("readonly", true);
                        $('.choicetype').prop('disabled',true).trigger('chosen:updated').prop('disabled',false);
                    });
                }
                if(lefttime == 0){
                  clearInterval(downloadTimer);
{#                  document.VideoRecorder.stopVideo();#}
{#                  document.VideoRecorder.save();#}
                    embedding.stop();
{#                    embedding.upload();#}
                  $('#hdfvr-content').find("[data-selector='recorder-player']").css('margin-left','408px');
                  $('.record-icon').remove();
{#                  $('.submit').removeClass('hidden');#}
                  $('#progressBar').hide();
                  $('.finished-answering').addClass('hidden');
                  $('.response-input').prop("readonly", true);
                  $('.choicetype').prop('disabled',true).trigger('chosen:updated').prop('disabled',false);
                  }
              },1000);
              } else {                                               
              //  elem.innerHTML = '<h1>'+timeLeft+'</h1>';
                timeLeft--;
                $('.answer-now').data('timeleft', timeLeft);
                
              }
            } 
            //hide/show input widget ends here
            
            $('#datepicker').datepicker();
            
            $('.choicetype').chosen({
                width: '100%'
            });
{#           });  #}
            
            // video recorder
            {#var maxduration = $('#viewquestion').attr('data-max-duration');
            count = 0;
            size = {width:400,height:330};
            flashvars = { recorderId: "2",qualityurl: "avq/300p.xml",accountHash:"e82aab39d74113c9773a5e552969d857", eid:1, showMenu:"false", mrt:maxduration ,sis:1,asv:0,mv:0, dpv:0, ao:0, dup:0};
            (function() {
                var pipe = document.createElement('script');
                pipe.type = 'text/javascript';
                pipe.async = true;
                pipe.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.addpipe.com/1.3/pipe.js';var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(pipe, s);
            })();#}
            embedding.on("recording", function () {
                $("#hdfvr-content").append('<span style="color:red; margin:215px 0px 0px -25px; position:absolute;" class="record-icon glyphicon glyphicon-record"></span>');
            });   
                        
            embedding.on("uploaded", function () {
                $('.submit').removeClass('hidden');
            });
            
            embedding.on("processing", function ( percentage ) {
                $('.ba-videoplayer-message-message').css('display', 'none')
            });
    });
});
            
{#            function onCamAccess(allowed, recorderId, callback) {
                callback();
            }
            function onRecorderReady(recorderId, recorderType, callback) {
                callback();
            }
            function btRecordPressed(recorderId) {
                $("#hdfvr-content").append('<span style="color:red; margin:225px 0px 0px -25px; position:absolute;" class="record-icon glyphicon glyphicon-record"></span>');
            }
            function btStopRecordingPressed(recorderId) {
                $('.record-icon').remove();
            }
            function onUploadDone(streamName, streamDuration, userId, recorderId, audioCodec, videoCodec, fileType, audioOnly, location) {
                ++count;
            } #}
            
                        
    </script>
{% endblock %}